[2015-12-21 16:14] dustymabe commented on #462
right. but to use them with `oc new-app` we have to add the secret to a service account right? We can't just add the secrets to the "install" pod because it hasn't been created yet.

as far as creating the answers.conf we could just have `oc new-app` print out the answers.conf file contents to stdout and have the user create a file out of that. we then have to delete the answers.conf from the serv

[2015-12-21 16:56] #467 closed

[2015-12-21 17:10] aweiteka commented on #462
@dustymabe right. Not ideal, for sure.

[2015-12-22 13:52] dustymabe commented on #459
Closed via #465

[2015-12-22 13:52] #459 closed

[2015-12-22 15:04] rtnpro commented on #378
@cdrage Global params have been supported in atomicapp from a long time. We just need to update Nulecule spec docs.

[2015-12-22 15:05] rtnpro commented on #378
@dustymabe, @vpavlin, do we have a go for updating Nulecule spec on this?

[2015-12-22 15:07] rtnpro commented on #447
This will be taken care by #423

[2015-12-22 15:17] rtnpro commented on #319
@dustymabe isn't it already taken care by #456 ?

[2015-12-22 15:25] rtnpro commented on #461
I will take a look into it.

[2015-12-22 15:29] dustymabe commented on #319
@kadel @rtnpro, right. The way @rtnpro implemented #456 it should take care of all of the providers.

@rtnpro you will need to wait for #458 before we can add in the plumbing to undeploy for openshift.

[2015-12-22 15:38] dustymabe commented on #461
@rtnpro make sure that, whatever you do, you don't try to interface with the docker registry directly via REST API calls. I already have a POC implementation of that but have been told it's not going to be a solution we are happy with.

[2015-12-22 15:58] dustymabe commented on #461
@rtnpro openshift has a `./oc rsync` command. Try it out with `--strategy=tar` and see if that is something we can use.

Basically we would need to start the container (in a pod) and then make it sleep or something. Then we would run the equivalent of the `oc rsync` against the sleeping pod and have it copy the files to the local install pod (the one started with `oc new-app`).

[2015-12-29 16:01] cdrage opened #475 "self.nulecule_base.checkAllArtifacts() missing in new refactor."
Seems that during the re-factor we've removed a function `checkAllArtifacts()` (correct me if I'm wrong).

Noticed that this was missing when implementing cockpit support for the re factored logging PR

[2015-12-29 17:53] cdrage opened #476 "Raise on failure of component get."
Before our refactor we used this:

[code]

We no longer raise upon not finding the particular component in our refactor.

ping @rtnpro ?

[2015-12-31 10:09] rtnpro opened #478 "Fix namespaces in answers.conf"
## Problem
Given the current structure of ``answers.conf``, there's high chance of namespace(where namespaces are nothing but app names) collisions in nested Nulecule apps. For example, if there's a nested Nulecule application as below:
[code]
The params loaded for ``app2`` in the different Nulecule applications will conflict each other in the section ``app2`` of ``answers.conf``. This is because

[2015-12-31 16:58] cdrage commented on #475
ping @rtnpro

[2016-01-01 07:51] rtnpro commented on #447
@cdrage

Currently, we do pass the entire config data to all the nodes. So, a node can always checkup for the ``namespace`` param in ``config['general']``.

[2016-01-01 13:08] rtnpro commented on #475
@cdrage IIRC, yes!

[2016-01-01 17:05] cdrage commented on #475
@rtnpro so should we add it back?

[2016-01-04 13:53] tkdchen commented on #41
Hi, I'm sorry, I just noticed this issue. It's been a long time. Just checked with master branch, this issue is not fixed yet. To be clear, "data files", I mean, are any other files except Python source files, such as `Dockerfiles.*`, `*.txt`, `MAINTAINERS`, `*.md`. Can this issue be reopen, or let me file a new one?

[2016-01-04 15:01] cdrage commented on #41
@tkdchen Makes sense to add some docs to the Python installation!

We've discussed this a bit, but we think that we should add:
- Docs (.md files)
- License, maintainers, etc. (.txt files)
- Dockerfiles (maybe this is outside of the the scope of the installation files)

Is there anything else that should be added / removed?

[2016-01-04 17:07] #396 closed

[2016-01-04 20:16] #458 closed

[2016-01-04 20:18] dustymabe commented on #319
ok #458 has been fixed. @rtnpro, you should be able to add the support to undeploy() in openshift now

[2016-01-04 21:18] cdrage opened #481 "Cannot to "atomicapp --version" without including run/install/etc."
[code]

[2016-01-04 22:23] cdrage opened #482 "Problems building atomic app docker container"
Seems that the current version of Docker in centos is broken for dockerization.

doing: `docker build -t atomicapp .`

[code]

Seems to be an issue with systemd-container EOL

[2016-01-04 22:25] dustymabe commented on #482
This happened with centos 7.2. It shouldn't be a problem if you are basing off the latest `centos:7` container. Do a docker pull on `centos:7` and then try to rebuild.

[2016-01-04 22:26] cdrage commented on #482
Nevermind! Just found: http://seven.centos.org/2015/12/fixing-centos-7-systemd-conflicts-with-docker/

Closing. >.>

[2016-01-04 22:26] #482 closed

[2016-01-04 22:26] cdrage commented on #482
@dustymabe beat me to it! thanks :)

[2016-01-05 04:43] tkdchen commented on #41
@cdrage IMO, source distribution package should contain all files.

The binary distribution package generated by `python setup.py bdist`, and the installation as well, should contain Python modules at least. Regarding the *.md, docs/ and *.txt files, SPEC file instead of `setup.py` may be a better place to install them by %doc

[2016-01-05 13:58] kadel commented on #358
I have been able to locate where the problem was.

at https://github.com/projectatomic/atomicapp/blob/0.2.3/atomicapp/providers/openshift.py#L118
Each artifact is added to `kube_order` with kind as key. So when there was multiple artifacts of same kind `kube_order[<kind>]` is overwritten each time and only last artifact of that kind is then processed.

I successfully reproduce this in version 0.2.

[2016-01-05 13:58] #358 closed

[2016-01-05 14:32] vpavlin commented on #436
Isn't this duplicate of #437 ?

[2016-01-05 14:48] cdrage commented on #436
Yup, looks that way, let's close the other one since this one has a bit of a better example.

[2016-01-05 14:48] #437 closed

[2016-01-05 15:07] rtnpro commented on #436
:+1: for this feature

[2016-01-05 15:09] rtnpro commented on #378
@vpavlin @aweiteka @goern @cdrage @dustymabe ping

[2016-01-05 15:38] cdrage commented on #378
Hmm, so if global params are implemented, I'm assuming this will work just by passing `defaultprovider` correct?

[2016-01-05 15:53] aweiteka commented on #378
Per [previous comments](https://github.com/projectatomic/nulecule/issues/184#issuecomment-158156406) I still recommend we make this an optional extension of the metadata. No spec change is needed. Ideally this is a fallback directive. atomicapp should intelligently determine the default based on capability and an ordered list. If nothing specified, try these providers in order if available.

[2016-01-05 19:05] cdrage opened #483 ""atomic stop ." doesn't work in comparison to "atomicapp stop .""
While testing atomic cli vs atomicapp cli I found a bit of an inconsistency.

What would be the best way to actually stop stop in atomic-cli? Doing something such as `atomic stop projectatomic/helloapache` does not work. An image name is required to be passed to `atomic cli`, so I'm unable to use `atomic stop .` when in the atomicapp directory application I want to stop.

[code]

[2016-01-05 23:57] dustymabe commented on #483
`atomic stop <image> /path/to/app` is what we are going to have to use for now.

[2016-01-06 00:00] dustymabe commented on #483
I just added a commit to `atomic` cli to enable extra args for `stop` that will allow for this to work:
https://github.com/projectatomic/atomic/commit/ec724f7bca0b0ad5ca83b1b09b75f15d6999e345

[2016-01-06 00:06] dustymabe opened #484 "openshift undeploy doesn't properly select all pods from rc"
The undeploy code hardcodes `params = {"labelSelector": "deployment=%s" % name}`. Depending on the selector used by the user this might not be correct. In the case that I ran across this the selector I was using was just `name: etherpad` as shown below. We should detect what selector was used and use that instead of hardcoding `deployment` as it is now.

This has the effect of not cleaning up the

[2016-01-06 01:30] cdrage commented on #483
Ahhhh, I've been testing against `atomic 1.5` :) Ironically 1.8 was released today!

[2016-01-06 01:36] cdrage commented on #483
Hmmmm. Looks like I'm blocked on atomic CLI :( (at least on Debian) I'm going to file a bug report
[code]

[2016-01-06 01:38] cdrage commented on #483
Filed https://github.com/projectatomic/atomic/issues/268

[2016-01-06 04:12] dustymabe commented on #378
So from aarons comment if we just use the metadata section then a spec file would look like this:

[code]

That seems reasonable and wouldn't require an update to the spec. @rtnpro what would an example nulecule file look like if we implemented this in global params?

[2016-01-07 11:48] rtnpro commented on #461
@dustymabe

Correct me if I am wrong?

So, if the ``atomicapp`` code doesn't have access to ``docker`` daemon, then no docker commands will work, e.g., ``docker cp``, etc. Or, is it just prohibited to access Docker registries?

If only ``docker pull`` is forbidden, then the solution is pretty simple:
[code]

[2016-01-07 15:11] dustymabe opened #486 "openshift: make sure namespace value gets back into config"
If I run and my answers.conf doesn't have a `namespace=default` in it then the namespace from the `providerconfig` (if provided) will be used. We need to make sure the namespace that gets used gets put back in the config so that the written out answers.conf.gen file will have it. If we don't then when we try to run a `stop` we will see an error because the wrong value for namespace got put in `ans

[2016-01-07 15:15] #484 closed

[2016-01-07 15:17] dustymabe commented on #62
We just merged persistent storage for kubernetes in #460. Closing.

[2016-01-07 15:17] #62 closed

[2016-01-07 15:27] cdrage commented on #471
with the closure of #460 persistent storage will also need to be added to atomicapp for a list of implemented functions.

[2016-01-07 20:22] cdrage opened #487 "atomicapp currently broken with atomic when using dashes in image names."
Please see https://github.com/projectatomic/atomic/issues/271

Seems that when using a dash in an image name, it's currently breaking atomicapp functionality.

For example, the image name "wordpress-centos7-atomicapp" doesn't work, while "helloapache"  does when running: `atomic run projectatomic/wordpress-centos7-atomicapp -a answers.conf`

[2016-01-07 22:59] dustymabe commented on #461
we don't have access to the docker daemon at all. no docker commands will work.

Here is an example using just oc commands to grabbing a file from an image:

[code]

now we just need to figure out the rest requests to make to get this to happen without the oc commmand.

[2016-01-08 04:55] rtnpro commented on #461
@dustymabe this was the worst thing I was fearing to do :(

[2016-01-08 09:05] rtnpro commented on #461
@dustymabe I am working on writing some code to achieve this using openshift API. I will put up a PR as soon as I have a working version.

[2016-01-08 15:08] dustymabe commented on #461
@rtnpro there is this for exec a command in a pod:
https://docs.openshift.com/enterprise/3.0/rest_api/kubernetes_v1.html#connect-get-requests-to-exec-of-pod

[2016-01-08 15:34] cdrage commented on #430
@aweiteka

Looks like I encountered this exact same issue when creating my Jenkins cluster :( I'm going to have to revert to using a different SSH slave plugin.

Nothing we can do as using exec / interactive commands with Docker is essential in `atomic` and `atomicapp`.

[2016-01-08 17:17] dustymabe commented on #461
@rtnpro so it looks like we have hit a roadblock..

The `exec` api calls require us to upgrade our protocol to SPDY vs HTTPS. python-requests does not support this so it seems like this is not a valid option for us for now. We are back to square 1.

[2016-01-08 17:28] kadel commented on #461
@dustymabe Today,  I have been playing with k8s API `/exec` and there is also another option. You can use websockets instead of HTTP/2 (SPDY).

To be honest I don't know much about websockets.
But I have been able to create something that is working: https://gist.github.com/kadel/6322bf8a1ba8e7f3bb73

[2016-01-08 20:25] aweiteka commented on #430
@cdrage this is presumably an issue that would occur for a container-ized test suite so I'm very interested in what you find for a solution. Let me know!

[2016-01-08 20:48] dustymabe commented on #461
@kadel - great work

I was able to take your POC and modify it to actually do the tar stuff we want:

[code]

One example of running it:

[code]

[2016-01-08 20:49] dustymabe commented on #461
@kadel @rtnpro - can you work together to make this into something we can use?

[2016-01-11 02:45] dustymabe commented on #487
After trying to recreate this with @cdrage, we could not. Closing

[2016-01-11 02:45] #487 closed

[2016-01-11 11:37] rtnpro commented on #447
@cdrage ping?

[2016-01-11 13:21] rtnpro commented on #378
@dustymabe the above looks much cleaner compared to
[code]

[2016-01-11 13:21] bexelbie opened #493 "/run/lock doesn't exist by default in centos:7 docker"
/run/lock doesn't exist until after the docker package is installed.

I have opened a bug:

https://github.com/CentOS/sig-cloud-instance-images/issues/46

However, I believe we should reorganize the dockerfile to fix this.  PR coming.

[2016-01-11 13:27] bexelbie opened #494 "/run/lock doesn't exist by default in fedora:23 docker"
/run/lock doesn't exist until after the docker package is installed.

I have opened a bug:

https://fedorahosted.org/rel-eng/ticket/6328

However, I believe we should reorganize the dockerfile to fix this. PR coming.

[2016-01-11 13:30] vpavlin commented on #378
No, it does not look cleaner:) It looks like adding another layer of indirection to params
[code]

My preference is using global params - but I wouldn't use `defaultprovider`, but simply `provider` so that it's easily changeable in answers and does not add any code

[2016-01-11 14:30] rtnpro commented on #378
I think we should use a poll here: http://poll.gitrun.com/ :)

[2016-01-11 17:14] dustymabe commented on #378
@vpavlin - With your suggestion of using global params and using `provider` vs `defaultprovider`, I think that could be a reasonable solution as well. Documenting that you can do that would be the only problem, but I think it is one we could overcome easily by including it in our examples.

@rtnpro do you think using global params as he suggested is reasonable?

[2016-01-11 17:29] cdrage commented on #430
@aweiteka

Tried everything within Jenkins. They have absolutely no support for running interactive shells within their plugins.

Although running atomic / atomicapp with non-tty support would be a good use-case.

I've filed issue https://github.com/projectatomic/atomic/issues/279

[2016-01-11 21:09] cdrage commented on #447
@rtnpro Yeah, you're right, but we don't pass _all_ the information yet (for ex. if we add params about persistent storage and such onto the graph it's not passed onto the provider) just the general configuration information.

[2016-01-12 17:10] kadel opened #500 "Creating Nulecule apps from OpenShift."
This is probably not linked directly with AtomicApp, but I don't know where else to put this so we can discuss it.

**I short we need tool that will create Nulecule application with Kubernets artifacts from OpenShift application.**

some notes and examples  are here: https://gist.github.com/aweiteka/a8bf75930e235879bcdd

[2016-01-12 18:59] #451 closed

[2016-01-12 21:21] dustymabe opened #501 "Check status of target environment before deploy"
We should check the status of the target environment before we start deploying artifacts. If we have 4 artifacts to deploy:

etherpad rc
etherpad svc
mariadb rc
mariadb svc

Then we should check to see what exists in the target environment before we start to deploy. If any of them exist before then we shouldn't attempt to deploy any of them.

[2016-01-12 21:24] dustymabe commented on #501
Anyone who picks up this issue should not worry about doing it on the kubernetes provider until we migrate kubernetes to use the API. (i.e. do kubernetes last)

[2016-01-13 15:16] kadel opened #502 "Atomicapps fails when there is not metadata in Nulecule"
AtomicApp fails when there is no `metadata` field in Nulecule.
[code]

According to [Nulecule spec](https://github.com/projectatomic/nulecule/tree/master/spec#container-application-object) `metadata` field should be optional.

[2016-01-14 15:06] #461 closed

[2016-01-14 17:53] cdrage opened #507 "Add a persistent storage doc"
I need to add one to `/docs` :) no example out there on how to use it.

[2016-01-14 18:17] dustymabe opened #508 "Add tests for --provider* cli options"
We need to add unit tests for the --provider* cli options added in #506

[2016-01-15 04:24] dustymabe opened #509 "docker provider: undeploy fails on artifacts with --name=NAME"
the regex looks for --name, not --name(=)?

[2016-01-15 04:54] dustymabe commented on #509
The gitlab example exposes this bug.

[2016-01-15 20:11] cdrage opened #513 "--dry-run within OpenShift provider does not work"
See below. We should *not* be connecting to OpenShift during dry-run. Dry-run is meant to outline what commands would be ran as well as whether answers.conf is passed in correctly, etc.

[code]

[2016-01-15 20:23] cdrage opened #514 "Why `artifact in objects` for OpenShift provider?"
Just wondering, what is the point for:

[code]

Is the reason why it's looping through objects due to if someone were to define (for exapmle) a ReplicationController as well as a Pod in the same .yaml file?

[2016-01-15 20:24] cdrage commented on #514
Isn't the main use case / what people usually do is define one on each .yaml file? Rather than an all-in-one?

[2016-01-16 00:27] dustymabe commented on #514
That is typically what we have done in our examples but it isn't necessary. We need to account for this possibility. We'll keep it the way it is unless there is some issue it is causing.

[2016-01-16 01:47] dustymabe opened #515 "Defaulting to provider is unreliable"
`Utils.getSupportedProviders()` doesn't properly handle that artifacts could be inherited artifacts in the Nulecule file (an example is [here](https://github.com/projectatomic/nulecule-library/blob/feb892e0d7e7aa7c218334e9fa3028cb1db137c9/mariadb-centos7-atomicapp/Nulecule#L27)). I hit this issue when trying to add providers openshift support to the guestbook example. After adding the 'inherited'

[2016-01-18 10:15] kadel commented on #513
I had discussion with @rtnpro  about that. And we both agreed that `--dry-run` can call `GET` operations to get information as long as it is not making any changes.

There are couple of things that calls OpenShift api even during `--dry-run` now:
 -  `get_oapi_resources()` and `get_kapi_resources()` - getting lists of resources, to know which kind belongs to which api (k8s vs openshift). Without t

[2016-01-18 11:22] rtnpro commented on #319
This is fixed, already!

[2016-01-18 14:07] dustymabe commented on #319
There a  few outstanding items in the PR: https://github.com/projectatomic/atomicapp/pull/456#issuecomment-171872694

[2016-01-18 14:25] dustymabe commented on #462
One recent update: people can now embed answers.conf file in a container if they want to. Though not ideal, this would allow for passing in answers to OpenShift. This was done in 438ad78e.

[2016-01-18 16:37] #509 closed

[2016-01-18 21:25] cdrage opened #518 "Add scale command"
For example:
[code]

Which will deploy but scale the container to 0.

Same for stop:
[code]

Which will __not__ remove the container, but scale to 0.

Or....

[code]

?

This can be added __post GA__ after the changes to the current verbs.

[2016-01-19 14:56] cdrage opened #523 "Interacte through artifacts similar to OpenShift."
Kubernetes provider does not do this at the moment similar to OpenShift:
[code]

If a single file is provided with multiple artifacts we should iterate through each object.

[2016-01-19 14:58] dustymabe commented on #523
Will be taken care of when we move kube to share code with openshift and use the api: https://github.com/projectatomic/atomicapp/issues/446

[2016-01-19 16:25] rtnpro opened #524 "Create a config class to manage config data"
As mentioned here: https://github.com/projectatomic/atomicapp/pull/522#issuecomment-172894076, management of config data is becoming convoluted using a dictionary. It'd be best if we create a ``Config`` class which abstracts all operations (loading, resolving of config data) on config data and provides a clean interface to interact with the config data.

[2016-01-19 19:33] #378 closed

[2016-01-20 20:27] dustymabe commented on #514
Should we close this now?

[2016-01-20 20:28] dustymabe commented on #513
Seems reasonable. @cdrage, can we close this? Is it causing problems?

[2016-01-20 20:30] dustymabe commented on #483
https://github.com/projectatomic/atomic/issues/268 is fixed now. Can this be closed?

[2016-01-21 17:34] dustymabe commented on #514
@cdrage ^^

[2016-01-21 18:38] #514 closed

[2016-01-22 12:29] kadel opened #528 "Update docs regarding renaming `install` to `fetch`"

[2016-01-22 14:25] dustymabe commented on #528
+1, if someone starts working on this please assign the issue to yourself.

[2016-01-22 14:28] dustymabe commented on #483
Closing

[2016-01-22 14:28] #483 closed

[2016-01-25 15:46] cdrage commented on #513
I don't like the implementation and how we can't run a --dry-run without the user having to have OpenShift running on their system, but as @kadel described with get_oapi_resources an kapi, it's required in order to find a list of resources.

Closing this for now. But that you for the clarification!

[2016-01-25 15:46] #513 closed

[2016-01-25 15:56] cdrage commented on #452
Closing this  in favour of the new verb changes to atomicapp

[2016-01-25 15:56] #452 closed

[2016-01-25 21:53] dustymabe opened #529 "support relative path for ca specified in kubeconfig file"
Apparently it is possible for the path to the ca within the kubeconfig files to be specified as a path relative to the kubeconfig file itself. It is done this way in the CDK.

When parsing the kubeconfig file we should try to handle this. If it is a relative path then just find the dirname of the kubeconfig file and tack the path to the ca onto the end of it.

[2016-01-26 16:18] cdrage commented on #528
fixed by #530 there's actually not many instances of "install" in our docs here.

[2016-01-26 16:57] cdrage commented on #331
Hey @rtnpro you are working on a Config class for this. Seems that this issue would be fixed upon the completion of it, I'm going to assign this to you for now. :)

[2016-01-26 17:16] dustymabe opened #533 "Support authenticating via client certificate for Openshift"
You can authenticate to Openshift either with an OAuth token or client cert/key. Currently we only support the token method.

We should support client cert/key as well. See the following for an example of how to use the python-requests library to do the auth:

http://docs.python-requests.org/en/latest/user/advanced/#ssl-cert-verification

[2016-01-26 17:53] sub-mod commented on #533
+1

[2016-01-26 21:01] cdrage opened #534 "Better templating / getting started documentation"
Atomic App severely lacks documentation in regards to actually start using atomic app. We rely on the __nulecule spec__ which unfortunately imo is a bit cumbersome, see: https://github.com/projectatomic/nulecule/blob/master/spec/examples/template/Nulecule or https://github.com/projectatomic/nulecule/blob/master/docs/getting-started.md

As well as confusing to new users as it's a SPEC not an implem

[2016-01-27 06:03] dustymabe opened #536 "Bug with genanswers via atomic CLI"
Introduced in 93eb316.

[code]

[2016-01-27 11:45] surajssd commented on #502
I would like to work on this issue.

[2016-01-27 13:45] dustymabe commented on #502
Suraj, thanks. I assigned the issue to you

[2016-01-27 13:49] rtnpro commented on #502
Go @surajssd, go :+1:

[2016-01-28 05:49] surajssd commented on #502
The [Nulecule spec](https://github.com/projectatomic/nulecule/tree/master/spec#container-application-object) defines that the metadata should be optional but looking at the code [here](https://github.com/projectatomic/atomicapp/blob/master/atomicapp/nulecule/base.py#L42) it feels like the implementation is not done in such a way. So do we need to change the way Nulecule object is made by making `m

[2016-01-28 10:17] surajssd commented on #438
I would like to work on this as well.

[2016-01-29 13:47] cdrage commented on #438
@surajssd
I pushed https://github.com/projectatomic/atomicapp/pull/532 to fail on inheriting application, I'll add this for failing on an artifact too :-1:

[2016-01-31 21:40] #536 closed

[2016-02-02 11:48] adimania commented on #95
Hi Guys,
Any updates here? I would love to use this in a production like environment at the moment.
@dustymabe @cdrage @kadel @bexelbie

[2016-02-03 12:04] rtnpro commented on #502
@surajssd The Nulecule SPEC is correct. We need to fix the implementation of ``metadata`` in atomicapp. So, [here](https://github.com/projectatomic/atomicapp/blob/master/atomicapp/nulecule/base.py#L42), we can move ``metadata`` as a keyword argument with ``None`` as default. And in the ``__init__`` method, we do something like:
[code]
so that we have a dictionary for any subsequent use of ``metada

[2016-02-03 12:09] surajssd commented on #502
@rtnpro yes makes sense, also the way it is called from [`load_from_path`](https://github.com/projectatomic/atomicapp/blob/master/atomicapp/nulecule/base.py#L131) it will not break things also. So yeah just wanted to know if we change the definition there is no harm done.

[2016-02-03 12:38] rtnpro commented on #502
Cool, then you are good to go @surajssd :)

[2016-02-03 14:25] cdrage commented on #95
Errrrrr...

To be honest here I have no idea what this particularly means. Are you saying you want to control an AWS ec2 vps with atomicapp? It would be as simple as pointing your docker-config to that machine (ex. using docker-machine), correct me if I'm wrong.

If we're talking about full-on AWS integration with atomicapp this may be outside the scope of the spec / would need adjustments to it.

[2016-02-03 14:26] cdrage commented on #524
Yeahhhh. :+1: for this. Let's get this implemented.

Albit this should be added post-GA as to not incur any bugs introduced before-hand.

[2016-02-03 23:10] adimania commented on #95
Hi @cdrage,

I am looking for a provider for [Amazon EC2 container service](http://docs.aws.amazon.com/AmazonECS/latest/developerguide/Welcome.html), to manage containers, not vps.

[2016-02-04 01:19] cdrage commented on #95
Okay, I think this may be outside the scope of atomicapp imo..

If there's a library or something to communicate to the amazon ec2 api service I guess we can implement it, but that'll be another dependency.

[2016-02-04 04:37] rtnpro commented on #95
On Feb 4, 2016 2:19 AM, "Charlie Drage" <notifications@github.com> wrote:

service I guess we can implement it, but that'll be another dependency.

From a community standpoint, I see a value addition with the AWS container
provider. Not everyone use Openshift or Kubernetes.

[2016-02-04 13:46] rtnpro commented on #432
@cdrage ping?

[2016-02-04 13:53] rtnpro commented on #398
@cdrage ping? we need to sync up on this.

[2016-02-05 14:03] adimania commented on #95
there is a python api and it is packaged for Fedora and Epel (https://admin.fedoraproject.org/pkgdb/package/rpms/python-boto/). So from dependency standpoint, I think it should not be a big problem.
AWS ECS provides services similar to kubernetes where you can write in the config files for components (they call it cluster, services and tasks). I think it should align with the scope of atomicapp cl

[2016-02-05 15:04] cdrage commented on #95
If anyone wants to take the helm for this addition so be it :)

Just thinking about it again, but it *would* be cool to be able to talk to Amazon / Google 's container platforms.

I'm assuming the best one for Google would be **google-api-python-client**.

[2016-02-05 15:12] cdrage commented on #432
ping @sub-mod
did you get a chance to test this?

[2016-02-05 15:13] cdrage commented on #398
@rtnpro this will be fixed before GA. are you good with @dustymabe 's proposal on the naming scheme?

[2016-02-08 05:07] surajssd opened #542 "Move the `Developers` section from README to CONTRIBUTING"
Currently in the documentation of [`README.md`](https://github.com/surajssd/atomicapp/blob/master/README.md) we have [`Developers`](https://github.com/surajssd/atomicapp#developers) section, and again we have [`CONTRIBUTING.md`](https://github.com/surajssd/atomicapp/blob/master/CONTRIBUTING.md) so why not move the [`Developers`](https://github.com/surajssd/atomicapp#developers) section from [`READ

[2016-02-08 08:50] surajssd commented on #533
Can I work on this? If nobody is already doing so?

[2016-02-08 10:23] jberkus opened #544 "Consider rebasing Atomic App image on a stripped-down OS"
The atomicapp example container, based on CentOS7, is 289MB in size.  That's very large for an empty container.   If we want people to actually build their apps on top of it, then it needs to be smaller ... in the neighborhood of 30 to 50MB.

Would it be possible for us to obtain or produce a stripped-down OS for a smaller image?

[2016-02-08 12:21] rtnpro commented on #478
@dustymabe @cdrage

Do we want to merge it for GA? If not, we should remove the ``GA`` milestone label from this issue.

[2016-02-08 12:50] rtnpro commented on #447
@cdrage because persistent storage is not part of the config data, right now :) We need to syncup to discuss on this.

[2016-02-08 15:05] cdrage commented on #544
@jberkus

Yeah..... it's a bit *too* big.

I actually did a PR a few months back about using alpine linux instead, reducing it to 100mb, but we decided on a consistent platform instead for Atomic App.

One of the problems is the fact that we use a lot of dependencies (for ex. we actually *install* Docker, despite using the host's docker socket since we communicate with run commands rather than the

[2016-02-08 15:22] sub-mod commented on #432
yes,
I can see the cockpit specific logs.
I might have to add few extra logs in future. So far LGTM.

[2016-02-08 17:07] cdrage commented on #432
awesome :+1: :D i'll modify #415 and clean it up a bit before pinging people for review

[2016-02-09 15:38] rtnpro commented on #429
Fixed in #456 . Are we considering it for GA?

[2016-02-09 15:38] rtnpro commented on #429
@cdrage ^^

[2016-02-09 15:39] rtnpro commented on #428
Fixed in #456

[2016-02-09 15:40] rtnpro commented on #421
Fixed in #456

[2016-02-09 16:23] rtnpro commented on #475
@cdrage Yes!

[2016-02-09 16:31] cdrage opened #545 "Let's add checks :)"
Seems that:

[code]

were all removed somewhere between the refactor.

Let's add them back in again so we can test a bunch of stuff before launching an atomic app.

[2016-02-09 19:55] cdrage commented on #544
@jberkus

Your wish is granted :)

[code]

PR: #546

[2016-02-09 19:58] jberkus commented on #544
Whoo-hoo!

[2016-02-09 19:58] jberkus commented on #544
Closing ...

[2016-02-09 19:58] #544 closed

[2016-02-10 23:06] dustymabe commented on #502
closing #502 via #547

[2016-02-10 23:06] #502 closed

[2016-02-10 23:08] dustymabe commented on #486
We merged a workaround in #538 but we are leaving this bug open because it is not a pure solution.

[2016-02-11 15:31] cdrage opened #553 "yaml / json / ini checker of Nulecule. Beautify erroring out."
So when there's a JSON / YAML / INI error within AnyMarkup, we get this ugly error:
[code]

Let's beautify it up a bit so it's a bit less ambiguous.

[2016-02-11 15:54] cdrage commented on #429
Hey @kadel are you still being blocked by this?

[2016-02-11 16:53] dustymabe commented on #421
Removing the blocker label from this. We won't be doing this before GA for several reasons.

- #456 is a risky change that is a "nice to have"
- There are issues with removing a docker container from within atomicapp prior to docker 1.9

[2016-02-11 16:58] dustymabe commented on #462
Another update: you can now specify an answer file via url and you can also pass in args to `oc new-app` via environment variables. So to pass in an answers file that is accessible via http you can use `oc new-app --grant-install-rights -e ATOMICAPP_APPEND_ARGS="--answers=http://example.com/answers.conf"`

[2016-02-11 16:59] dustymabe commented on #462
While we want to have a better answer for this in the future there are currently two ways to pass in answers to `oc new-app`. Moving the milestone from GA for now.

[2016-02-11 17:05] dustymabe commented on #159
So we now have `fetch` instead of `install`. This was done in #525. Closing.

[2016-02-11 17:05] #159 closed

[2016-02-11 17:06] dustymabe commented on #389
Removing the blocker label from this. We won't be doing this before GA because:

- There are issues with removing a docker container from within atomicapp prior to docker 1.9

[2016-02-11 17:08] dustymabe commented on #319
Removing blocker label as the required change would be too risky for GA and is not worth it.

[2016-02-11 18:43] cdrage opened #554 "Test class not working"
[code]

Is incorrect.

In `self.assertRaises(NuleculeException, nc.render, provider_key, dryrun) ` it should actualy be: `self.assertRaises(NuleculeException, nc.render(), provider_key, dryrun)` (correct me if I'm wrong)

[2016-02-11 18:47] cdrage commented on #554
nvm, I who cant read selffassertRaises class haha. This code is fine :+1:

[2016-02-11 18:47] #554 closed

[2016-02-11 20:45] #515 closed

[2016-02-11 20:47] dustymabe commented on #435
Was able to recreate this with the following in my redis Nulecule file:

[code]

And then running with `atomicapp run ./ --provider=openshift`

[2016-02-11 21:56] cdrage commented on #533
@surajssd all yours!

[2016-02-12 14:56] dustymabe commented on #533
@surajssd.. so @kadel and I had a discussion about this when I first opened the ticket, but the discussion didn't make it back into the ticket.

What we have right now is `accesstoken` and that is the way we do auth. We'd like to change this to `providerauth`, or something generic like that, and allow the user to pass in either an Oauth access token or a path to client cert/key via that one config

[2016-02-15 15:34] kadel commented on #533
There is also another think we should support regarding `providerconfig`

There are two options how client cert/key can be specified in `providerconfig`
- `client-key-data` and `client-certificate-data`
- `client-key` and `client-certificate`

when first one (`*-data`) is used cert and key is embeded inside configfile as values of those keys
when second one is used it points to file with key/cert

[2016-02-16 17:34] surajssd opened #562 "Handle wrong provider name in answers.conf"
If the `provider` name for the atomicapp in `answers.conf` is mistaken(other than `docker`, `kubernetes`, `openshift`, `marathon`) then it fails giving all the stack trace without any sane error. Re-creating the errorsome condition:

[code]

But when `--provider` is given from command line then it works perfectly fine:

[code]

The fix is, to raise an error if given `provider_key` matches none of

[2016-02-16 17:35] surajssd commented on #562
Working on the fix.

[2016-02-16 19:05] #290 closed

[2016-02-17 11:02] rtnpro commented on #429
We've decided not to merge the ``atomic`` deployment feature into atomicapp for GA because:
- it's a risky change
- it's an enhancement
- this scenario was not at all considered in the product design for Nulecule/atomicapp.

[2016-02-17 16:15] #285 closed

[2016-02-18 14:47] #435 closed

[2016-02-19 18:50] #134 closed

[2016-02-19 18:50] #432 closed

[2016-02-19 19:07] dustymabe commented on #528
According to cdrage this is fixed by #530. Closing

[2016-02-19 19:07] #528 closed

[2016-02-21 16:09] cdrage commented on #441
Resolved by #477

[2016-02-21 16:09] #441 closed

[2016-02-22 09:50] containscafeine commented on #441
@cdrage @dustymabe @rtnpro, this still leaves a traceback behind.
Can I explore this more?

[2016-02-22 14:03] containscafeine opened #568 "docker pull <invalid image> errors out with traceback"
Invalid image name still errors out with traceback after #441's resolution.

2016-02-22 08:57:56,036 - [INFO] - main.py - Action/Mode Selected is: run
2016-02-22 08:57:56,036 - [DEBUG] - main.py - Final parsed cmdline: run --verbose foo --provider docker
2016-02-22 08:57:56,036 - [DEBUG] - main.py - NuleculeManager init app_path: /var/lib/atomicapp/foo-4714d136e9ec
2016-02-22 08:57:56,036 - [DEBUG

[2016-02-22 15:21] containscafeine opened #570 "Error not handled - docker daemon not running"
This is how `atomicapp` errors out when the docker daemon is not running.

2016-02-22 09:32:57,763 - [INFO] - main.py - Action/Mode Selected is: run
2016-02-22 09:32:57,763 - [DEBUG] - main.py - Final parsed cmdline: run --verbose foo --provider docker
2016-02-22 09:32:57,763 - [DEBUG] - main.py - NuleculeManager init app_path: /var/lib/atomicapp/foo-a45442b82021
2016-02-22 09:32:57,763 - [DEBUG]

[2016-02-22 17:10] cdrage commented on #417
I'm going to close this as we've confirmed via @sub-mod + @rtnpro that the new logging implementation works (with the exception of a hack to nulecule.js which will be resolved upstream)

[2016-02-22 17:10] #417 closed

[2016-02-22 17:10] cdrage commented on #438
It now fails with #532 :)

[2016-02-22 17:10] #438 closed

[2016-02-22 17:10] cdrage commented on #475
closing in favour for #545 issue.

[2016-02-22 17:10] #475 closed

[2016-02-23 01:51] dustymabe commented on #570
We could add another case in that except block that handles the output that happens when the docker daemon isn't running?

In the long run I think we are planning to not use the docker cli directly anymore, but use the REST API instead. So we can improve the output as part of that transition.

[2016-02-23 05:30] containscafeine commented on #445
@rtnpro I would really want to help on this and #407 if you need any :)

[2016-02-23 11:14] containscafeine opened #571 "Extended paths in atomicapp --verbose ... ?"
Currently, in the third column, only the file name is shown. Would it not be easier to debug with at least one directory up shown there? Something like, `nulecule/main.py` or `cli/main.py`?

[vagrant@centos7-adb atomicapp]$ sudo atomicapp --verbose  run foo --provider docker
2016-02-22 09:24:58,734 - [INFO] - main.py - Action/Mode Selected is: run
2016-02-22 09:24:58,734 - [DEBUG] - main.py - Fina

[2016-02-23 13:06] containscafeine commented on #571
I could come up with 2 ways to do this.

1. Something like what's done in applogging.py [here](https://github.com/projectatomic/atomicapp/blob/master/atomicapp/applogging.py#L27)
Say,  logging.LogRecord handles the 'pathname', so inherit it and change it there to display the desired output.

2. Do it using a [LoggerAdapter](https://docs.python.org/2/library/logging.html#loggeradapter-objects), usi

[2016-02-23 14:16] dustymabe commented on #571
To be honest I don't really want to add any more output to the line at risk of it being too verbose. even if a filename is ambiguous (there is more than one file with that name) it is still pretty easy to find which of the 2 or 3 possibilities it is.

[2016-02-23 14:34] containscafeine commented on #571
@dustymabe How about adding it only to DEBUG logs?

On Tue, Feb 23, 2016, 7:47 PM Dusty Mabe <notifications@github.com> wrote:

[2016-02-23 15:29] dustymabe commented on #571
@containscafeine that would be reasonable. I would propose that the change get applied to all log messages, but only if --verbose was passed.

Another thing I'd like to state is that the benefit from this would be small, so I'd say it would only be worth adding if there is a solution that is non-invasive to the existing logging code.

[2016-02-23 15:55] containscafeine commented on #570
Working on it

[2016-02-23 19:38] cdrage commented on #445
@containscafeine @rtnpro

I was looking at this before and finding out the best possible way to convert docker run / cli commands to it's respective daemon API call. Unfortunately I was unable to find such way.

May be out of the scope of `atomicapp`, but starting a Python library that actually converts for example: `docker run blahblah -v foo:bar` to the http api call would be awesome.

I tried s

[2016-02-23 20:00] containscafeine commented on #445
@cdrage +1, sounds cool. And when we run the docker daemon in foreground, then with each CLI command, we can see the corresponding API call, so maybe we can use that. But that's in Go.

But in this case, will we not be using one of [these](https://docs.docker.com/engine/reference/api/remote_api_client_libraries/)?

The last time I checked, python only maintained [docker-py](https://github.com/dock

[2016-02-24 03:46] dustymabe commented on #445
I think docker-py is what I thought we would end up using. It is what Ansible uses to run docker containers. If there is a feature missing that we need then we should possibly add it or understand why it doesn't make sense to implement.

[2016-02-24 04:16] containscafeine commented on #445
@dustymabe @cdrage @rtnpro has some work been done in atomicapp using
docker-py or has someone started working on it?

On Wed, Feb 24, 2016, 9:16 AM Dusty Mabe <notifications@github.com> wrote:

[2016-02-24 14:05] cdrage opened #573 "What's application-entity?"
My google-fu and search skills seem to not be very strong. (I've searched via the nulecule spec, nulecule-library, atomicapp)

But what is `application-entity` and why do we need it?

It seems much cleaner using:

[code]

[2016-02-24 14:13] cdrage commented on #445
@containscafeine not yet! you'll be the first :)

[2016-02-24 14:15] containscafeine commented on #445
@cdrage PRs incoming :)

[2016-02-24 17:54] surajssd opened #574 "`make test` - test fails"
`make test` (in a [CI like environment](https://github.com/projectatomic/adb-tests/blob/master/cdrage-atomicapp-ci/atomicapp.sh#L32) or new environment) fails because it lacks packages like `pytest` and `mock`.

Within Virtualenv
[code]
without
[code]

This can be solved by adding `pip install -r test-requirements.txt` in `Makefile` under `test` section [here](https://github.com/projectatomic/atom

[2016-02-24 18:00] containscafeine commented on #481
@cdrage Can I help with this?

[2016-02-24 18:06] surajssd commented on #574
[code]

Once you install `pytest` manually then it fails on `mock`

[code]

[2016-02-25 05:14] surajssd commented on #574
PR in #575

[2016-02-25 05:17] surajssd commented on #574
@cdrage just putting `pytest` in requirements from won't help, we need to make sure that the modules are installed before someone runs `make test`

[2016-02-25 14:20] cdrage commented on #574
@surajssd

I think we should add "-q" to the pip installs since it's a bit too much output for some tests. that good with you @rtnpro ?

[2016-02-26 17:32] surajssd commented on #574
@cdrage done with "-q"

[2016-02-27 00:42] jberkus commented on #481
Confirmed to be still broken in 0.4.2.

[2016-02-27 01:13] jberkus opened #577 "atomicapp requires root permissions for fetch on Fedora"
[josh@redhat redhat]$ atomicapp fetch -v --destination helloapache projectatomic/helloapache
2016-02-26 17:09:25,824 - [INFO] - main.py - Action/Mode Selected is: fetch
2016-02-26 17:09:25,824 - [DEBUG] - main.py - Final parsed cmdline: fetch -v --destination helloapache projectatomic/helloapache
Traceback (most recent call last):
  File "/usr/bin/atomicapp", line 9, in <module>
    load_entry_poi

[2016-02-27 01:14] jberkus commented on #577
A solution for this would be to create the lock file in the user's homedir/tmp.

[2016-02-27 01:19] dustymabe commented on #577
actually we do require root (unfortunately) because we have to interact with docker to run containers. We should check and give a nice message to the user on the condition that they aren't root.

[2016-02-27 01:59] jberkus commented on #577
That's a bit of a longer discussion then.  At some point we need to find a way to bridge the ease-of-use barrier for developers on Linux desktops, as Docker has done.

In the meantime, all of the various guides need to explicitly say which commands need to be run as root.

[2016-02-27 02:44] jberkus opened #578 "Why do atomic apps have a "Dockerfile"?"
One thing which really confused me about each atomicapp folder was the presence of a "Dockerfile".  The reason this is confusing is that, in Docker, Dockerfiles are used to *build* images and not run them.  But atomicapp only runs images ... it doesn't build them.   And, for that matter, the "Dockerfile" always seems to have the same contents, except the list of providers changes.

So, why does th

[2016-02-27 05:17] cdrage commented on #481
@containscafeine yup! go ahead :) hint: should be a fix within `cli/main.py`

[2016-02-27 19:16] containscafeine commented on #481
@cdrage, okay, I played around with it a bit and I have a few questions.

`--version` does not work because it has been implemented in the `globals_parser` [here](https://github.com/projectatomic/atomicapp/blob/master/atomicapp/cli/main.py#L182-L188) and not in the `toplevel_parser`, and since the function `create_parser` [returns](https://github.com/projectatomic/atomicapp/blob/master/atomicapp/c

[2016-02-28 17:35] dustymabe commented on #578
In practice the atomic apps (like the ones in the nulecule-library) are packaged up into a docker image. This is the delivery mechanism. So the Dockerfile exists to take the Nulecule and the artifacts and add them to the Atomic App software base image. Then one can start an Atomic App using Atomic CLI pretty easily (`atomic run projectatomic/helloapache`) without having to actually have the Atomic

[2016-03-01 20:39] jberkus commented on #578
Note added to new getting started guide PR.  Closing ....

[2016-03-01 21:08] #578 closed

[2016-03-01 21:10] jberkus commented on #577
closing, opening as a different issue.

[2016-03-01 21:10] #577 closed

[2016-03-01 22:48] dustymabe commented on #573
It's just the directory within the image where the Nulecule files exist. Otherwise you are adding the data to the root of the filesystem along with /dev /var /usr etc..

[2016-03-02 14:26] #573 closed

[2016-03-02 14:26] cdrage commented on #573
Thanks for clearing that it! Thought we we're using it after `grep -r` the dir for any other instances of it.

[2016-03-02 20:01] jberkus opened #581 "Need better error output for YAML formatting issues"
So I had an issue with some of my YAML formatting, and got this:

[josh@redhat atomic-site-master]$ sudo atomicapp run Nulecule
[sudo] password for josh:
2016-03-02 11:58:42,488 - [INFO] - main.py - Action/Mode Selected is: run
2016-03-02 11:58:42,494 - [ERROR] - main.py - AnyMarkupError: caught <class 'yaml.scanner.ScannerError'>: while scanning a simple key
  in "<file>", line 17, column 9
could

[2016-03-02 20:06] jberkus opened #582 "add directory arg to atomicapp --help"
Currently:

    atomicapp --help
    usage: atomicapp {run,fetch,stop,genanswers} ...

Should be:

    atomicapp --help
    usage: atomicapp {run,fetch,stop,genanswers} ... DIR

... since the directory of the atomicapp is an expected argument.

[2016-03-02 20:30] jberkus opened #584 "persistent-volume should WARN, not ERROR, if not supported by chosen provider"
Currently:

ERROR:atomicapp:Requirement persistent_storage does not exist within docker.
exit 1

How it should be:

WARNING:atomicapp:Requirement persistent_storage does not exist within docker.

The reason is that currently we have three providers, docker, kubernetes, and mesos.  The docker provider does not support PersistentVolumes.  If we fatally error on the persistent volume requirement, tha

[2016-03-02 20:55] cdrage opened #585 "Warning 'providerconfig' not found always shows."
By default this should not show. Similar to issue #331, 'providerconfig' should not be appearing as an error.

[code]

[2016-03-02 20:56] cdrage opened #586 "Warn the user instead of error out on persistent storage."
When using persistent storage with the Docker or OpenShift provider this error appears:

[code]

Instead, `atomicapp` should warn the user instead of erroring out.

[2016-03-02 21:01] cdrage opened #587 "ReadWrite no longer a parameter for Persistent Storage."
http://www.projectatomic.io/blog/2016/01/atomic-app-0-3-1/ and docs need to be updated.

This will be fixed by #576 for the README.md, incoming PR for atomic-site.

Basically, we implemented persistent storage before kubernetes hit 1.0.0 and thus the API changed before release.

ReadWriteOnce, ReadOnlyMany, ReadWriteMany are the new options.

[2016-03-02 21:07] dustymabe commented on #581
Looks like #553 - is that correct?

[2016-03-02 21:08] dustymabe commented on #586
looks like #584. Is that correct?

[2016-03-02 21:33] jberkus commented on #581
Yes, same issue.  We need the error to be trapped, and just the relevant portions forwarded to the user (file, line no).

[2016-03-02 22:46] dustymabe commented on #581
@surajssd @containscafeine - any of you guys want to take a stab at this one?

[2016-03-03 03:47] surajssd commented on #581
@dustymabe sure

[2016-03-03 14:08] cdrage commented on #586
Yeah.. I'll close this one in favour of #584

[2016-03-03 14:08] #586 closed

[2016-03-03 14:08] #568 closed

[2016-03-03 18:03] jberkus commented on #587
Do those names also work with Marathon?  How do we interpret them for Docker?

[2016-03-03 19:50] jberkus opened #588 "genanswers should drop in target directory, not current directory"
If I do:

    atomicapp genanswers atomic-site/Nulecule

It will drop an answers.conf.sample in my *current* directory, not in the target directory of atomic-site/Nulecule.  Which is both messy, and a problem because 'atomicapp run' will look for answers.conf in the target directory when it runs.

[2016-03-03 19:51] cdrage commented on #587
@jberkus

Unfortunately just Kubernetes is supported at the moment :( the docs will be updated soon with the information about it.

[2016-03-03 19:53] jberkus commented on #587
My point is, we shouldn't be using provider-specific names in Nulecule files.

[2016-03-03 20:25] goern commented on #587
ReadWriteOnce, ReadOnlyMany, ReadWriteMany these words seem to nail the desired behavior of the persistent volume pretty well, I would consider them as 'common sense and meaningful' rather than 'provider specific names'.

[2016-03-03 20:32] dustymabe commented on #588
Well it depends on your take on this. Most of the time `genanswers` is used is when you want to grab answers from a remote docker image, modify them, and then run the app like so:

[code]

In this case what you are saying is `atomicapp genanswers atomic-site/Nulecule`  where `atomic-site/Nulecule` is a directory that already exists?

With `genanswers`, up until this point there has been no concept

[2016-03-03 20:48] jberkus commented on #587
Ok.  In that case, though, we'll want to have plans for how those will map to other providers.

[2016-03-03 20:53] jberkus commented on #588
What I'm talking about is sensible defaults. That is, the default for one command should be the same as the default for another command.  If `genanswers` drops answers.conf in the current directory, then `run` should look in the current directory first, without requiring a parameter from the user.

Having the default be one thing for `genanswers` and something different for `run` is very unfriendl

[2016-03-03 21:24] dustymabe commented on #588
I'll be honest I've never used genanswers in a context where I wasn't grabbing it from a remote image. So there are two cases:

1. generating from nulecule that is embedded in docker image
2. generating from local nulecule

For 1. is it ok to have it populated in the local directory. I don't really see another option without forcing the user to tell us where to put it.

For 2. we can detect this a

[2016-03-03 21:40] dustymabe commented on #588
The only problem with the above approach is that it's inconsistent based on where the nulecule currently resides, which I don't like.

[2016-03-03 21:47] dustymabe commented on #587
@cdrage - there are also several tests that mention 'ReadWrite':

./tests/units/persistent_storage/test_ps.py
./tests/units/persistent_storage/test_examples/ps-helloapache/Nulecule

[2016-03-03 21:49] jberkus commented on #588
well, per above, my concern is that `run` and `genanswers` should have the same behavior.  So if it's going to make sense in a lot of cases to drop it in the current directory, then `run` should also look in the current directory for answers by default.

[2016-03-03 21:49] dustymabe commented on #571
Closing this issue as this functionality was enabled in e2c57cc

[2016-03-03 21:57] dustymabe commented on #588
I definitely don't think having `run` look in the local dir is a solution so let's search elsewhere.

`genanswers` is the only case that exists where there won't be a context directory (i.e. a local directory where a nulecule is extracted to) that results from an action. In the case of `fetch`, which is almost the same as `genanswers` but actually does leave a directory on the local system, the sa

[2016-03-03 22:03] jberkus commented on #588
I guess I'm not seeing what's wrong with putting it in the Nulecule directory if the user supplies one?  If the user wants it somewhere else, then they could supply a `-a`.

-1 on the message.

[2016-03-03 22:08] dustymabe commented on #571
@rtnpro??

[2016-03-03 22:23] dustymabe commented on #588
I just personally like consistent behavior. For this command, since there will not always be a local context dir I would prefer that it always just populates in cwd.

If the user wants to use a Nulecule from a local dir then they could cd to the directory first:

[code]

The only way to have consistent behavior with this command is to leave it this way, or force the user to specify where he wants

[2016-03-03 22:26] #571 closed

[2016-03-03 23:11] jberkus opened #589 "provider in answers.conf defaults to "kubernetes" regardless of what's supported in Nulecule file"
The way it is now:

The "provider" in generated answers.conf always defaults to "kubernetes" regardless of what's supported in the Nulecule file.

The way it should be:

If only one provider is specified in the Nulecule file under artifacts, then that should be the default.  If multiple providers are specified but not Kubernetes, it should be None.

[2016-03-03 23:16] jberkus commented on #589
BTW, when combined with  #562 this is particularly confusing to the user.

[2016-03-03 23:25] jberkus opened #590 "Handle error out from container"
The way it is as of 0.4.2:

If a container fails and returns -1, atomicapp errors out with a stack trace.

The way it should be:

If the container fails and returns -1, atomicapp should return the message:

     container __name__ failed to start with error code __number__

Assuming we have some way to name containers.

[2016-03-04 04:42] dustymabe commented on #589
There is some history behind this: https://github.com/projectatomic/atomicapp/issues/380 and then https://github.com/projectatomic/atomicapp/issues/515

We opted to go with the fact that the application owner can set a default provider if they like within the parameters:

[code]

[2016-03-04 07:20] surajssd opened #591 "No yum update in Dockerfile"
Why we don't have a `yum update` in the default [`Dockerfile`](https://github.com/projectatomic/atomicapp/blob/master/Dockerfile#L19)? What I percieve is that since these docker images are built and pushed everyday, that could be the one reason.

[2016-03-04 18:29] jberkus commented on #589
@dustymabe that you can set the provider in the nulecule file isn't well-documented and doesn't show up in any of our examples.  So like other new users I'd have no reason to know that.

Where would be an appropriate place to doc it?

[2016-03-07 13:06] tuxdna opened #597 "Make test fails with LockFailed: failed to create /run/lock/"
On my Fedora 23 machine I run atomicapp tests, and it fails to run:

[code]

Many tests are failing because, the directory `/run/lock/` cannot be modified by current user:

[code]

[2016-03-07 14:25] tuxdna opened #599 "lockfile is deprecated"
Sub Tasks:

 - [ ] - re-evaluate locking in general
 - [ ] - is it required for us?
 - [ ] - there are numerous other issues opened around locking in Atomic App so if it doesn't make sense we should get rid of it
 - [ ] - move to fasteners in the future?

We are using `lockfile` package for file locking. This has been marked as deprecated on upstream:

 * https://pypi.python.org/pypi/lockfile

usi

[2016-03-07 15:02] containscafeine commented on #570
@dustymabe Does this help? https://github.com/projectatomic/atomicapp/pull/600

[2016-03-07 15:42] dustymabe commented on #599
@tuxdna that is news to me. We have two options:

- re-evaluate locking in general
    * is it required for us?
    * there are numerous other issues opened around locking in Atomic App so if it doesn't make sense we should get rid of it
- move to fasteners in the future

If we move to fasteners we need to make sure there are corresponding packages in most of the distributions that we build on top

[2016-03-07 16:52] containscafeine commented on #481
@dustymabe @cdrage
Can you take a look at https://github.com/projectatomic/atomicapp/pull/601?

[2016-03-07 17:47] cdrage commented on #542
Fixed by #576

[2016-03-07 17:47] #542 closed

[2016-03-07 22:24] dustymabe commented on #588
@jberkus did the previous discussion give any resolution to this issue in your mind?

[2016-03-07 22:54] jberkus commented on #588
Changed issue. Now it's a feature request: we should support "-a" for genanswers so that I can designate where to put the answers.conf through some mechanism other than "cd".

[2016-03-08 13:06] surajssd opened #605 "Do not trigger Travis CI on documentation PRs"
For documentation PRs it is not necessary to trigger a travis CI

[2016-03-08 13:29] surajssd commented on #605
We can skip a Travis CI build just by adding `[ci skip]` to a commit message.

Source: https://docs.travis-ci.com/user/customizing-the-build/#Skipping-a-build
We need to document this in [`CONTRIBUTING.md`](https://github.com/projectatomic/atomicapp/blob/master/CONTRIBUTING.md)

[2016-03-09 02:56] dustymabe commented on #605
The only undesirable part of this is that [ci skip] (which is unrelated to the change that was made) is now scattered throughout our git history. Not a big, deal, but something to think about.

[2016-03-09 03:19] dustymabe commented on #589
@jberkus I wonder if we shouldn't start a FAQ and we could document this there until a more appropriate place emerges?

[2016-03-09 03:26] dustymabe commented on #605
Is it possible to configure travis to ignore docs PR some other way?

[2016-03-09 03:32] surajssd commented on #589
@dustymabe what do you say about the #606 in regards with this issue.

[2016-03-09 03:43] surajssd commented on #605
@dustymabe we can keep this open until we find some other way!

[2016-03-09 04:04] dustymabe commented on #589
@surajssd #606 definitely helps but I think we should add docs like @jberkus suggests and also update our examples to set a default provider in them (in the nulecule-library). If @jberkus thinks that is reasonable we will open an issue for that.

[2016-03-09 04:14] jberkus commented on #589
@dustymabe a FAQ might be a good idea.

[2016-03-09 15:27] surajssd commented on #589
@jberkus FAQ sounds good

[2016-03-09 15:35] #481 closed

[2016-03-09 15:48] surajssd commented on #574
@cdrage this can be closed right?

[2016-03-09 15:52] surajssd commented on #562
@dustymabe @jberkus PR for this issue is merged, so this remains open ?

[2016-03-09 15:54] kadel opened #612 "OpenShift provider doesn't support "kind: List'"
If OpenShift artifact contains List Atomic App fails:

[code]
artifact.json: https://gist.github.com/kadel/93b35f2744d536574455

This is because openshift provider gets all supported Kinds from OpenShift server but List is not on that list.

[2016-03-09 15:59] dustymabe commented on #612
Is that a bug in openshift? Or something that is just implied that should work?

[2016-03-09 16:14] dustymabe commented on #605
I'm fine with closing this issue - It would be nice to have a different way to achieve this goal but I actually don't see it as something we need to focus on. It doesn't hurt much to have the tests run and they run pretty quick, so not a big deal.

[2016-03-09 16:14] #605 closed

[2016-03-09 16:14] surajssd commented on #612
@dustymabe I think this should be implemented in Atomic App

[2016-03-09 16:18] dustymabe commented on #612
Ok so basically having a json/yaml with more than one item in it (in a list) should work. Got it

[2016-03-09 16:18] dustymabe commented on #612
Are there any other possible key words (other than "List") that we could possibly expect?

[2016-03-09 16:18] kadel commented on #612
It don't think that this is bug in OpenShift. List is not really resource type like for example Pod or ReplicationController is, it is just container that holds array of other types.

I think that this is why it is not listed as available resource in Kubernetes or OpenShift API.
Other reason for this is that there is no api call to handle list (or i didn't found id).
So it looks like that it is up

[2016-03-09 16:22] kadel commented on #612
I'm not sure :-( I didn't found any list of all possible "kinds" in docs. I'll have to dig through OpenShift source :-(

[2016-03-09 16:41] cdrage commented on #574
Yup! This is fixed.

[2016-03-09 16:41] #574 closed

[2016-03-09 16:45] dustymabe commented on #562
Looks good:
[code]

[2016-03-09 16:45] #562 closed

[2016-03-09 16:46] dustymabe commented on #562
Closed via #563

[2016-03-09 17:55] dustymabe opened #613 "Create a FAQ -"
A FAQ would go a long way in helping people understand our project.

One item to add:

How do I have my Atomic App default to a preferred provider:
--> give examples of setting default using global params

[2016-03-09 21:49] dustymabe opened #614 "Doubled output of log messages when using persistent volume"
When using a persistent volume by having something like the following in your Nulcule, you end up with duplicate logging output (see 2nd box below).

[code]

[code]

[2016-03-10 09:19] stefwalter opened #616 "atomicapp fails due to 'docker images' returning '400 Bad Request'"
When atomicapp inside an existing container image tries to run 'docker images' it fails with the following:

[code]

This is because docker on the host machine is ```docker-1.10.2-10.gitddbb15a.fc24.x86_64``` and docker in the atomicapp container is ```docker-1.8.2-1.gitf1db8f2.fc22.x86_64```.

The docker client in the atomicapp container is incompatible with the docker daemon running on the host.

[2016-03-10 09:21] stefwalter commented on #616
To reproduce this:

 1. Install Fedora 24
 2. ```yum install atomic docker```
 3. ```atomic run submod/helloapache:0.1.11```

[2016-03-10 09:21] stefwalter commented on #616
Running this inside the atomicapp container shows the issue:

``
[root@localhost atomicapp]# docker images
Error response from daemon: 400 Bad Request: malformed Host header
[code]

[2016-03-10 09:22] stefwalter commented on #616
This issue breaks the Cockpit integration tests on Fedora 24

[2016-03-10 09:32] stefwalter commented on #616
This is a result of docker daemon being built with golang 1.6 on Fedora 24:

https://github.com/golang/go/commit/6e11f45ebdbc7b0ee1367c80ea0a0c0ec52d6db5

https://groups.google.com/forum/#!topic/golang-codereviews/CPeFXzMJRzI

[2016-03-10 13:23] kadel commented on #612
I found something that might help with regarding all the possible "Kinds". It is for Kubernetes but same rules should apply for OpenShift.
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#types-kinds

[2016-03-10 13:35] surajssd commented on #612
@kadel this also means we can use "List" for k8s as well?

[2016-03-10 17:54] #614 closed

[2016-03-10 17:55] dustymabe commented on #612
Agreed.

[2016-03-10 18:01] surajssd opened #617 "Support multi-line run command in docker artifact file"
In docker artifact if I provide the docker run command as a multi-line then Atomic App fails.

[code]

[2016-03-10 18:16] cdrage commented on #616
I'm an idiot. You said Go 1.6... I've been downloading the official versions from the Docker site and I see that I'm using Go 1.5.3 haha.

Time to compile it! :D I'll get back to you on that.

[2016-03-10 18:21] dustymabe commented on #616
@cdrage - another option may be to try to run the F24 rpm on F23. It might work since all deps should be baked in.

[2016-03-10 18:28] dustymabe commented on #616
@stefwalter - what atomicapp container is `submod/helloapache:0.1.11` based on? It looks like under the covers it is based on f22. Can you point to the Dockerfile?

[2016-03-10 18:29] dustymabe commented on #616
@stefwalter - what atomicapp container is `submod/helloapache:0.1.11` based on? It looks like under the covers it is based on f22. Can you point to the Dockerfile?

[2016-03-10 19:20] stefwalter commented on #616
@sub-mod Where is the source Dockerfile for ```submod/helloapache:0.1.11```

[2016-03-10 21:13] cdrage commented on #616
@dustymabe looks to be def related to 1.10.2 built on Go 1.6

The original submod/helloapache:0.1.11 (despite it being built via atomicapp 0.1.11) works fine on Docker 10.1.2 built on Go 1.5.3. I'm going to try and replacte 1.6.0 on my machine

[2016-03-10 21:20] cdrage commented on #19
I believe this may have been fixed :) Close @dustymabe ?

[2016-03-10 21:21] cdrage commented on #22
Imo Cockpit should be the go-to guide for using atomicapp via a UI.

Although I would leave this open in regards to a restful API in the future.

[2016-03-10 22:08] cdrage opened #620 "Docker id output should be in logging format"
It's annoying to see this:

[code]

The container that is created should either be hidden (put in verbose output) or in-line with the logging formatter.

[2016-03-11 17:48] cdrage commented on #616
I'm able to use docker (built with 1.6) completely fine with atomicapp 0.4.3. Is this a fedora-related issue?

[code]

[2016-03-11 17:59] stefwalter commented on #616
You need to use an old build of docker inside of the atomicapp image, built with golang 1.5.

The basic point of this bug is that atomicapp images can contain old versions of docker clients that are incompatible with future Atomic host versions.

[2016-03-11 19:02] cdrage commented on #616
@stefwalter have you tried using atomicapp:0.4.3 or use the projectatomic/helloapache example? The one within your example uses atomicapp 0.1.11

[2016-03-11 19:16] stefwalter commented on #616
The point is that a packaging format like atomicapp shouldn't try to use its own docker client command to communicate with an arbitrary docker daemon (possibly older, possibly newer).
This is a poor design that will break time and time again as docker changes, deprecates, and adds API.

Examples of how to fix this issue so it doesn't happen again: The atomicapp could implement its own extra-compat

[2016-03-11 19:58] dustymabe commented on #616
Yeah, we are aware. This problem has come up in the past: https://github.com/projectatomic/atomicapp/issues/174

So I have investigated [before](https://github.com/projectatomic/atomicapp/issues/174#issuecomment-136449961) trying to use docker from the host. As you can see in the comment I hit some issues so I didn't try to go too much farther. The other thing I considered doing was chrooting back

[2016-03-12 17:24] containscafeine opened #621 "`atomicapp fetch` errors with traceback if docker daemon is not running"
[code]

[2016-03-12 17:35] containscafeine commented on #621
Occurs because `DockerException` was caught in `cli_run` but not in `cli_fetch`, working on it.

[2016-03-12 17:37] containscafeine opened #622 "same exceptions being caught for cli*() in cli/main.py"
We are currently catching the following same exceptions:

[code]
in `cli_genanswers`, `cli_fetch`, `cli_run`, `cli_stop`.

This leads to:
- code being replicated
- a possibility of not catching exceptions in other functions if caught in one, which has led to issue #621, https://github.com/projectatomic/atomicapp/issues/621#issuecomment-195778842

[2016-03-14 16:32] containscafeine opened #625 "`sudo` required to run atomicapp commands?"
Hi,

`atomicapp ____` commands fail if not run as root/sudo, this becomes a problem if the end user does not have root/sudo access, and also the files/directories created by atomicapp require an additional step of becoming root/sudo before accessing those.

A similar concern was raised by @jberkus on the container-tools mailing list [here](https://www.redhat.com/archives/container-tools/2016-March

[2016-03-15 10:42] containscafeine opened #627 "ProviderFailedException not handled"
If an Atomic App has already been deployed and the command is run again, then the good old traceback is outputted.

`sudo atomicapp run projectatomic/helloapache --provider=docker` - running this twice gives -

[code]

[2016-03-15 10:42] containscafeine commented on #627
<WIP>

[2016-03-15 10:42] containscafeine commented on #627
WIP

[2016-03-15 11:12] containscafeine opened #628 "atomicapp inspect _____, makes sense?"
Hi,

I just did a `sudo atomicapp run projectatomic/helloapache --provider=docker` but I missed the part which said that `your application resides in ...`.

Is there a way to get that information again, because the file names in /var/lib/atomicapp/ do not help.

[code]

Plus, how do I get more information about my deployed Atomic App?

Can something like `atomicapp inspect <app name>` help?

Thoug

[2016-03-15 11:14] surajssd commented on #628
@containscafeine yes need to make a context directory where we can save data of the atomicapp?

[2016-03-15 11:30] containscafeine opened #629 "atomicapp does not check if application is already deployed"
Hi,

Whenever an `atomicapp run ...` is issued, it is not checked if the application has already been deployed or not, which causes #627.

It currently waits till the `[INFO] - docker.py - Deploying to provider: Docker` part, till it realizes that the application was already deployed.

Should this not be confirmed in the beginning itself?

@dustymabe @cdrage

[2016-03-15 11:46] surajssd opened #630 "`atomicapp stop` fails to stop application"
When I run atomicapp stop the application should stop!
[code]
**projectatomic-helloapache-103ba878f1be** is a directory where data resides, but then when I do `atomicapp stop` rather than stopping the existing app and removing the directory `/var/lib/atomicapp/projectatomic-helloapache-103ba878f1be` atomicapp creates a new one.

[code]

[2016-03-15 11:57] surajssd commented on #630
Even `atomic cli` could not help
[code]

[2016-03-15 12:04] tuxdna commented on #599
@rtnpro  @dustymabe @cdrage : I found the requirement of lockfiles  for atomicaapp here

  - **prevent atomicapp from running the same image twice at the same time** https://github.com/projectatomic/atomicapp/issues/119

However what should happen if someone does:

[code]

i.e. consecutive runs of atomicapp. In this case lockfile would be of no use because this is what happens:

[code]

Second Apa

[2016-03-15 12:54] surajssd opened #631 "if `provider` specified from commadline, atomicapp ignores it for sometime"
When provider is specified with option `--provider` atomicapp seems to ignore it for some time and then finally uses what is provided. But the messages it gives are misleading.

[code]
Here even if the provider is mentioned its says provider not specified.

[code]
Same issue here also.

[code]

[2016-03-15 15:17] surajssd commented on #631
Also there is some weird output about docker saying something:
[code]

[2016-03-15 16:57] cdrage commented on #627
@containscafeine
Yeah... let's disable that traceback :)

[2016-03-15 16:59] cdrage commented on #628
You can use `--destination foobar` in the CLI to specify a destination directory. However, it is difficult to find out where the app is located.

What about `atomicapp images` that lists all the images on the OS + meta-data? This could list all /var/lib/atomicapp images, etc.

[2016-03-15 17:04] cdrage commented on #630
You need to provide the path of the installed app in order to stop via `atomicapp`. This is due to the generated files being located there.

For your example it would be: `atomicapp stop var/lib/atomicapp/projectatomic-helloapache-103ba878f1be`

See https://github.com/projectatomic/atomicapp/blob/master/docs/quick_start.md for a better example :)

[2016-03-15 17:10] cdrage commented on #587
Closing as #610 #611 has fixed this. Plus the update to the docs

[2016-03-15 17:10] #587 closed

[2016-03-15 17:11] cdrage commented on #507
After the docs rewrite / major refactor persistenst storage has now been added to docs/nulecule.md :)

[2016-03-15 17:11] #507 closed

[2016-03-15 17:12] cdrage commented on #620
This should be fixed by the second part of #594

[2016-03-15 17:13] containscafeine commented on #628
@cdrage I was thinking something like a `docker inspect ...` output.
Something which gives the ports being used by the application, which provider is being used, where does the application reside.

Or yes, `atomicapp images` lists the currently running apps, and `atomicapp images <app name>` gives the nitty-gritties of the specified app.

Oh, but will the keyword `images` not confuse with the dock

[2016-03-15 17:13] cdrage commented on #585
Closing this in favour of issue #631

[2016-03-15 17:13] #585 closed

[2016-03-15 17:14] cdrage commented on #534
So we've updated the documentation now for atomicapp, just nulecule left to go :)

[2016-03-15 17:14] #534 closed

[2016-03-15 17:16] cdrage commented on #294
Once this hits 1.00 we should add this for production.

Otherwise, we can add it as an EXPERIMENTAL feature :) we'll just warn the user that it's experimental for now / subject to breakage or change.

[2016-03-15 17:17] cdrage commented on #251
Fixed after the docs refactor :)

Although incoming PR's to update atomic-site @jberkus with an update on how to use atomicapp / nulecule.

[2016-03-15 17:22] jberkus commented on #251
FYI: we are moving to a new model where docs will live at docs.projectatomic.io.  This will allow you to push directly from your own docs repo to there without needing to add docs to atomic-site.

This should be ready in the next 2 weeks, and then we'll talk about getting the atomic.app and Nulecule docs in.

[2016-03-15 17:27] cdrage commented on #628
What I mean is using it very similar to docker images where `atomicapp images` lists all images on the system (/var/lib/atomicapp), not what's currently running.

[2016-03-15 17:33] kadel commented on #628
@containscafeine
I'm afraid that displaying formation about running apps like ports, or even if apps is actually running might get complicated really quickly as providers differ a lot.

Just displaying what Nulecule applications are installed on system (list of /var/lib/atomicapp) would be quite nice for now.

[2016-03-15 17:33] cdrage commented on #628
P.S.

If we can figure out a way to do it. Having a `atomicapp ps` and `atomicapp images` command would be awesome. See what different hosts atomicapp is running on or even if you've got atomicapp images running on kubernetes, docker, etc. Would help *a lot* in regards to how to use atomicapp stop, etc.

The only problem is figuring out a way that we can tag each of these images uniquely so that a

[2016-03-15 17:41] containscafeine commented on #628
@kadel true, but I can try and get it done for k8s and docker, and see how it goes, and then this can be later extended to other providers, because atomicapp should be maintaining some context/state, which it does not at the moment. It will take some time, but do you think it's worth it?

@cdrage, +1 for `atomicapp stop`. As for tagging, can we use k8s labels and docker tags for this purpose?

[2016-03-15 17:54] kadel commented on #628
Getting state of apps will be big task and I think that it is not that important for now.
There is a lot of other issues that are much more important.

[2016-03-15 18:00] containscafeine commented on #628
@kadel makes sense, we can keep this for future.

[2016-03-16 04:10] surajssd opened #635 "Replace all the file with copyright 2015 to 2016"
Still some files have copyright notice with year 2015 in them, so we should change it to 2016.

[2016-03-16 04:10] surajssd commented on #635
@Preeticp would you want to work on this?

[2016-03-16 04:12] surajssd commented on #630
@cdrage yes agreed but then Atomic App should not atleast create another directory.

[2016-03-16 04:55] surajssd commented on #628
+1 for `atomicapp images` which shows what all applications Atomic App has deployed.

[2016-03-16 04:57] surajssd commented on #628
With `atomicapp ps`, are we making a wrapper around all the providers with this?

[2016-03-16 07:03] surajssd opened #636 "cli auto-complete for atomicapp"
atomicapp is missing auto-complete of commands, this would be nice feature to have.

[2016-03-16 08:27] containscafeine commented on #636
+1 for bash completion. @surajssd if you want, we can work on this together.

[2016-03-16 08:43] pnemade commented on #635
AFAIK, we should keep all the years for copyright in the source code. See https://www.gnu.org/prep/maintain/html_node/Copyright-Notices.html

[2016-03-16 10:13] surajssd commented on #636
@containscafeine I feel this can be a **beginner friendly** issue which new people who wanna contribute can work on.

[2016-03-16 10:17] dustymabe commented on #636
@surajssd this could be an interesting thing to have, but if we mainly run from an embedded container then we might not ever see the benefits of something like this

[2016-03-16 13:18] surajssd commented on #635
@pnemade yes whatever is the right way to go! I said replace because [some of the docs](https://github.com/projectatomic/atomicapp/pull/535/files#diff-04c6e90faac2675aa89e2176d2eec7d8R86) have year replaced with 2016.

[2016-03-16 14:43] cdrage commented on #630
When running there needs to be a place to extract the files from the docker image and thus that's what a new directory is created.

[2016-03-16 14:44] cdrage commented on #628
@surajssd Most likely via whatever API end-points are available (docker, openshift and k8s).

[2016-03-17 14:59] jberkus commented on #635
Standard way is to have a range, e.g.: copyright 2014-2016

[2016-03-17 15:06] jberkus opened #637 "Support integration of Secrets with Answers.conf"
For passwords and similiar information we should support a way to automatically integrate those with answers.conf.  I'll have more specific ideas on how this should work when I hack around a bit; just putting this here to not lose track of it.

See also https://github.com/projectatomic/nulecule/issues/201

[2016-03-17 15:24] cdrage commented on #582
Currently we have it like this with `atomicapp run --help`

[code]

Should we add a similar "usage" example like above?

[2016-03-17 15:57] cdrage commented on #581
Fixed via #593

[2016-03-17 15:57] #581 closed

[2016-03-17 16:28] cdrage commented on #588
@jberkus your wish is granted. added #638

[2016-03-17 18:19] cdrage commented on #114
Hi @navidshaikh although this is a late ping, are you still working on this / have a pr or branch for this?

If not, we can start working on it in order to introduce ways to list running atomicapp's, stop without having to pass a working directory, etc. etc.

Thanks!

[2016-03-17 19:15] #570 closed

[2016-03-17 20:18] cdrage commented on #378
Woo! https://github.com/projectatomic/nulecule/pull/196 has been merged, no more blockers

[2016-03-17 22:01] jberkus commented on #588
yay!

[2016-03-18 07:23] TomasTomecek opened #640 "can't start atomic-site with atomicapp on rawhide"
reproducer:

[code]

[code]

[2016-03-18 08:20] dustymabe commented on #640
Are you running into https://github.com/projectatomic/atomicapp/issues/625 ? Does using sudo work?

[2016-03-18 09:08] TomasTomecek commented on #640
when running with `sudo`, I pass that error (and run into another :/)

[2016-03-18 09:16] TomasTomecek commented on #640
now I'm definitely running into https://github.com/projectatomic/atomic-site/issues/274; feel free to close this if you think this is a dupe of #625 (I actually don't since #625 talks about connecting to docker, not creating files in /run/lock)

[2016-03-18 10:15] surajssd opened #641 "Atomic App deploys to provider even if provider artifact file not provided"
Here is a `Nulecule` file with default provider as `docker` whereas `Nulecule` file has no artifact for docker.
[code]
Deploying the app
[code]
Above you can see that the app has been deployed to `docker` (atleast that's what it says!)
[code]
There are no `docker` containers as you would expect.

I was little confused as to where to file a bug about this, even if this has some issue with Nulecule-

[2016-03-18 14:20] surajssd commented on #640
Also #597 might give some context on this.

[2016-03-18 15:24] shiminsh commented on #636
Hi, I'm beginner to atomic project and wanna work on this issue, please guide me further.

[2016-03-18 15:47] cdrage opened #642 "[epic] Adding metadata to each deployment (docker, kubernetes, openshift)."
This will pave the way for using:

- `atomicapp ps`
- `atomicapp stop {id}`
- ID's for each atomicapp deployment

Without the need of supplying an atomicapp generated directory.

So without further ado! Let's get a spec / plan formulated!

Providers supported with metadata:

__docker:__
[code]
__kubernetes:__
[code]

__openshift:__  same as k8s^^^

__marathon:__ ????

Proposed label (what comes fi

[2016-03-18 15:53] cdrage commented on #642
So one day we can have this (rough example):
[code]

[2016-03-18 15:57] surajssd commented on #642
Awesome +1

[2016-03-18 19:18] cdrage commented on #636
@shiminsh How docker-machine does their bash autocompletion could possibly help: https://github.com/docker/machine/blob/master/contrib/completion/bash/docker-machine.bash

[2016-03-18 19:29] containscafeine commented on #642
+1, yay!
Unblocks #628

[2016-03-18 20:08] cdrage commented on #642
@containscafeine

Indeed it does!

Can I have your input @surajssd and @containscafeine in regards to labels? Any that you two can think of that we should add / the format?

[2016-03-18 20:49] containscafeine commented on #642
@cdrage All the labels you listed LGTM!
How about having a `com.atomicapp.app.endpoints=IP:Port` label too?

[2016-03-18 20:58] cdrage commented on #642
@containscafeine k8s or openshift should handle that :)

[2016-03-18 21:18] containscafeine commented on #642
@cdrage okay, so do we ask k8s/openshift for the endpoints available each time the command is run or do we fetch that from the Nulecule file?

[2016-03-21 04:49] rtnpro commented on #616
May be we should just ship Atomic App metadata and run it directly on the host using atomicapp, using the host's native docker client, compatible with the docker engine.

[2016-03-21 08:47] surajssd commented on #628
@cdrage yes cool!

[2016-03-21 09:00] tnozicka opened #644 "Broken link in docs - missing file Providers.asciidoc"
https://github.com/projectatomic/atomic-site/issues/255

[2016-03-21 11:41] kadel commented on #642
Marathon has also labels that are similar to labels in other providers:
https://mesosphere.github.io/marathon/docs/generated/api.html#v2_apps_post

Similarly to k8s you can query apps by label:
https://mesosphere.github.io/marathon/docs/generated/api.html#v2_apps_get

[2016-03-21 13:12] dustymabe commented on #642
hey @cdrage. How do we "discover" what apps are running?

[2016-03-21 13:43] cdrage commented on #642
@dustymabe Once labels are implement we can poll the docker, openshift and kubernetes providers via their restful APIs.

We'll have to come up a way in the future to neatly warn (non-ui intrusive) if we are unable to connect to a respective provider (ex. docker is up, but k8s api is down). But this has to be subtle as to not discourage users in the UI :)

[2016-03-21 13:50] dustymabe commented on #625
Additionally, sudo is required to create the locks under /run/lock as well. Just thought I would add that here.

[2016-03-21 13:51] dustymabe commented on #640
@TomasTomecek I added a comment to #625 that mentions the need for sudo to create the lock.

I'll close this if you think that is sufficient.

[2016-03-21 14:27] dustymabe commented on #642
The problem with this is that we allow each deployment to specify a different endpoint if they want to. So I could deploy one app to one kubernetes cluster and another app to an openshift cluser and another app to a 2nd kubernetes cluster, etc.. So you have to know how to communicate with the endpoints and that's not something you can just pick up from the environment. You need to look at the `ans

[2016-03-21 14:32] cdrage commented on #642
@dustymabe

Yeah, that'll be the difficult part, being able to list remote hosts / different environments.

What I would like to do is implement a **local** solution to query localhost API end-points (for now) and then in the future take the challenge to implement to listing remote end-points. This would be similar to how `docker-machine` stores certs to remove docker instances in order to query /

[2016-03-21 14:51] cdrage commented on #630
@surajssd with https://github.com/projectatomic/atomicapp/issues/642 we may be able to fix this :) (providing an id for the atomicapp instead of a dir path) if we implement label insertion for atomicapp.

[2016-03-21 14:54] surajssd commented on #630
@cdrage yes surely.

[2016-03-21 15:10] TomasTomecek commented on #640
Sounds good, thanks Dusty!

[2016-03-21 15:10] #640 closed

[2016-03-21 15:16] jberkus commented on #625
Why do we require the locks to be under /var/run?

[2016-03-21 15:20] containscafeine commented on #642
-

-
@dustymabe @cdrage Is it possible that we get the endpoints' information from the Nulecule/answers file, and just try to make a connection to those endpoints using `telnet` or `curl`, and return a +1 or -1 accordingly. Am I missing something?

[2016-03-21 15:21] cdrage commented on #642
@containscafeine Using the .kube/config file would be the most viable.

Another is yes, through the Nulecule/answers file, but (in my opinion) parsing the entire /var/lib/atomicapp directory would be a bad idea.

[2016-03-21 15:35] containscafeine commented on #642
@cdrage When an app in launched, we map the `app.id` with its endpoints. When that `app.id` is queried, we can make connection to those mapped endpoints and see if they are accessible or not. Do we need `/var/lib/atomicapp` for this?

[2016-03-21 15:35] cdrage commented on #642
@containscafeine I don't think we'll need it.

[2016-03-21 17:33] dustymabe commented on #630
I don't think I understand the problem here. When you stop an application you want to stop a specific deployment of the application. These different deployments are managed by their metadata files which are the directories under `/var/lib/atomicapp`.

The argument for this is that you could have many deployments of a particular type of application (i.e. 100 different wordpress applications) so sto

[2016-03-21 18:38] cdrage commented on #630
If we have the metadata under their respective labels when it's initially deployed we would never have to access `/var/lib/atomicapp` in order to stop the deployment.

Only having to provide an id or name of the deployed app.

I don't know how to do it yet, it's just a thought. But it'll help with the user experience without having to always provide the directory it's pulled from.

[2016-03-21 19:00] surajssd commented on #617
@cdrage this issue can be closed since the PR is merged!

[2016-03-21 19:05] surajssd commented on #630
@dustymabe yes I understand that I can have multiple deployments, but how do I know which one is which?

And apart from that when I do `atomicapp stop` in some random location, Atomic App creates an unnecessary directory. It should rather error out saying that *no configuration found for the application* or something like that.

[2016-03-21 19:42] dustymabe commented on #630
Let's use kubernetes as the platform and wordpress as the app for an example. If I want to deploy the wordpress app twice on to kubernetes I would use a separate namespace:

First deployment
- namespace: project1
- pod: wordpress

2nd deployment
- namespace: project2
- pod: wordpress

The namespace is defined in your `answers.conf` file and is also saved in the `answers.conf.gen` file when you exe

[2016-03-21 20:48] #617 closed

[2016-03-21 21:39] #553 closed

[2016-03-21 21:40] cdrage commented on #635
@surajssd can you make a PR for this :)

[2016-03-21 21:42] cdrage commented on #518
Going to close this for now as it's outside the spec at the moment. Perhaps open issue about this later.

[2016-03-21 21:42] #518 closed

[2016-03-21 21:42] cdrage commented on #476
CLosing in favour of #545

[2016-03-21 21:42] #476 closed

[2016-03-21 21:44] #621 closed

[2016-03-21 21:44] #622 closed

[2016-03-22 07:33] surajssd commented on #630
@dustymabe  this is how I am calling it `sudo atomicapp stop projectatomic/helloapache -v --provider=docker`, you can also see the first comment in this thread (It may be the wrong way to do it).

But it creates another directory and says it has no configuration, IMO it should either look in the current directory(where I am running the command) or there should be a mandatory option alongwith `stop

[2016-03-22 07:39] surajssd commented on #635
@cdrage I thought @Preeticp is working on this!

[2016-03-22 08:56] Preeticp commented on #635
@cdrage I am working on this.

[2016-03-22 13:34] cdrage commented on #630
@surajssd
you have to pass a directory `sudo atomicapp stop projectatomic/helloapache -v --provider=docker /var/lib/yourapp`

[2016-03-22 14:53] surajssd commented on #630
@cdrage that's what I am saying Atomic App should not start executing unless user provides a path to the application! Also while stopping giving name of application makes no sense then?(Correct me if I am wrong)

[2016-03-22 15:22] dustymabe commented on #630
@cdrage I would call your example wrong. If I'm calling atomicapp directly (meaning the software lives on my system) then I can simply provide a path: `sudo atomicapp stop /path/to/yourapp/`

If the software lives in the container and I am using atomic cli then I need to provide the container name just because otherwise you don't have access to the atomic app software: `sudo atomic stop projectato

[2016-03-22 15:53] surajssd commented on #630
@dustymabe
Deployed an App using Atomic CLI
[code]

Trying to stop the app
[code]

[2016-03-22 16:03] surajssd commented on #630
Even if I don't pass the path it works:
[code]

So I thought maybe it is searching for the conf in the local directory so I went into the directory where it is deployed:
[code]
That didn't help either

[code]

[2016-03-22 16:37] surajssd opened #648 "Add new labels for helping beginners"
Add labels like `beginner-friendly`, `documentation`, `low-hanging-fruit`.

[2016-03-22 16:45] surajssd commented on #630
AtomicApp works totally fine in that respect.
[code]

[2016-03-22 17:00] surajssd opened #649 "Ugly traceback when trying to stop an already stopped app"
If I try to stop an already stopped application then traceback is thrown as shown below. It should output it in pretty format (one line ERROR output and exit)

[code]

[2016-03-22 17:05] dustymabe commented on #630
@surajssd There was an issue with atomic cli where it didn't properly handle stop. I fixed it in this PR https://github.com/projectatomic/atomic/pull/263 . Can you try with Atomic CLI >= 1.8 and verify the behavior is what you expect?

I don't think centos has atomic cli >=1.8 yet so you may have to try on Fedora.

[2016-03-22 17:10] surajssd commented on #630
@dustymabe yes will give it a try, thanks for the pointer.

One more final thing:

Deployed an app using AtomicApp and the container
[code]

Here this should error out on the argparse itself, because I have not specified the path but still it is running. Make the path mandatory that is my suggestion. And magically it is looking in a directory which was never there, so this also means Atomic App cr

[2016-03-22 18:14] dustymabe commented on #630
[code]

This is doing a combination of "fetch" and "run": https://github.com/projectatomic/atomicapp/blob/master/docs/atomicapp_lifecycle.md#fetch

This would make command a lot longer.. The user has the option of controlling the destination with the `--destination` option.

[code]

This is probably a bug.

[2016-03-22 19:04] abhi1004 commented on #636
Hi, I was just browsing through the issue and gave it a shot here is the poc https://asciinema.org/a/3ygvn2uxnstvgsn3h02e4kng2
and the code which I wrote for it https://github.com/abhi1004/atomicapp_cli_completion
Could you please review if it is the step in the right direction.

Regards,
Abhishek

[2016-03-23 08:54] surajssd commented on #630
Now I have this package installed `atomic-1.8-3.gitcc5997a.fc23.x86_64` and it works like charm.

Installed:
[code]
Stopped:
[code]

[2016-03-23 12:46] cdrage commented on #408
@kanarip

From what I'm understanding, it's (by example) auto-generating account credentials, passwords, etc.

For ex. Atomic App auto-generated a sha256 pass length for a database, etc?

[2016-03-23 16:34] dustymabe commented on #636
@abhi1004 this looks pretty awesome! I am fairly new to bash completion development. do you know if it is possible to autogenerate the competion file https://github.com/abhi1004/atomicapp_cli_completion ?

[2016-03-23 16:57] abhi1004 commented on #636
@dustymabe thanks for the review, I'll try to figure it out if it is possible to autogenerate the completion file.

[2016-03-23 17:19] shiminsh commented on #636
@abhi1004 Yeah, mine is also in same direction but you should have talked here before working on any issue, as I'm working on same.

[2016-03-23 17:33] cdrage commented on #636
@abhi1004 that'd be awesome :) even if it's a bash script that will auto generate from atomicapp's output that'd be great.

I've been trying to google for a solution but none so far, if it's too hard then there's no worries, even large projects still have to update their autocompletion manually since there's not a solution to autogenerating it.

[2016-03-23 17:48] dustymabe commented on #636
@shiminsh  I agree. @abhi1004 @shiminsh I would like to thank you both for your interests. Do you mind working on this together?

Also feel free to try to pick up other issues that look like low hanging fruit and thanks again!

[2016-03-23 17:57] abhi1004 commented on #636
@shiminsh I apologize that I have created a short poc for it, we can work on this together if you agree and please accept my apologies.
@dustymabe thanks and yes I'll work on some other issue as well.
@cdrage thank you for the review and I'll try if I can help to fix the issue.

[2016-03-28 15:39] jberkus opened #652 "genanswers should not require root permissions"
The way it is now:

`atomicapp genanswers` requires root permissions to run because of the /var/run lock.  This causes two issues:

* unnecessary use of "sudo" by the user;
* the resulting answers.conf file is owned by root, and thus not editable by the user

The way it should be:

`genanswers` should run with the user's permissions.  It has no need to create a lock, since it does nothing which re

[2016-03-28 15:51] goern commented on #652
+1 good catch!

--
Principal Software Engineer - Systems Design & Engineering
Mobile: +49 171 2801345

Red Hat GmbH, http://www.de.redhat.com/, Sitz: Grasbrunn,
Handelsregister: Amtsgericht München, HRB 153243,
Geschäftsführer: Paul Argiry, Charles Cachera, Michael Cunningham, Michael
O'Neill

[2016-03-28 20:15] cdrage opened #654 "Update cli parameters for consistency/clarity"
So I'm implementing the api conversion of k8s and I notice that providing api credentials could be simpler.

Can we deprecate the naming of these:
[code]

to:
[code]

Please :)

Seems *wayyyyyy* simpler and it'll be easier to implement these changes now before GA / 1.0

Thus when I implement k8s and any other provider, the names aren't wacky, ex:
[code]

[2016-03-29 12:43] TomasTomecek commented on #652
Related: https://github.com/projectatomic/atomicapp/issues/640

[2016-03-29 13:18] cdrage commented on #635
Fixed by #651

[2016-03-29 14:49] cdrage commented on #654
Hi all,

@kadel @dustymabe @rtnpro @surajssd @containscafeine

Any thoughts on this?

This is a **blocker** for me for the k8s api implementation as I'm adding in the token parameters, ca file, etc.

Everything is implemented (for the most part) except this.

[2016-03-29 14:54] dustymabe commented on #654
I don't really see a reason to change them. I'm also a fan of being more explicit so the longer names don't bother me.

[2016-03-29 15:51] cdrage opened #656 "Add default config value ~/.kube/config for both OpenShift and Kubernetes."
ping @kadel @dustymabe @rtnpro

So currently we use `kubectl` got Kubernetes. This automatically picks up `.kube/config` for usage.

We do NOT do this with OpenShift as we have to manually specify --providerconfig or  token + ca.

Thus you can easily run `atomicapp run --provider=kubernetes foobar`. But with OpenShift you have to provider `atomicapp run --provider=openshift foobar --providerconfig

[2016-03-29 15:52] cdrage commented on #656
Added the label blocker due to the nature of all these examples / blog posts we currently have.

I don't like the feeling of having to add `--providerconfig ~/.kube/config` to each `atomicapp run projectatomic/helloapache`.

[2016-03-29 16:48] kadel commented on #654
I like sorter names more. But in this case I'm not sure if it is good idea. :-(

My concern is about making it clear what each option represents.
All those parameters are in `[general]` section so it is not clear what they are setting.
For example If we would have only `tls` or `api` than it is not clear for what connections it is.

Longer names  are little bit uglier, but from its names it is cle

[2016-03-29 16:48] dustymabe commented on #656
@cdrage - I agree that picking up ~/.kube/config is what we should do - see my comment https://github.com/projectatomic/atomicapp/pull/420#issuecomment-163036234

One problem I think is that `~` doesn't work inside the container so what we need to do is actually find out what the user's home directory is and then use the full path right?

[2016-03-29 16:49] dustymabe commented on #656
@kadel your input on this would would be appreciated.

[2016-03-29 16:54] cdrage commented on #654
Okay, could we have it more consistent then if we're using the "provider" name?

ex. providertoken, providernamespace

[2016-03-29 17:02] dustymabe commented on #654
I'd be interested in @jberkus' opinion on this subject.

[2016-03-29 17:34] kadel commented on #656
I agree with defaulting to `~/kube/config`, but as @dustymabe  mentioned finding users home directory might be tricky.

I don't know if there is a easy way how to find out what who started container :-(
There is `$SUDO_UID` in atomic cli (https://github.com/projectatomic/atomic/blob/master/docs/atomic-run.1.md) but I'm not sure if it is going to be helpful, or how to do this without atomic cli.

[2016-03-30 13:25] cdrage commented on #656
@dustymabe @kadel

We can use the env variables SUDO_USER and USER within atomicapp.

For ex.

If root is ran these are the env variables:
USER=root
SUDO_USER=foobar

If user ran without root:
USER=foobar
SUDO_USER=None

Should be easy to parse :)

[2016-03-30 14:22] dustymabe commented on #656
Just be careful here. We can't fully infer the home directory just from the username as your home can be set to other locations. We would need to parse `/etc/passwd` for this.. but then again what about if their information comes from directory services etc.. We might be able to get the $HOME env var from atomic cli and pass it through?

All i'm trying to say is let's make sure we cover the angles

[2016-03-30 14:24] cdrage commented on #656
@dustymabe You're right, we need to cover all angles on this when we decide to implement.

[2016-03-30 15:50] jberkus commented on #654
So, first, I agree that the *existing* names are confusing; their length does not add to clarity.

I'm going to go with longer names for the simple reason that Answers is a flat namespace, and we need to accommodate user-supplied variables.  Having a built-in Answer, which is optional, but has as short and common a name as "api" or "token" seems liable to lead to user-unexpected conflicts.

I'll a

[2016-03-31 11:17] surajssd commented on #648
@cdrage can you help me with this?

[2016-03-31 13:03] cdrage commented on #648
Ah sorry, I don't actually have permission to add labels. @goern @aweiteka ?

[2016-03-31 16:57] cdrage commented on #648
Woops! Looks like I actually do :)

need_doc is already added, but I've added low-hanging-fruit and beginner-friendly (same colour)!

[2016-03-31 16:57] #648 closed

[2016-03-31 21:49] dustymabe opened #659 "Log message to wrong log level"
When running the wordpress example on the docker provider you see this:

[code]

Looks like the log statement needs to get fixed because it is printing a warning to the [INFO] level.

[2016-03-31 21:51] dustymabe commented on #659
@shiminsh,  @abhi1004, @nurav

Would one of you like to take a stab at it. This one should be easy.

[2016-03-31 22:18] dustymabe opened #660 "persistent storage not working - mutiple entries in nulecule"
I tried adding a persistent volume to the wordpress example to test #609. I can't for the life of me get it to even create the persistent volume claim.

Added this to the bottom of the Nulecule:
[code]

And then I added this to do some debug:
[code]

The graph that gets to this function in NuleculeBase doesn't even see the requirements:
[code]

This basically shows that there are two items in the

[2016-04-01 03:08] nurav commented on #659
I'd like to! I'll issue a PR soon.

[2016-04-01 11:47] surajssd commented on #654
+1 for dashes.

[2016-04-01 15:47] cdrage commented on #660
I'll look at this :)

[2016-04-01 16:09] cdrage opened #662 "Cant use answers.conf with aggregated library, what?"
[code]

[2016-04-01 16:34] dustymabe commented on #662
I don't really understand your problem. The sample answers.conf for wordpress doesn't have default values for all parameters so of course it will prompt. Did you actually populate the answers.conf file with answers?

[2016-04-01 17:18] cdrage opened #663 "Changing how to we use atomicapp with atomicapp cli."
Wouldn't this be better?

[code]

or even we can do this if Project Atomic hosts use the Red Hat registry (alias projectatomic/atomicapp to app, or use just "app")
[code]

instead of
[code]

It'll just be some changes our end to how we detect if we're running via atomic cli.

[2016-04-03 03:14] shiminsh commented on #659
@nurav you're working on it or I can start working on this.

--
Kumari Shalini

On Fri, Apr 1, 2016 at 8:38 AM, Varun Joshi <notifications@github.com>
wrote:

[2016-04-03 11:56] nurav commented on #659
I'm working on it.

[2016-04-04 12:53] containscafeine commented on #629
<WIP>

[2016-04-04 12:54] containscafeine commented on #629
WIP...

[2016-04-04 13:17] containscafeine commented on #629
This issue makes no sense no me now, since it has to wait till this point.
Sorry for the noise!

[2016-04-04 13:17] #629 closed

[2016-04-04 14:38] containscafeine opened #668 "typing only `atomicapp` should display help"
When we type only the command `atomicapp`, we do not get the help as output. Will it be better if we get the help printed on screen?
Thoughts?

[2016-04-04 17:21] kadel opened #669 "Order of OpenShift artifacts in Nulecule file"
If I remember correctly in previous version we deployed OpenShift artifacts in order which they appear in Nulecule file.
But this is not happening anymore :-(

Problem is that with OpenShift you sometimes need to create some objects before another.

in Nulecule:
[code]

debug output:
[code]

Here it can bee seen that processing is happening in same order as in Nulecule file, but then deployment is

[2016-04-04 17:55] kadel commented on #669
Right now we don't have a way how to ensure order in which OpenShift artifacts are deployed. One workaround with this would be using List but that is not possible because right now our provider doesn't support it :cry:  https://github.com/projectatomic/atomicapp/issues/612

[2016-04-04 19:50] #627 closed

[2016-04-04 20:21] #660 closed

[2016-04-04 20:56] #584 closed

[2016-04-04 21:01] dustymabe commented on #636
@abhi1004 and @shiminsh, Thanks for your PRs - did either of you ever investigate if there is a good way to autogenerate the bash completion files so that we don't have to maintain it seperately from the code?

[2016-04-04 21:19] dustymabe commented on #669
@kadel, given openshift object types, what is the requirement as far as ordering goes? I see you have a deploymentconfig buildconfig service and imagestream. What are the requirements for ordering there?

[2016-04-04 21:25] dustymabe commented on #620
I'm +1 on this. Would be nice to have it only output on debug.. and even then maybe we can chop it off so it is just a short uuid (i.e use the first 12 characters)

[2016-04-05 03:50] abhi1004 commented on #636
@dustymabe I searched a lot about it, but no luck.

[2016-04-05 04:52] abhi1004 commented on #668
@containscafeine I'll look into the issue.

[2016-04-05 05:29] containscafeine commented on #668
@abhi1004 Oh, sure, thanks!
@surajssd @cdrage @dustymabe @rtnpro does this behavior makes sense?

[2016-04-05 05:49] rtnpro commented on #656
@dustymabe

The ``$HOME`` env variable does not work for ``sudo``, it points to ``/root`` instead of the user's home dir.

[2016-04-05 06:25] surajssd commented on #669
When comparing `service` and `replicationController`, `service` must be created before `rc`. What are the other ideal chronological ordering?

[2016-04-05 06:26] surajssd commented on #668
@containscafeine yes it does

[2016-04-05 06:29] surajssd opened #670 "Selectively read the resources provided by the user"
It would be great to have a option to selectively read only provided resources with atomicapp, something like this:
`sudo atomicapp run . -v --provider=kubernetes --create-only svc,rc`

A user can choose to provide all the resources needed in the form of artifacts for a specific provider, but then while deploying the app using command line he/she can choose to select only specific resources?

[2016-04-05 07:31] kadel commented on #669
@dustymabe right now my concern is mainly about deploying imageStream before buildConfig because of this bug https://github.com/openshift/origin/issues/4518
I think that deploying artifact in order they are specified in Nulecule might be enought to solve most of ordering issue with OpenShift.
Person who is creating Nulecule app then can decide what is right order of deployment for his application.

[2016-04-05 07:51] kadel commented on #670
I don't know how I feel about this.
My issue with this is that, `--create-only` is valid only for some providers. For docker or marathon provider there are no objects types or something equivalent to objects in k8s and OpenShift.

What is use case for this? Why would I want to deploy only part of the application?

[2016-04-05 13:14] cdrage commented on #654
+1 for dashes too.

@dustymabe @rtnpro Opinions?

This will need to change before we release for GA.

[2016-04-05 13:14] cdrage commented on #654
(hence blocker)

[2016-04-05 13:15] cdrage commented on #656
@rtnpro See https://github.com/projectatomic/atomicapp/pull/658 I believe we've fixed this now.

This will be unblocked once https://github.com/projectatomic/atomicapp/pull/658 is merged in and then we add default configuration to Kubernetes && OpenShift providers.

[2016-04-05 13:52] dustymabe commented on #654
@cdrage, from your email on list you are suggesting we move to:

[code]

May I suggest that we change provider-token to provider-auth so that we can support client certificate authentication in the future: see #533.

Also I don't really like having two dashes.. would prefer provider-tlsverify.

[2016-04-05 13:53] dustymabe commented on #533
@surajssd - how's the progress on this coming?

[2016-04-05 14:01] surajssd opened #671 "In JSON artifact file answer not placed in double quotes"
I deployed an app, it fails uglily on the bad configuration in json.
[code]

This Nulecule file(auto-generated) has been edited to get something called as `access_token` as a variable
[code]

The place where Atomic App fails
[code]

[2016-04-05 14:09] cdrage commented on #654
@dustymabe @kadel
[code]

makes is more ambiguous so that's good, I agree on that.

Yeah, let's put tlsverify as one word.

[2016-04-05 14:44] dustymabe commented on #671
What does your `hexboard-DeploymentConfig.json` file look like around this section?

[2016-04-05 14:53] kadel commented on #671
I expect that in `hexboard-DeploymentConfig.json ` artifact you have something like this:
[code]

If you put `$access_token` in quotes it should work.

[code]

Unlike in YAML, in JSON all strings needs to be in quotes.

[2016-04-05 15:04] dustymabe commented on #671
@surajssd can you confirm @kadel is right? If that is so I think we can close this issue.

[2016-04-05 15:06] kadel commented on #654
I agree with changing it to `provider-auth` it is going to make it easier to use it with different auth method.

:+1:  for `provider-tlsverify` also

[2016-04-05 15:10] surajssd commented on #671
Yes what @kadel has suggested works fine.
Thanks @kadel @dustymabe.
Closing.

[2016-04-05 15:10] #671 closed

[2016-04-05 16:49] dustymabe opened #672 "docker-inspect error when no containers running on system"
There is a docker inspect error when there are not yet any containers running on the system:

[code]

This comes from the following line in docker.py:
[code]

We need to run the docker ps command first and then only if there are existing containers running will we call docker-inspect.

[2016-04-05 19:06] jasonbrooks opened #673 "sudo atomic run $image yields empty `-v` argument"
On centos with `atomic-1.9-4.gitff44c6a.el7.x86_64`, the command `sudo atomic run projectatomic/guestbookgo-atomicapp` produces the command `docker run -it --rm --privileged -v -v /run:/run -v /:/host --net=host --name guestbookgo-atomicapp -e NAME=guestbookgo-atomicapp -e IMAGE=projectatomic/guestbookgo-atomicapp projectatomic/guestbookgo-atomicapp run`.

The blank `-v` leads to the error `invali

[2016-04-06 12:24] kadel opened #674 "Backward compatibility regarding new parameters in Kubernetes 1.2"
Kubernetes 1.2  added new configuration parameters for liveness and readiness probes: periodSeconds, successThreshold, failureThreshold.

If you define object with any of those parameters for example like this:
[code]

Now if you want to deploy this to using kubectl older then 1.2 it fails on `error validating "test.yaml": error validating data: found invalid field periodSeconds for v1.Probe; if y

[2016-04-06 13:08] dustymabe commented on #672
This is most likely a new error resulting from move to docker 1.9 on host.

[2016-04-06 13:11] dustymabe commented on #672
@containscafeine can you take this one?

[2016-04-06 13:13] cdrage commented on #674
Hey @kadel

So @dustymabe and I recently had a meeting in regards to `pykube` (which is what we plan to use for the Kubernetes provider with the Ansible guys.

At the moment it looks like a good route to go in implementing the cli -> api conversion. I've been contributing upstream to the project in order to get it up to par for 1.2, I believe at this moment all new features from 1.2 have been impl

[2016-04-06 15:10] cdrage opened #675 "Switching from OS-specific verisons of python packages to pip with hardcoded versions."
In order to encourage third-party libraries to be added (pykube, future openshift library), we have to wait until the python package is actually available upstream on the operating system.

I suggest we switch *back* to how we had it before with Atomic App and use pip with hard-coded versions.

We use pip currently in the `Dockerfile.debian` version of Atomic App (admittedly because Debian takes a

[2016-04-06 15:15] containscafeine commented on #672
@dustymabe taken! :)

[2016-04-06 15:16] cdrage commented on #675
PR is #676

[2016-04-06 15:36] surajssd commented on #636
@dustymabe @shiminsh @abhi1004 I have found a Python library which auto-generates this, but I don't know how much of work this is? http://docs.openstack.org/developer/cliff/complete.html

Complete documentation of the `cliff` http://docs.openstack.org/developer/cliff/

[2016-04-06 15:38] containscafeine commented on #672
@dustymabe is it fine if we use
`docker ps -a --format="{{ .Names }}"`
instead of
`docker inspect --format="{{ .Name }}" $(docker ps -aq --no-trunc) | sed "s,/,,g"`
or is there a reason that we are using `docker inspect`?

[2016-04-06 15:45] surajssd commented on #669
@kadel @dustymabe we should come up with a rule or chronological order that specifies the order of deployment, for different providers (atleast for Kubernetes and OpenShift).
On the kubernetes documentation, "[Best Practices for Configuration](http://kubernetes.io/docs/user-guide/config-best-practices/)" describes in "Services" section that "It’s typically best to create a service before correspon

[2016-04-06 16:28] shiminsh commented on #636
Okay, lets try this.

--
Kumari Shalini

On Wed, Apr 6, 2016 at 9:07 PM, Suraj Deshmukh <notifications@github.com>
wrote:

[2016-04-06 18:27] dustymabe commented on #672
@containscafeine much better! I had tried to do the same thing but I was trying to use `"{{ .Name }}" and it was giving me an error. `.Names` is great!

[2016-04-06 18:54] #672 closed

[2016-04-06 19:23] #591 closed

[2016-04-07 05:32] abhi1004 commented on #620
Hi @dustymabe can I with this ?

[2016-04-07 05:35] abhi1004 commented on #620
Hi @dustymabe can I  help with this?

[2016-04-07 06:50] surajssd commented on #641
After PR #682
Nulecule file which mentions of default provider as `kubernetes` and in `artifacts` only `docker` artifacts are provided.
[code]
Running Atomic App, now it errors out properly.
[code]

[2016-04-07 12:42] surajssd opened #683 "Atomic App creates a random folder"
When using `atomicapp stop` it is creating a random folder in `/var/lib/atomicapp`

Before running the command the directory `/var/lib/atomicapp` does not even exists
[code]

This is how I call the command (I know it is wrong way to call it)
[code]

Here is a directory created, which it should not.
[code]

Based on the discussions on #630

[2016-04-07 12:43] surajssd commented on #630
Closing in favor of #683 thanks @dustymabe and @cdrage for the inputs here.

[2016-04-07 12:43] #630 closed

[2016-04-07 18:45] LalatenduMohanty commented on #675
@cdrage I do not think it is a good idea. If we want to have atomicapp RPM in distributions e.g. CentOS and Fedora then we should stay away from pip. Because most of the build system does not have access to internet for the build environment.  This is done to make sure all packages have their build dependency and runtime dependency in the distribution and the package does not fail because of depen

[2016-04-07 19:01] cdrage opened #684 "New label"
Added "need_review" as a label for any need-to-review-this-now-oh-god-its-godzilla PR's.

Since we already have need_doc, need_info, etc.

Or simply when it needs another review / awaiting one.

[2016-04-07 19:19] #656 closed

[2016-04-07 19:43] kadel commented on #684
:+1:

[2016-04-07 20:01] dustymabe commented on #445
@containscafeine any progress on this?

I opened up a feature request upstream that might be useful in this endeavor. `https://github.com/docker/docker-py/issues/1031`

[2016-04-07 20:02] dustymabe commented on #684
why did you open an issue for this?

[2016-04-07 20:09] cdrage commented on #684
Keep a history / let people know!

[2016-04-07 20:09] #684 closed

[2016-04-07 21:46] dustymabe commented on #683
You are still using the command wrong, but I agree no folder should be created.

[2016-04-07 23:39] containscafeine commented on #628
I hacked a bit on this, and here is a quick [PoC](https://asciinema.org/a/cgi1hctnr0igcsl3b2fuvcgks) on `atomicapp ps`, so each time that it is run, the endpoints which were specified in the `Nulecule` file are checked.
Do we keep this or is this not required?
Just to embarrass myself, the code is [here](https://github.com/containscafeine/atomicapp/commits/atomicapp_sentience).
Thoughts and sugges

[2016-04-07 23:39] containscafeine commented on #445
@dustymabe nothing yet, but on it now!

[2016-04-09 15:21] karansinghkjs346 commented on #649
I want to work on it

[2016-04-10 21:35] dustymabe commented on #620
@abhi1004 go for it!

[2016-04-10 23:25] dustymabe commented on #649
hey @karansinghkjs346. @cdrage is in the middle of a refactor of the kubernetes code so it might not be a good idea to work on this right now. would you like to pick up another issue?

[2016-04-11 04:18] karansinghkjs346 commented on #649
@dustymabe - No prob :) , i will start with an another one :)

[2016-04-11 09:47] surajssd commented on #620
This is also spotted else where, which can be re-created as follows:

[code]

[2016-04-11 13:08] surajssd commented on #533
I am not clear on the concept of how to use certificates to authenticate user to OpenShift? From what I understand is for now we support in Atomic App as:
`$ oc login --token=XZ0UQoKHiMY411Hs4Q3uyfAunCBovRSpquberltvBiM`
(where this token is taken from `~/.kube/config` and this works fine, I get logged in as the specific user)

Now for using certificates we are gonne use this method authentication:

[2016-04-11 14:39] dustymabe commented on #620
@surajssd, yes.. @abhi1004 can we cover the "creating a container" printed uuid as well?

[2016-04-11 21:24] dustymabe commented on #533
@surajssd thanks for taking a look at this.. The following documentation isn't the cleanest but take a look at: https://docs.openshift.org/latest/install_config/configuring_authentication.html#RequestHeaderIdentityProvider

On the ADB you can configure `oc` to use certs for an "admin" user like so:

[code]

Now look at `~/.kube/config` and you can see it is using the certs and you can run `oc get

[2016-04-12 14:04] dustymabe commented on #654
Updated the title to more accurately reflect the outcome of the discussion.

[2016-04-12 14:05] dustymabe commented on #654
Fixed in #685 with commit 92b0c54

[2016-04-12 14:07] dustymabe commented on #673
This is an issue in Atomic CLI that was fixed. Unfortunately the version in RHEL/CentOS don't have the new commit in it so we'll have to wait for the next release.

https://github.com/projectatomic/atomic/issues/339

[2016-04-12 14:26] surajssd commented on #673
@dustymabe we can still `yum update` right?

[2016-04-12 14:30] dustymabe commented on #673
@surajssd not if there isn't a newer atomic cli package available. What I am saying is that we have to wait until there is a new release of the atomic cli package before this will be fixed.

[2016-04-12 14:31] #654 closed

[2016-04-12 16:24] dustymabe commented on #662
@cdrage can you close this if there is no issue?

[2016-04-12 16:30] surajssd commented on #673
okay, sure

[2016-04-13 11:18] surajssd opened #693 "Certificate passing param in `make_rest_request`"
Currently `make_rest_request` function in `utils` don't support passing local certificate as client side certificate. So adding additional parameter to it, called as `cert`, would help.

[2016-04-13 15:19] surajssd commented on #533
@dustymabe I tried your findings and they work

[code]

[2016-04-13 15:57] dustymabe commented on #693
hey @surajssd let's let #533 track this work - don't need this issue too.

[2016-04-13 15:57] #693 closed

[2016-04-18 07:12] rtnpro commented on #470
Fixed by #603

[2016-04-18 07:12] #470 closed

[2016-04-18 11:35] surajssd opened #695 "Logs only display file path two levels deep"
[code]

Normally AtomicApp, in its output displays `'dir'/'filename'.py` which is only two level deep. In above output you may find that in some places the output contains only two level depth like `lib/kubeconfig.py` but ideally we should display any level of depth which comes under `atomicapp`? This should rather look like `providers/lib/kubeconfig.py`.

[2016-04-18 12:20] surajssd commented on #649
One more place of traceback

[code]

[2016-04-19 10:35] kadel opened #699 "Openshift provider: Overwriting options from provider-config using commandline arguments"
Currently, when you are using OpenShift provider argument in `provider-config` and arguments specified using commandline arguments must be consistent. It is not possible to overwrite them from command line :-(

**Example:**
If your OpenShift config file (`provider-config`) has active project set to `proj1` and you want deploy something to project `proj2` It is not possible to overwrite that value

[2016-04-19 11:05] surajssd commented on #699
I would like to pick it.

[2016-04-19 13:34] dustymabe commented on #699
@kadel - I think the original idea was that you use either `provider-config` OR "a combination of the other options" to talk to openshift/kube. I agree with you that command line overrides are nice, but right now I don't think we have any way to know if we are providing a value from the command line or if it got picked up from the answers.conf file.

I think if we had an easy way to tell where a v

[2016-04-19 13:36] dustymabe commented on #524
I'd also like to make sure that this config class keeps track of where values are provided from and tracks a hierarchy. i.e. if `namespace` variable exists in answers.conf as well as was provided on the command line via `--namespace`, I'd like the class to keep track of both values as well as the priority. If the command line has higher priority then we should return that one when a calling functi

[2016-04-19 13:49] kadel commented on #699
It is not possible to know if value is from answers.conf or from command line that I agree.
But inside [openshift.py](https://github.com/projectatomic/atomicapp/blob/1c438d2d6c0416a0cfc6e7b184e409240096e26f/atomicapp/providers/openshift.py#L644,L667) it is possible to know if value is from parsed `provider-config` or from answers/command-line this should be enough for this.

[2016-04-19 14:06] surajssd commented on #699
yes, openshift.py does not require any hacks to do this because all the information is available already.

[2016-04-19 14:14] dustymabe commented on #699
Here is the problem:

1 - namespace=default in answers.conf
2 - user provides --namespace=project1 on command line
3 - .kube/config contains namespace=project2

In this case you want the namespace to be "project1" because it was set from the command line. But what about this scenario:

1 - namespace=default in answers.conf
2 - nothing provided on command line
3 - .kube/config contains namespace=pr

[2016-04-19 14:32] kadel commented on #699
Yes and I don't see problem in using "default" project in this case. As first time user I would actually expect this behavior. Yes we ignore project settings from `.kube/config`, but I don't see that being problem. I think that this is same behavior as in Kubernetes provider (but not sure, haven't check that). Anything that you set in Atomic App should have priority from `.kube/config`.

To me hon

[2016-04-19 15:14] dustymabe commented on #699
I think if namespace wasn't a default value in the answers.conf then you would be right. The user doesn't have to set it manually though, as there is a default. By giving us a provider-config the user has told us to "find" the answers over here instead.. At least this is the way I interpret it.

I agree that if the user added --namespace to the command line then we should use that and not require

[2016-04-19 19:13] jberkus opened #703 "Remove namespace munging from docker provider"
Currently, AtomicApp will create fake "namespaces" for the docker provider since docker does not support these natively.  The problem with this is that it can cause atomic apps to have a fatal name collision, even though the names for the docker containers do not conflict.  This is confusing to the user and is not documented, so they cannot debug the issue.

While we could document this behavior,

[2016-04-19 19:21] dustymabe commented on #695
We had a discussion about this a while back in https://github.com/projectatomic/atomicapp/issues/571

I guess we might as well include the rest of the path.

[2016-04-19 19:55] dustymabe commented on #675
This blog post by stef walter might be pertinent to this discussion: http://stef.thewalter.net/stop-deploying-packages.html

[2016-04-19 20:51] cdrage commented on #703
Yeah :( This was a way to find what has been deployed. Although I was the one that originally implemented it, it does muck with things.

What I *do* suggest however is adding a label to each deployment instead. Which will not only make it more non-intrusive, but work towards #642

[2016-04-19 20:53] cdrage opened #704 "Should we deprecate locking?"
#599

Should we deprecate logging in favour of having Atomic App providers determining whether the application has been deployed or not?

[2016-04-19 20:56] cdrage commented on #704
Would clear up:
#598
#498
#497
#496

[2016-04-19 21:39] dustymabe commented on #704
I think this is a decent idea for now. It's causing enough issues to inhibit some users. I say we remove it and then surgically add it back when concurrency becomes an issue.

[2016-04-20 06:08] surajssd commented on #704
+1 for removing the locking right now, because it has added unnecessary complexity in many places!

[2016-04-20 07:44] kadel commented on #699
Me and @dustymabe  discussed this little bit more and decided that this is going to be part of #524

One workaround specifying namespace is to delete namespace setting from `answers.conf` and not use `--namespace` argument,  than namespace can by changed just in `.kube/config` using `oc project`.

[2016-04-20 08:38] surajssd commented on #699
so this means `--provider-config` becomes compulsory?

[2016-04-20 09:27] surajssd commented on #695
@dustymabe I am not sure, if I understand your point of including rest of the path?

[2016-04-20 13:09] cdrage commented on #704
I agree with all above. This blocks in regards to doing tests and such and at the moment Kubernetes / OpenShift / Docker fails if the deploy is ran again (same namespace for k8s + oc, for docker is fails on same docker name, etc.)

[2016-04-20 13:39] surajssd commented on #669
@kadel @dustymabe are we going ahead with the idea of let user decide the order of artifact or are we gonna embed that intelligence into Atomic App, depending on that this can be closed or I can move forward with implementing that.

[2016-04-20 14:00] dustymabe commented on #669
I think we definitely want to have logic within Atomic App to deploy things in the "right" order. The only reason to not do this would be if we clearly identify paths where deploying things in that order is wrong.

[2016-04-20 14:07] dustymabe commented on #695
@surajssd meaning more the 2 levels.. the "rest of the path" that is more than 2 levels deep.

[2016-04-20 14:50] dustymabe commented on #675
Since https://github.com/projectatomic/atomicapp/pull/676 was closed.. closing this too.

[2016-04-20 14:50] #675 closed

[2016-04-20 14:59] dustymabe commented on #699
No. You don't have to specify provider-config at all if you want to specify all values in the answers.conf file.

However, if you are providing `--provider-config` every time on the command line, you can alternatively just set it in the answers file so you wouldn't have to do that every time. There is some talk of whether we should add logic to automatically pick up the config file from the user's

[2016-04-20 15:53] cdrage opened #707 "Automatically retrieve .kube/config from OpenShift / Kubernetes providers"
When deploying, if a user does not provider --provider-config or --provider-auth, etc. We should automatically assume that they have a .kube/config and use that.

With the implementation of https://github.com/projectatomic/atomicapp/pull/658 this should be easy

DONE:

- [x] Kubernetes
- [x] OpenShift

[2016-04-20 18:29] cdrage commented on #695
Please only allow this on when `-v` is passed. Normal output should be clean.

[2016-04-20 18:45] surajssd commented on #695
@cdrage no, normal mode is not touched:

Normal mode
[code]

Verbose Mode
[code]

[2016-04-20 18:47] cdrage commented on #695
Alright good :)

[2016-04-20 20:25] cdrage opened #708 "Missing /usr/bin/kubectl on kubernetes tests"
For some odd reason I'm getting this:

[code]

Despite having k8s on my localhost

[code]

[2016-04-20 20:27] dustymabe commented on #529
This really applies to any certificate that is provided in the kubeconfig file, not just the ca.

[2016-04-20 20:32] cdrage commented on #708
Hmmm...
[code]

[2016-04-20 21:02] dustymabe commented on #708
@cdrage please update the name of this issue to be more accurate - this would be a good practice for the future too. Will make it easier to find stuff in the future. "errors on k8s" probably wouldn't be a very good search term in the future :)

[2016-04-21 12:40] kadel opened #710 "If running in container `--provider-cafile` path is not prefixed with `/host`"
[code]

[2016-04-22 06:34] surajssd commented on #662
After
[code]
I edited the `answers.conf` which looked like this
[code]
to
[code]
Since these values are by default set to `None` it is asking you the questions!

[2016-04-22 13:29] cdrage commented on #662
Hmmm. So the bug is the fact that it's set to "None". What if the user wants to genuinely use the value "None"?

[2016-04-22 13:33] cdrage commented on #704
Since #706 is merged this issue is now closed

[2016-04-22 13:33] #704 closed

[2016-04-22 13:33] cdrage commented on #599
Closed via #704

[2016-04-22 13:33] #599 closed

[2016-04-22 13:33] cdrage commented on #597
Closed via #704

[2016-04-22 13:33] #597 closed

[2016-04-22 13:33] cdrage commented on #494
Closed via #704

[2016-04-22 13:33] #494 closed

[2016-04-22 13:33] cdrage commented on #493
Closed via #704

[2016-04-22 13:33] #493 closed

[2016-04-22 13:35] cdrage commented on #625
Hi all,

So locking has been removed so no more having to deal with /run/lock.

In regards to the files Atomic App extracts to, I do agree, it sucks we can't use it without sudo.

Although if you do do `atomicapp fetch` and then `atomicapp run` in the same directory you don't need sudo.

[2016-04-22 13:37] cdrage commented on #652
/var/run has been removed! Let me know if this has fixed your issue @jberkus

[2016-04-22 13:37] #652 closed

[2016-04-22 13:41] cdrage commented on #708
Due to the deprecation of .dockerenv and .dockerinit in `docker 1.10`, both have been removed as checks via #709

[2016-04-22 13:41] #708 closed

[2016-04-25 22:09] jberkus commented on #652
Verified that it's working as expected.

[2016-04-25 22:10] jberkus commented on #589
"Provider not specified" message showing up now, so that's good.

[2016-04-28 10:11] surajssd opened #716 "Empty fields accepted in Atomic App"
Is it safe/correct behavior to accept empty fields? AtomicApp accetps empty fields:

[code]
Generated answers file

[code]

Also saw the pod situation after some time:

[code]

[2016-04-28 10:12] surajssd commented on #716
This is `etherpad-centos7-atomicapp`.

[2016-05-02 05:57] cdrage commented on #716
I've experienced this recently as well...

In regards to the .gen file. Should all of this be `None`? @dustymabe

[2016-05-12 16:21] #695 closed

[2016-05-12 16:41] cdrage opened #723 "Add an Atomic App binary."
We should have a binary of Atomic App.

This allows you to use atomicapp on OS' which don't have all the modules / python installed. As well as creating a <10MB container by using `FROM scratch` and copying over the binary.

[2016-05-16 15:55] cdrage commented on #419
This should be solved by binary generation via #724 , just need to test this out >.>

[2016-05-16 15:55] #635 closed

[2016-05-17 19:09] cdrage opened #728 "Removing Coverage?"
I've noticed recently that Coverage has been slow lately as well as not doing the PR's correctly (if you look, you see that most are yellow-coloured.

Vote to remove it in favour of manually checking the code-coverage?

[2016-05-17 19:10] cdrage commented on #723
Waiting for https://github.com/projectatomic/atomicapp/pull/725 to be reviewed and then I can merge https://github.com/projectatomic/atomicapp/pull/724 which should (theoritically) work 100% on Mac OS X / Windows as long as the provider used is via the API.

[2016-05-17 19:16] cdrage opened #729 "Using `docker network` on deploying of docker containers"
With the deprecation of `--link` we should use `docker network` creation when deploying a Docker-provider-specific atomic-app.

[2016-05-18 08:54] kadel commented on #728
Does anyone know what is wrong with it?
I think that it would be great to fix it.

[2016-05-19 05:06] khrisrichardson opened #731 "nulecule component graph rendering is non-Hamiltonian"
From an examination of the code in [nulecule/base.py](https://github.com/projectatomic/atomicapp/blob/master/atomicapp/nulecule/base.py), it would appear that what is referred to as a graph is actually rendered as nested lists of lists.

The predicament this raises is the potential for the same "node" to appear multiple times in the data structure if it is a dependency of multiple other "nodes", w

[2016-05-19 13:16] dharmit opened #732 "atomicapp run falsely complains about image pull failure"
I'm trying things on CentOS CI infra. It's a fully updated CentOS 7 box.

To test Mesos-Marathon provider against an atomicapp, one needs to setup atomicapp cli since atomic cli doesn't support Mesos-Marathon.

After doing vagrant up against the Vagrantfile under [this directory](https://github.com/projectatomic/adb-atomic-developer-bundle/tree/master/components/centos/centos-mesos-marathon-single

[2016-05-19 14:31] cdrage commented on #732
Could you elaborate as to why `atomic` CLI doesn't support mesos/marathon in comparison to atomicapp?

[2016-05-19 16:41] dharmit commented on #732
@cdrage no clue, sorry! I don't have idea about it as I haven't looked into atomic cli earlier.

[2016-05-31 13:52] cdrage commented on #723
This has been added now :) Docs incoming

[2016-05-31 13:52] #723 closed

[2016-05-31 13:52] cdrage opened #736 "Docs for Atomic App binary"
Need docs on how to use Atomic App as a binary on other operating systems.

Need Mac OS X testing as well.

[2016-06-02 12:57] dustymabe commented on #731
@rtnpro ^^ do you mind taking a look at this?

[2016-06-02 15:17] khrisrichardson commented on #731
I should probably explain this a little differently, after starting to work on a PR of my own.

Possibly a better explanation is that due to the nature of how the components are processed in a recursive manner, as opposed to composing a directed graph of components during the unpack method from which the other methods in atomicapp/nulecule/main.py operate, what ought to be a unique set of componen

[2016-06-07 07:11] rtnpro commented on #731
So far atomicapp, has been focused on container orchestrators like
``kubernetes``, ``openshift``, where ordering of execution does not
matter much, as those systems are designed in a way to eventually
bring up things in a stable way.

That said, the orchestrators will not be able to handle the above
scenario, and it needs to be taken care in atomicapp. :+1: for
pointing it out.

It makes the imple

[2016-06-07 17:07] khrisrichardson commented on #731
Thanks for the feedback, @rtnpro

I acknowledge that "relying" on birth order runs contra to one of the key tenets of orchestration platforms, but I also believe there's no harm in exploiting that information to make for a smoother deployment, which is less dependent on retry mechanisms.

I have since made more progress on a PR, and intend to have something by end of week.

[2016-06-10 20:57] cdrage opened #738 "Support for v1beta in Kubernetes API / provider"
Because we use the `api/v1` end-point, certain things aren't deployable for example, from the `v1beta` extensions. Source: http://kubernetes.io/docs/api-reference/extensions/v1beta1/definitions/

Let's fix this :) One of the things we do is check `resources` for the list of API end-points that are allowed to be deployed. The same should be kept for checking the `v1/beta` endpoints, `v2` in the fut

[2016-06-10 20:58] cdrage commented on #738
This should fix your issue @khrisrichardson

[2016-06-13 00:04] khrisrichardson commented on #731
WIP is [here](https://github.com/projectatomic/atomicapp/compare/master...khrisrichardson:networkx) in case anyone has any comments prior to a PR.

[2016-06-13 10:03] rtnpro commented on #731
On Mon, Jun 13, 2016 at 5:34 AM, Khris Richardson
<notifications@github.com> wrote:

Seems radical :+1: I am looking into it and I will get back to you. Thanks!

[2016-06-14 09:40] amitkrout opened #741 "Hyperlink "CLI doc" - page not found"
While clicking on the hyper link ```CLI doc``` in Basic commands of  ```atomicapp/docs/start_guide.md``` (https://github.com/projectatomic/atomicapp/blob/master/docs/start_guide.md) its redirecting to  - "404 This is not the web page you are looking for"

[2016-06-14 11:14] rtnpro commented on #731
On Mon, Jun 13, 2016 at 3:32 PM, Ratnadeep Debnath <rtnpro@gmail.com> wrote:

LGTM :+1:. Please create a PR for it :)

[2016-06-14 12:02] rtnpro commented on #731
@khrisrichardson

I was not able to run wordpress atomicapp example. Seems like it failed to render artifacts for docker provider for the mother Nulecule app with id ``wordpress-atomicapp``. Here's the logs:

[code]

But, it's not a blocker to open up a PR. Your work looks great. Once you open the PR, we can collaborate on it better.

Thanks :)

[2016-06-14 13:04] #738 closed

[2016-06-14 13:12] cdrage commented on #741
Good eye! This is fixed in https://github.com/projectatomic/atomicapp/pull/742

[2016-06-14 13:44] cdrage opened #743 "Support *-data for Kubernetes certificates"
Similar to the OpenShift work being done (https://github.com/projectatomic/atomicapp/pull/696), *-data certificates should be supported for the Kubernetes provider.

[2016-06-14 15:04] khrisrichardson commented on #731
Hi @rtnpro  Thanks so much for the review, but I think I may have asked for it a little prematurely.

I see the problem and it stems from a little hubris on my part for thinking that the NuleculeBase abstract base class and NuleculeComponent could "easily" be squashed into the Nulecule class with no side effects.

Whereas the iteration in [master](https://github.com/projectatomic/atomicapp/blob/ma

[2016-06-14 17:13] rtnpro commented on #731
On Tue, Jun 14, 2016 at 8:34 PM, Khris Richardson
<notifications@github.com> wrote:

I wish I could do away with these abstractions, but this was the best
thing that I could think of.

Awesome, looking forward to it :)

graph object parama > global params

We're in the process of documenting how we handle config data and will
add it to the SPEC accordingly.

Let me know if you have any questions.

[2016-06-14 22:06] dustymabe commented on #732
I think I'm seeing something similar: Fedora 24.

`atomic run projectatomic/helloapach:latest` fails on first run with `ERROR  :: Could not pull docker image: projectatomic/helloapache:latest`. Succeeds on 2nd run.

[2016-06-15 14:30] #741 closed

[2016-06-20 14:15] cdrage opened #745 "When fetching via atomicapp, should set to current user uid/guid"
Possibly use: http://stackoverflow.com/questions/5994840/how-to-change-the-user-and-group-permissions-for-a-directory-by-name to achieve this.

But at the moment, whenever you fetch an `atomicapp`. It is pulled via sudo and thus all files are chown'd to root.

Should we implement a function that sets the guid/uid of the file pulled to the current user?

[2016-06-24 02:01] dustymabe opened #749 "Client Server Version mismatches"
Occasionally we have seen issues where we can get client/server version mismatches. In newer versions of docker a `DOCKER_API_VERSION` environment variable is respected. `https://github.com/docker/docker/pull/15964`

I know we are moving away from using the docker cli client and using shipy/docker-py instead. In that case there is an "Autoversion" function we can use. we should use that if we aren

[2016-07-05 12:49] cdrage opened #752 "Cannot pull docker.io / quay.io docker files"
For some reason, I'm unable to pull anything with `docker.io` leading it (and I'm assuming it would not work either for quay.io)

[code]

[2016-07-05 13:16] cdrage commented on #752
Hmm so this issue appears to be a problem when pulling an already-pulled container. I've gone ahead and created the PR #753

[2016-07-06 13:28] #752 closed

[2016-07-07 13:38] #545 closed

[2016-07-07 13:39] cdrage commented on #732
Hey @dharmit @dustymabe can you check with the newest release (0.6.1) if this has been fixed? I believe I fixed this in https://github.com/projectatomic/atomicapp/pull/753

[2016-07-07 13:41] cdrage commented on #716
Could possibly be beginner friendly (may be a bit of a challenge :))

[2016-07-07 13:42] cdrage commented on #707
This has been completed with .kube/config auto-loading with the new Kubernetes provider. Although not yet completed for OpenShift.

[2016-07-07 13:51] cdrage commented on #446
Ayyyyy, this is merged :)

[2016-07-07 13:51] #446 closed

[2016-07-07 13:52] cdrage commented on #434
@goern @stefwalter cockpit has removed Nulecule (for now I guess?) since the Kubernetes provider for Cockpit was refactored changed.

[2016-07-07 13:52] #434 closed

[2016-07-07 13:53] cdrage opened #755 "Remove cockpit"
The cockpit project refactored the Kubernetes provider and during the refactor removed Nulecule. Whether or not it will be added in the future is up-in-arms.

Let's remove Cockpit from Atomic App until we find a middle-ground to re-add it in the future.

[2016-07-07 14:57] dustymabe commented on #732
@cdrage looks like it is fixed to me.

[2016-07-07 15:12] cdrage commented on #545
I believe we have this covered now within the `/nulecule` assortment of tests. Closing the issue.

[2016-07-07 15:15] cdrage commented on #732
Awesome :dancers:

[2016-07-07 15:15] #732 closed

[2016-07-10 08:43] abhi1004 commented on #659
@nurav are you still working on this?

[2016-07-11 15:27] dustymabe commented on #659
Fixed in #759

[2016-07-11 15:27] #659 closed

[2016-07-11 15:57] cdrage opened #760 "OpenShift not working at the moment."
Seems our provider integration for OpenShift is not working at the moment.

I've filled issue: https://github.com/openshift/origin/issues/9773

Seems that the API parameter should be passed as a token via Authorization bearer <token> when doing the request via HTTPS. Websockets is not required.

Going to investigate and open a PR with a fix.

[2016-07-12 12:33] containscafeine opened #762 "Take care of all the static functions"

[2016-07-12 12:34] containscafeine commented on #762
Oops, sorry, wrong repository!

[2016-07-12 12:34] #762 closed

[2016-07-13 13:48] dustymabe commented on #716
So I think we probably shouldn't accept empty fields we should probably query the user again if they don't provide an answer.

Is there a case where not providing an answer is valid? I know if there is a default then not providing an answer is acceptable because the default will be used.

[2016-07-14 10:07] containscafeine commented on #716
@dustymabe @surajssd @cdrage - There could be cases when the fields such as `db_pass` for some dev environments could be blank.

Should this not be left up to the end user, than atomicapp having an opinion about whether the field should be blank or not?

[2016-07-14 12:44] dustymabe commented on #673
see https://github.com/projectatomic/atomic/issues/339#issuecomment-232637366 - atomic 1.10 is available now which is the answer to this problem. We should close this.

[2016-07-14 12:44] #673 closed

[2016-07-14 14:15] cdrage opened #768 "Update CLI docs"
This needs to be updated to correlate to our newest commands :)

https://github.com/projectatomic/atomicapp/blob/master/docs/cli.md

[2016-07-14 14:40] containscafeine commented on #716
@dustymabe well, no password.

[2016-07-14 14:43] dustymabe commented on #716
In that case maybe what we should do is prompt the user and say
"you have not given an answer for the question, are you sure you want to leave it blank?"

[2016-07-14 15:05] containscafeine commented on #716
@dustymabe or prefix the prompt with `Enter db_pass (leave empty for no value):`,
so we don't have to prompt twice.

[2016-07-14 15:11] dustymabe commented on #716
ehh, i think i'd rather not affect the 90% use case for the 10% corner case. @cdrage what do you think about this conversation?

[2016-07-14 16:07] cdrage commented on #716
Imo, by default we should have it as a blank string rather than `None` in the Nulecule configuration file. Although we should still prompt the user for input.

[2016-07-14 20:04] dustymabe commented on #716
You mean in the `answers.conf` file or in the `Nulecule`?

[2016-07-15 15:22] cdrage commented on #760
This has been fixed by https://github.com/projectatomic/atomicapp/pull/761 in the future we will be moving openshift to the new refactored "kubeshift" library.

[2016-07-15 15:22] #760 closed

[2016-07-15 15:52] containscafeine commented on #668
Closing, fixed in #756!

[2016-07-15 15:52] #668 closed

[2016-07-15 16:35] cdrage opened #771 "atomicapp errors on missing user for k8s configuration"
If supplied with this:
[code]

With a blank user, atomicapp error's out.

[2016-07-18 05:32] abhi1004 commented on #755
Hey @cdrage can I work on it.

[2016-07-18 12:39] cdrage commented on #755
@abhi1004 PR has already been up :) https://github.com/projectatomic/atomicapp/pull/757

[2016-07-18 12:56] abhi1004 commented on #755
Okay :)

[2016-07-18 12:57] abhi1004 commented on #745
@cdrage Can I work on this, looked into it think I can fix it.

[2016-07-18 14:03] cdrage commented on #745
@abhi1004 sorry! funny enough I was *just* putting up a PR for this, should be up in the next hour :)

[2016-07-18 14:37] abhi1004 commented on #745
Haha okay .

[2016-07-19 11:53] kadel opened #773 "Show application name when asking for parameter value"
When asking user for parameter value it would nice to know name of the applications that requires given parameter.

[code]

[2016-07-19 15:10] cdrage commented on #773
Your wish is my command.

Fixed via: https://github.com/projectatomic/atomicapp/pull/774

[2016-07-19 17:01] #773 closed

[2016-07-20 02:20] cdrage opened #776 "error on ca cert for k8s api"
[code]

When we provide a CA file in our configuration.

[code]

[2016-07-20 02:33] cdrage commented on #776
Grrrr. Seems to be Debian related with an old python-openssl package. See here: https://github.com/pimutils/vdirsyncer/issues/258

[2016-07-20 02:34] cdrage commented on #776
Updating pip works.

[2016-07-20 17:44] cdrage opened #777 "Specify an "index" location for atomicapp index list"
We'll have to either:

- Setup an `~/.atomicapp/config` with a configuration setting for the index location
or
- Supply it via CLI such as atomicapp index list --index-location=foobar

[2016-07-21 14:03] containscafeine commented on #533
pingall, helppp!

What is the update on this? I see @surajssd and @kadel did most of the work in PR #696 under `lib/kubeconfig.py`, but it has not been replaced with `lib/kubeshift.py`, and looks like an alternate implementation.

- Was #696 complete at the time when kubeshift got in? If not, what was left to implement? CC: @surajssd @kadel
- Does #720 still affect this issue and is a blocker? CC:

[2016-07-21 14:12] cdrage commented on #533
Yeahhhh..... To be honest it's on my todo-list. I need to work on converting the openshift provider to kubeshift :)

[2016-07-21 14:14] cdrage commented on #533
To answer your questions:
#696 It was complete, but agreed that we use `kubeshift.py` for the implementation since it was very similar
#720 Nope, doesn't block this. We can still continue with it without the config being a refactor

[2016-07-21 14:14] containscafeine commented on #533
@cdrage, oh, so the openshift provider does not use kubeshift right now? Does kubeshift handle all the certificate authentication as required in this issue?

[2016-07-21 14:16] cdrage commented on #533
@containscafeine in the code openshift is still a separate code-base. Kubeshift handles authentication for Kubernetes at the moment. But after we fix the base64 encoding issue (converting -data files to base64) then we can start converting OpenShift to use Kubeshift :)

[2016-07-21 14:34] containscafeine commented on #533
@cdrage Oh, is there an issue about that bug? Are you already working on it?

[2016-07-21 17:49] cdrage commented on #533
@containscafeine yup :) https://github.com/projectatomic/atomicapp/issues/743

no, haven't worked on it yet, but will be

[2016-07-21 17:51] containscafeine commented on #533
@cdrage sweet, let me know if you need any help with that.

[2016-07-25 10:19] containscafeine opened #779 "atomicapp init should require an optional argument"
Hi,

When I do an `atomicapp init` without any path to a directory, how about initializing the current directory?

[2016-07-25 15:25] rtnpro opened #780 "Rename Nulecule namespaces to scope"
Since, we use ``namespace`` for providers, and for Nulecule items as well, it becomes confusing sometimes. So, we've decided to rename ``namespace`` to ``scope`` for Nulecule.

[2016-07-26 18:30] #745 closed

[2016-07-26 18:31] cdrage commented on #745
Closed via #772

[2016-07-26 18:32] #728 closed

[2016-07-26 18:32] cdrage commented on #728
I fixed this by adding `--cov atomicapp` to the tests which previously weren't there

[2016-07-26 18:33] cdrage commented on #649
@surajssd has this been fixed?

[2016-07-26 18:34] #644 closed

[2016-07-26 18:34] cdrage commented on #644
This has been fixed :)

[2016-07-26 18:36] cdrage commented on #419
Blah. I need to find a Mac OS X machine to fix this. Binary generation has been added, but it is largely undocumented at the moment / not tested.

[2016-07-26 18:54] dustymabe commented on #776
@cdrage - should this be closed?

[2016-07-27 14:37] #776 closed

[2016-07-27 14:41] cdrage commented on #776
@dustymabe Yes, I just had it open for my record this can be closed :)

[2016-07-29 13:25] cdrage opened #783 "Don't default to Kubernetes, ask the user what provider to use if multiple providers are added."
At the moment we default to Kubernetes.

I propose that we *must* specify a provider at deployment IF `default-provider: foobar` IS NOT passed.

If we do not provide it via --provider or through the Nulecule file, we ask the user similar to parameters as well.

For example:

[code]

[2016-08-09 19:08] #768 closed

[2016-08-10 15:02] cdrage opened #785 "Genanswers does not work at the moment. Filename error."
Seems that `atomicapp genaswers .` doesn't work at the moment:

[code]

[2016-08-10 15:41] #785 closed

[2016-08-10 16:58] cdrage commented on #707
With #778 merged, this has been completed :)

[2016-08-10 16:58] #707 closed

[2016-08-11 17:54] dustymabe opened #788 "deploying to openshift gives message about kubernetes"
atomicapp at 0a3939d

I see this when deploying/undeploying to openshift:
[code]

[code]

The `INFO   :: Undeploying from Kubernetes` and `INFO   :: Deploying to Kubernetes` should say openshift.

[2016-08-23 02:25] jberkus opened #791 "Doc Request: how to target remote Kubernetes"
The CLI doesn't document how to specify where the kubernetes server you're targeting is located; it seems to always assume localhost.  Surely there's a way to target remote servers?

[2016-08-23 11:17] kadel commented on #791
you can configure remote kubernetes server by setting  [provider-config](https://github.com/projectatomic/atomicapp/blob/master/docs/providers/kubernetes/overview.md#provider-config) (same config file that `kubectl` uses) in answers.conf.

We have to explain this better in docs.

[2016-08-23 19:30] dustymabe opened #792 "mode argument seems broken"
This should work:

[code]

[2016-08-30 19:22] #792 closed

[2016-08-31 00:52] jberkus opened #794 "error when deleting containers in 0.6.2"
Using the Nulecule config I have for projectatomic/atomic-site, I used to auto-delete the container when I stopped testing the site updates.  However, as of AtomicApp 0.6.2, this no longer works:

[code]

Under 0.5.X, this worked fine.  Did something change in the order of shutdown?  Or is this an issue with docker?

[2016-08-31 15:15] cdrage commented on #794
@jberkus hmmm, shouldn't have, mind doing it with the `-v` command so we can get some verbose logging info?

[2016-09-01 20:30] #524 closed

[2016-09-09 23:11] jberkus commented on #794
-v didn't result in any additional output.

[code]

[2016-09-13 15:28] cdrage commented on #743
This issue still persists due to *this* line of code:
https://github.com/projectatomic/atomicapp/blob/master/atomicapp/providers/lib/kubeshift/kubebase.py#L154

This has been fixed in https://github.com/cdrage/kubeshift however, it has not yet been ported to the atomicapp library.

[2016-09-13 15:31] dustymabe commented on #743
link to the commit that fixed this in kubeshift?

[2016-09-13 15:36] dustymabe commented on #743
also would be good to post a link to the error you see. with `0.6.3` and `insecure-skip-tls-verify: true` and you see:
[code]

[2016-09-14 12:40] dustymabe commented on #743
workaround for now is to add `insecure-skip-tls-verify: true` to your
~/.kube/config file.

[2016-09-15 18:56] jasonbrooks opened #799 "trouble running atomicapp with oc new-app on openshift"
I've running origin 1.3 in docker containers on centos atomic host continuous. Maybe I'm doing this wrong? I've tried w/ a few different atomicapps, with the same result. I got a similar error last week with a `oc cluster up` install, and I just got it on adb, too. All the same error.

Here's what I'm running:

[code]

This is the log:

[code]

[2016-09-15 19:32] dustymabe commented on #799
looks like the "detection" that atomicapp is running on openshift and the special behavior that results was affected by 1a37ab8

after that commt the `self.access_token = os.environ['TOKEN_ENV_VAR']` is no longer done like was done here: https://github.com/projectatomic/atomicapp/blob/4f75612941b38852187d62235c5338c2381c5ef9/atomicapp/providers/openshift.py#L629-L636

so yes, confirmed that this i

[2016-09-16 02:30] cdrage commented on #799
@dustymabe @jasonbrooks once i have some time to devote to atomicapp i can have a look at fixing this.

[2016-10-28 18:07] jberkus commented on #794
So, after some testing this is a bug in Docker itself.  As a result, closing here.

[2016-10-28 18:07] #794 closed

[2016-11-02 20:01] eriknelson opened #801 "0.6.4 namespace introduction?"
0.6.4 added a change to the answer file format that namespaces(?) a graph nodes name by what appears to be the container name? For example:

**Valid 0.6.4**
[code]

**NOT Valid 0.6.4**
[code]

Curious what the background is behind this change and why its necessary. It's not clear to me what each identifier actually is? They appear to be very similar, all I can glean is that one looks like a contai

[2016-11-10 16:20] dymurray opened #803 "Legacy code for running on OpenShift not updated for latest Config class changes"
In https://github.com/projectatomic/atomicapp/blob/master/atomicapp/nulecule/base.py#L117 you can see that config.globals is being referenced to be passed into the OpenShift provider. However, in a recent commit (https://github.com/projectatomic/atomicapp/commit/d08844910e44b74dee5ff5d8a68a2a1d781724cb) the 'globals' method was removed. I believe calling something like config.runtime_answers will

[2017-03-14 13:18] gtema opened #805 "Python3 status"
Since i.e. Fedora is trying to switch to Python3 is there any activity on porting atomicapp to Python3?

If not I can contribute with this porting activity. Is there interest in it?

[2017-03-14 13:20] cdrage commented on #805
@gtema

To be honest, development on Atomic App has been halted. We've yet to update the README.

[2017-03-14 13:21] gtema commented on #805
ok, sad

[2017-03-14 13:21] #805 closed, assigned to nobody

[2017-10-22 20:19] uhlhosting opened #806 "Atomic RUN fails"
[code]

[2018-01-18 16:46] cdrage opened #807 "Unmaintained / Archive"
@jzb @kadel @aweiteka

We should archive (using the new GitHub feature) and add an [UNMAINTAINED] message to https://github.com/projectatomic/atomicapp

[2018-01-18 17:17] jzb commented on #807
I agree - but will leave that to @aweiteka to make final call.

[2018-01-18 17:17] jzb commented on #807
Sorry, didn't mean to close!

[2018-01-18 18:40] aweiteka commented on #807
ACK. Repo description updated.

[2018-01-18 18:40] #807 closed, assigned to nobody