[2015-04-03 23:37] jayunit100 opened #3 "running container-app.py ootb errors on plugin manager."
Hi mister pavlin... Finally hacking on an implementation.   But when I ran container-app.py, it complained about the imports.    Is there some special pythonic way of running this that im missing ?   Thanks !
[code]
[code]

[2015-04-05 14:01] jayunit100 opened #4 "Lets make json templates valid"
Lets update the json to be valid, proposed change to spec here https://github.com/aweiteka/containerapp-spec/issues/12

[2015-04-08 08:52] goern opened #7 "check for min version of docker"
when using the docker provider, a minimum version of docker is required on the host, we should check for that and not install if host.docker-version < atomicapp-run.docker-version

[2015-04-08 12:39] goern opened #8 "[provider-openshift] figure out how to get openshift credentials inside the atomicapp"
given a openshift provider, we need to have credentials to talk to the openshift environment, these need to be accessible to the atomicapp container that is trying to install ...

Use Case:
As a deployment guy who wants to deploy a "container-app compliant" application,
I want to be able to 'atomic install atomicapp-mongodb'
so that a mongoDB pod is up and running on my OpenShift Enterprise 3 envi

[2015-04-14 13:24] vpavlin commented on #3
Fixed with 613835b09c640674cb16a4d09e29820aeed568d6

[2015-04-14 13:24] #3 closed

[2015-04-21 14:30] goern opened #12 "docker tries to pull even if image is available locally"
containerapp.py tries to pull the image in question in anyway, even if the image is locally available

[code]

[2015-04-21 14:50] vpavlin commented on #7
Should be fixed with commit 0eb21642aded0815dc897dfd66471f5932fc549e

[2015-04-21 14:50] #7 closed

[2015-04-21 15:43] vpavlin commented on #12
Fixed by 12dd1237f34945258577659c8e33da1b52f4b3f2

[2015-04-21 15:43] #12 closed

[2015-04-22 14:43] goern opened #14 "RFE: generate nulecule snippets from Dockerfile"
given the fact that we have a Dockerfile, containing LABELs, we could write a little compiler that generated  Nulecule snippets from that Dockerfile

[2015-04-22 15:31] goern opened #15 "graph.component.params seems to be required, must be optional"
[code]

I run this on https://github.com/goern/mongoDB-atomicapp

[2015-04-22 16:23] #15 closed

[2015-04-24 08:13] vpavlin commented on #14
Could you elaborate a bit more? Which Dockerfile? What LABELs? Which snippets would you like to generate? (I am all for auto-generation of anything, just need more details:) )

[2015-04-30 10:49] goern opened #17 "RFE: automatically create router object [provider] [openshift]"
Atomicapp should automatically creating OpenShift routes for all services given a configurable domain. e.g. service “foo” gets a route created at “foo.example.com” if the answers file has a  DOMAIN=“example.com”.

OpenShift routes are completely generic so there is no need to have to developer put an artifact in the Atomicapp for that.

We need to think about the integration of TLS.

[2015-04-30 12:47] jstrachan opened #18 "RFE: given a collection of OpenShift templates (or Kubernetes JSON files) apply them all in service order first"
Note this might already be fixed - just adding it as a note to be sure its done...

If you have N OpenShift templates and/or Kubernetes JSON files, we'll need to process all the OpenShift templates first (e.g. via osc process command line tool). Then we're left with an ordered list of Kubernetes JSON files.

We need to then iterate through all these JSON files and apply the Services first; to gene

[2015-04-30 12:52] jstrachan opened #19 "RFE: have different install modes (create, update, update-if-exists, replace)"
we've found its useful to have a few different modes when 'installing'. The default 'create' mode would let the user pick which things to install.

The update modes would allow new versions to be updated. e.g. if a few things from version X have been installed, we should be able to get version Y as a docker container and just run 'update' which would then just update all the Services / Pods / Repl

[2015-04-30 13:00] jstrachan opened #20 "have a 'download docker images only' mode which is handy when performing an update"
if you want to upgrade to a new version of stuff; it can take a while to load new docker images. so its handy to have a 'download docker images only' mode where we iterate through all the kubernetes json (after OpenShift templates are expanded), find all the docker images and do a pull first.

Then if you need to delete pods/RCs, the rollover time is gonna be quite quick since the images are alrea

[2015-04-30 13:01] goern commented on #19
i have created https://trello.com/c/0dNzUbZ5 for that.

[2015-04-30 13:02] jstrachan opened #21 "support rolling upgrades with Kubernetes / OpenShift to allow new versions to be incrementally migrated to"
when using Kubernetes / OpenShift we can perform rolling upgrades; where essentially new versions of ReplicationControllers can be used and things can gradually be rolled over from the old version to the new version as folks verify the new version works.

So we should be able to use the correct Kubernetes mechanisms to do rolling upgrades nicely. (Maybe using OpenShift DeploymentConfig?)

[2015-04-30 13:04] jstrachan opened #22 "provide a web console for atomicapp-run for folks who prefer a UI to a CLI"
the hawtio folks can help on this one as we've a similar UI already for installing stuff on kubernetes (using fabric8 app zips) which we can probably easily port into a stand alone HTML5 UI we can embed inside atomicapp-run.

To help the web app it'd be nice to expose atomicapp-run as a REST API inside the docker container so the HTML5 console can just invoke that

[2015-04-30 13:17] jstrachan opened #23 "create an automated build of containerapp docker image on https://registry.hub.docker.com/ so that developers can work on examples without building everything locally"
these examples https://github.com/vpavlin/atomicapp-run/tree/master/examples all require a local 'scratch' image to be created first.

Any chance of just setting up an automated build (or CI build on circleci.com or something) of a base docker image on https://github.com/vpavlin/atomicapp-run/tree/master/examples so that folks can just work on a single example container app without having to keep

[2015-04-30 13:57] jstrachan commented on #19
given, say, 1 Kubernetes JSON then a user may decide to install it in a new namespace; or apply updates to an existing namespace. i.e. whatever the developers lifecycle metadata they put into the atomicall - an end user using the docker container installer may decide to run it in 'install' or 'update' mode.

Maybe to say that another way - the person doing the install gets to decide which bits are

[2015-04-30 14:03] vpavlin commented on #22
Exposing REST API is part of future plans.

Cockpit guys are also going to work on (some UI)[https://github.com/cockpit-project/cockpit/wiki/Feature:-Kubernetes:-Application-Entities] and we are cooperating with (DevAssistant)[https://github.com/devassistant/devassistant] project to make generation of atomicapps nice for users. But I am happy to get more people in the loop so that we can provide r

[2015-04-30 14:21] jstrachan commented on #22
Sounds cool. BTW the UI I had in mind was letting the users choose which things to install and configuring the templates. i..e the UI when you run an 'installer docker container. Not so much helping folks create/edit atomicapp metadata files.

By 'generation of atomicapps' I wasn't sure if you meant generating the metadata; or installing the apps ;)

[2015-04-30 14:24] vpavlin commented on #22
Ah, sorry...to clarify - the UI you are talking about seems to be Cockpit in my response, by "generation" I meant creating the app definition files - i.e. generating the metadata.

[2015-04-30 14:39] vpavlin commented on #23
Hopefully, I fixed the traceback presented here with 3764eabae943697272e8fe18fb2265678bc12a94

Will continue on providing a base image and example images in the Hub

[2015-04-30 14:40] jstrachan commented on #23
awesome thanks!

[2015-05-07 11:25] goern opened #25 "atomicapp requires a answers.conf"
If no answers.conf is present, atomicapp-run will create a directory called answers.conf and fail:

[code]

[2015-05-07 12:31] #25 closed

[2015-05-07 12:49] aweiteka opened #26 "Cat out a sample answers.conf file during install"
I would like to be able to...

1. install without providing an answerfile
1. have a sample `answerfile.conf.sample` file appear in my working directory
1. edit and save sample as `answerfile.conf`
1. run

[2015-05-07 12:51] aweiteka commented on #4
Referenced issue https://github.com/projectatomic/nulecule/issues/12 is closed. I think this is resolved.

[2015-05-07 14:25] aweiteka opened #27 "Simplify CLI"
We're running into some issues when running as a container such as how to pass in an optional conf file and how to pass in params like interactive `--ask`.

The `install` behavior is not intuitive. It should be optional in a container context. My understanding is it pulls in remote sources (if there are any) and moves the files to a new directory. I suggest we default to current working directory

[2015-05-08 10:26] vpavlin commented on #27
Current behvaiour

[code]

`install` also accepts path (which is used in LABELS) and is probably what you want in this issue. I guess we could change the param `--path` to `--destination`..am I missing something?

[2015-05-08 10:28] vpavlin commented on #26
Makes sense..what should be the content?

[code]

`$default_provider` is currently kubernetes

[2015-05-08 10:48] vpavlin commented on #27
To give you a complete example:

[code]

And the `src_dir -> dst_dir` case:

[code]

So my suggestion is to change `-p|--path` to `--destination` (I am not sure if we need/want short option or what letter it could be) but I am not sure about adding `--source` option as I think it is not needed. But I am definitely not a UX expert:)

[2015-05-08 12:06] goern commented on #26
+1

[2015-05-08 12:39] aweiteka commented on #26
Example. Given this Nulecule file...
[code]

I would expect `install` to create an `answers.conf` file with these contents:
[code]

[2015-05-08 15:27] aweiteka commented on #27
Here's the end goal from a user experience perspective. Note: this is running from a container perspective.

1. I have a known app I want to deploy. I have an answerfile prepared in my local current working directory.

        $ ls -1
        answers.conf
        $ sudo atomic run my/app

2. Answerfile creation. Two paths:
    1. I have an app I want to deploy but I need help with the answerfile.

[2015-05-08 15:38] goern opened #30 "create a restful readonly interface to get params of an Atomicapp"
As a software doing a deployment of an Atomicapp
I want to query the Atomicall via RESTful http
so that I can learn what parameters are available, required and eventually have default values assigned

[2015-05-08 15:39] goern commented on #22
see also #30

[2015-05-08 15:42] aweiteka commented on #30
Shouldn't this API go into the [spec](https://github.com/projectatomic/nulecule) then be implemented here?

[2015-05-08 15:43] aweiteka commented on #26
Related to larger discussion here #27

[2015-05-08 15:44] goern commented on #14
looking at the example http://github.com/goern/atomicapp-spec/blob/feature/example-dockerfile/spec/0.0.2/examples/template/Dockerfile I think that the whole content could be generated from the corresponding https://github.com/goern/atomicapp-spec/blob/feature/example-dockerfile/spec/0.0.2/examples/template/Nulecule

We should put this autogeneration feature somewhere.

[2015-05-08 16:46] vpavlin commented on #30
In theory, we could define the API in the spec and it's implementation guide, but implementation goes definitely to the tool

[2015-05-08 16:51] vpavlin commented on #26
Yes, this makes a lot of sense

[2015-05-08 21:35] goern opened #33 "Proposal: usage of LABELs in Application's Dockerfile"
To give a little more meaning to the dockerfile and make the meta data available to atomic tool (and other tools like devassistant) I would like to propose the following LABELs

`LABEL io.projectatomic.nulecule.specversion 0.0.2` - this indicates, that the Dockerfile belongs to a Atomicapp, compatible with Nulecule Spec 0.0.2, inferred from that, we know that this docker container is an atomicapp.

[2015-05-09 16:17] vpavlin commented on #27
PRs #34 #35 should solve all above

1. Is solved by #35 specifically
2. For this
 1. `answers.conf.sample` is written out so that user just needs to

[code]
 2. As the file `answers.conf.sample` is outputed and thus `answers.conf` does not exist, user is queried for missing values

3. Works, user just needs to add the following line to the Dockerfile

[code]

4. I like this and it works if you cal

[2015-05-09 16:32] vpavlin commented on #27
Ok, the 4. is fixed by last commit:

[code]

[2015-05-09 16:45] vpavlin commented on #23
@aweiteka Is this fixed by existance of https://registry.hub.docker.com/u/projectatomic/atomicapp/ ?

[2015-05-09 16:47] vpavlin commented on #14
Yes, it should be possible using the schema and information from the Nulecule

[2015-05-11 01:52] tkdchen opened #37 "Quick question about Python version and OrderedDict"
What version of Python does atomicapp work with? I just notice that `OrderedDict` is used here https://github.com/projectatomic/atomicapp/blob/master/atomicapp/providers/kubernetes.py#L33 . `OrderedDict` was introduced since Python 2.7.

[2015-05-11 07:53] goern opened #38 "remove examples from this repository and start curating a 'Atomicapp Examples Repository'"
As a developer and user of the Nulecule Specification
I want to find one single place on the internet
so that I have a lot of rich examples how to use Nulecule and Atomicapp

[2015-05-11 07:55] goern commented on #37
Hi there, its 2.7.5 by now, I will write it down...

[2015-05-11 09:18] ncoghlan opened #40 "pip should be used over plain distutils, even for local installations"
"python setup.py install" doesn't create any installation metadata, so it should almost never be used.

"pip install ." is the equivalent that creates the appropriate installation metadata that allows uninstallation later.

[2015-05-11 10:03] tkdchen opened #41 "Source distribution package does not contain data files"
Source distribution package generated by

    python setup.py sdist --format=[format]

does not contains other data files expect Python source files.

[2015-05-11 10:48] #37 closed

[2015-05-11 11:48] goern opened #42 "atomic install from local docker image does not work"
while `atomic install` of a locally build atomicapp, I see the following problems:
[code]

[2015-05-11 12:14] goern opened #43 "atomicapp cli lacks of --version"
As a developer
I need to query for the version of atomicapp I am using
so that I know that I need to update

[2015-05-11 12:57] #43 closed

[2015-05-11 13:27] goern opened #48 "make atomicapp check for the specversion of the Nulecule file"
As a developer
I want to get an error when my Nulecule file's spec is younger/greater than the specversion to atomicapp supports

[2015-05-11 16:18] LalatenduMohanty opened #49 "atomicapp should be packaged as a RPM"
If we get atomicapp as aRPM it will be helpful for maintaining its dependency on other packages and we can bake it in images like Vagrant.

[2015-05-11 16:40] goern commented on #49
hmm, a container toolkit should be delivered as a container image, shouldnt it? :)

[2015-05-11 16:41] aweiteka commented on #49
We need some work on the README to make this clear, but container packaging is the target.
See https://registry.hub.docker.com/u/projectatomic/atomicapp/

[2015-05-11 16:48] #27 closed

[2015-05-11 16:48] whitel commented on #49
Although, it does raise a good point, do we have a recommended way to "get a container" in a kickstart? Can we get a container?

[2015-05-11 16:49] aweiteka commented on #26
Resolved by #34

[2015-05-11 16:49] #26 closed

[2015-05-11 19:03] goern commented on #49
"get a container"... I guess there is only two ways `docker pull` or `docker import`, while docker import will not maintain the image id (afair). So if you want to preload a Vagrant base box with a docker container image, do a `docker pull` during kickstart...

[2015-05-11 19:17] goern commented on #42
seems to work with the latest code... thanks magic merger!

[2015-05-11 19:17] #42 closed

[2015-05-11 19:54] goern opened #51 "atomic install does not work due to name collision"
During atomic install of mongoDB-atomicapp I get the following error: http://fpaste.org/220791/31372419/
It seems like that the container names collide...

[2015-05-11 20:18] aweiteka commented on #51
This should be resolved by PR #50 . Notice `-v :/atomicapp`. This is due to some (bug?) issue where ${PWD} is not resolving. Until this is merged you can workaround this by overriding the base image LABELs like this: https://github.com/aweiteka/nulecule/blob/helloworld/examples/helloapache/Dockerfile

[2015-05-11 20:18] #51 closed

[2015-05-12 13:30] #4 closed

[2015-05-13 16:36] goern opened #59 "make providers configurable"
As a deployer,
I want to configure a provider to use a provider specific configuration file
so that I can deploy remotely to a kubernetes or openshift cluster.

[2015-05-13 16:38] goern opened #60 "make provider namespace aware"
As a deployer
I want to deploy containerized applications into a given namespaces
so that names do not collide.

[2015-05-13 18:19] whitel opened #61 "Global params for nulecule"
So, I have a nulecule that has a mariadb and a drupal, they both need a couple of the same params (e.g. db_user). Currently, my nulecule looks like this (trimmed some for brevity):

        specversion: 0.0.1-alpha
        id: drupal-app
        metadata:
           name: Drupal App
           appversion: 0.0.1
           description: This is a Drupal Atomicapp
        graph:
           drupal:

[2015-05-13 18:42] goern commented on #61
what about
[code]

That is covered by Nulecule 0.0.2 and is implementing a specific behavior of atomicapp.

[2015-05-13 18:55] veillard opened #62 "We need an implementation of Nulecule's Storage Requirements"
Needed for all those examples around databases etc ...
Spec v2 is at
 https://github.com/projectatomic/nulecule/tree/master/spec/0.0.2#storage-requirements-object

[2015-05-14 02:01] vpavlin commented on #49
Actually you probably mean `docker load` which serves to import existing docker image. `docker import` is used while importing bare rootfs tar(.gz). `docker load` preserves the `id`.

I'd say `docker pull` sounds good for kickstart.

[2015-05-14 02:05] vpavlin commented on #61
How is that covered by 0.0.2? I don't see anything like that in a spec

[2015-05-14 02:19] bgrant0607 commented on #19
We (k8s) have a plan to declaratively specify update policy (e.g., rolling update) and perform updates of just the configuration that needs to be updated (in terms of both objects and fields within those objects):
https://github.com/GoogleCloudPlatform/kubernetes/issues/1702
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/cli-roadmap.md

We expect containers themselves to be imm

[2015-05-14 02:22] bgrant0607 commented on #19
With respect to fields "moving around":

1. Within an API version, this shouldn't be true, and the v1 API should retain backward compatibility for at least a year.
2. I would be receptive to adding a recreate command or flag to update to do delete then create.

[2015-05-14 05:22] jstrachan commented on #19
@bgrant0607 thanks, agreed with all that. Here's a few more concrete examples of broad install modes (which I hope the k8s CLI tools support too really).

1. create the new Services/RCs/Pods from the installer JSON/YAML only if none of them already exist in the target namespace; otherwise fail/warn the user
2. create only any Services/RCs/Pods which don't already exist and report on the ones that

[2015-05-14 17:41] goern commented on #59
same pattern needs to be applied to an openshift provider

[2015-05-14 19:33] whitel opened #68 "Changing $image answer does not re-pull"
I believe, that if I change the "answer" for an image param in the nulecule, atomicapp does not get the "new" image it uses the one it pulled based on install.

[2015-05-14 19:34] goern opened #69 "implement uninstall for a Nulecule"
As a deployer
I want to call `atomic uninstall <some-atomicapp>`
so that all components will be stopped and undeployed

[2015-05-14 21:01] goern opened #72 "Atomicapp Release 0.1.0"
This is a the blocking issue for 0.0.2

blocked by #125 #116

[2015-05-14 21:49] jasonbrooks commented on #69
+1 Currently, atomic uninstall removes the containers, but for k8s, it should remove associated replication controllers, services and pods.

[2015-05-15 08:42] aweiteka commented on #38
Resolved by https://github.com/projectatomic/atomicapp/commit/9faf5c30035e749e9b7940b58b30f065fc321fca

[2015-05-15 08:42] #38 closed

[2015-05-15 09:11] aweiteka opened #75 "Support provider context"
Application context and namespacing is a key feature of providers such as kubernetes. Here's how I think it should work.

### Definition

Default namespace is defined in the nulecule file in the metadata section.

[code]

At deployment the default context and namespace maybe overridden using a general parameter.

[code]

### Provider implementation

If provided the provider plugin should create re

[2015-05-15 19:34] goern commented on #68
could you give us some more log? like before and after changing the image

[2015-05-15 19:40] goern commented on #61
This will be covered by the 'xpath params epic'

[2015-05-15 19:40] #61 closed

[2015-05-15 20:05] aweiteka opened #83 "Catch exception if provider client isn't installed"
`$ atomic run helloapache` should fail gracefully if kubectl client is not on host.

[2015-05-16 11:17] tkdchen opened #84 "Inconsistent dry-run behavior"
Currently, there are several different behaviors of dry-run. When dry-run is enabled, some of them print a message to stdout by `print` function, some of them output a message by logger, and some of them do not output anything.

When dry-run is enabled, each time encounter dry-run option, a message should be outputted.

IMO, `logger.info` is a good way to output such a dry-run message, which is pr

[2015-05-16 12:04] vpavlin commented on #84
I agree, it's a mess and it is on my todo to clean up  all log messages. Would you care to send a PR to fix this issue?

[2015-05-16 12:32] tkdchen commented on #84
Sure.

[2015-05-16 13:56] vpavlin commented on #68
Atomicapp does not pull images specified by params - that's kubes jobs. The only thing atomicapp does is templating and submitting kube files. PR https://github.com/projectatomic/atomicapp/pull/85 will let you review templated files after the run, maybe that will help.

[2015-05-18 12:56] aweiteka commented on #75
@goern is this a dupe of #60  ?

[2015-05-18 12:58] aweiteka commented on #59
Closely related (dupe?) #75

[2015-05-18 13:07] aweiteka commented on #23
This is resolved. Tags:
`dev` tracks master
`latest` tracks latest release (0.0.1)
`<version>` tracks releases

[2015-05-18 13:07] #23 closed

[2015-05-18 13:11] aweiteka commented on #20
I think this is a kubernetes feature. Kubernetes pulls the (updated) images down to each node. If there's a kubectl client call that exposes this behavior then we could implement that.

[2015-05-18 13:12] aweiteka commented on #8
Implementation approach one is to simply use the openshift client on the host.

[2015-05-18 14:07] whitel commented on #68
I think I was not getting new, gen'd files when I changed the $image value in the answers file post first run. I will retest when I get a chance later today.

[2015-05-18 14:07] #83 closed

[2015-05-18 15:30] goern commented on #60
user stories detailed out by aaron, close #60 as fixed by #75

[2015-05-18 15:30] #60 closed

[2015-05-18 19:03] aweiteka opened #87 "CI workflow"
We need automated testing so PRs go through some validation *before* review -> merge.

Aside from the usual suspects I noticed this service can provide some help: https://landscape.io/

[2015-05-19 12:15] goern opened #89 "Implement JSON r/o Web API for atomicapp"
As a computer program,
I want to query the current state of atomicapp run via HTTP/JSON
so that I can reuse that information.

While atomicapp is running, a web api shall be exposed via port 80/tcp, there shall be no authentication or encryption.
This api shall provide
 1. the nulecule file itself
 2. a global state information

after the execution of atomicapp has finished, the web api shall acce

[2015-05-19 12:17] goern commented on #22
see #89

[2015-05-19 12:19] goern opened #90 "add subin to project so he can get assigned an issue"
please add @sub-mod to some group so that he can get assigned issue #89

[2015-05-19 12:19] vpavlin commented on #89
Let's not use port 80, so that we don't have to run with privileges:-) 8080 should be fine for now, we'll have to figure out some "standard port" later

Global state information should be a list IMO - it could also easily serve as a log for the computer program as well to review what happend

[2015-05-19 12:21] goern commented on #84
@tkdchen you think you can send the PR till the end of week?

[2015-05-19 12:33] tkdchen commented on #84
Yes, I think so.

[2015-05-19 14:25] tkdchen opened #91 "hardcoded SCHEMA_URL"
In `create.py`, `SCHEMA_URL` is hardcoded to https://raw.githubusercontent.com/projectatomic/nulecule/master/spec/0.0.1-alpha/schema.json . When user does not provide a schema via `--schema` from command line, a `schema.json` file will be downloaded from that URL. Is this an expected behavior?

There is already a new version 0.0.2 of `schema.json` in `spec/`, should this URL be changed to that new

[2015-05-19 15:25] goern commented on #91
it should be relocated to something close to https://github.com/projectatomic/atomicapp/blob/master/atomicapp/constants.py#L4

[2015-05-19 15:26] vpavlin commented on #91
Well..it is in my local branch...

[2015-05-19 15:29] goern opened #94 "logger is undefined an a few places"
In the following location the logger seems to be undefined?!
 * atomicapp/cli/main.py Line 95
 * atomicapp/params.py Line 69
 * atomicapp/params.py Line 111
 * atomicapp/plugin.py Line 33

[2015-05-20 09:47] goern opened #95 "AWS provider"
As a deployment guy
I want to use an AWS provider
so that my docker containers get startet on AWS (either using kube on AWS or some native AWS)

[2015-05-20 12:48] tkdchen opened #98 "Provider.init should raise NotImplemented error instead of logging a warning message"
`init` is defined in the base class `Provider`, that must be implemented in each subclass inherited from `Provider`. It should raise NotImplemented error instead of logging a warning message.

[2015-05-20 13:37] vpavlin commented on #98
The `init` function is not mandatory, it's just up to provider if it needs to do something specific prior to `deploy` function..although I admit that there is no provider which would skip the implementation of it...

[2015-05-20 13:39] vpavlin commented on #94
Has this been fixed by #97 ?

[2015-05-20 14:45] whitel commented on #90
Invite sent, he *should* be able to be assigned once he accepts

[2015-05-20 14:45] #90 closed

[2015-05-20 15:50] #84 closed

[2015-05-20 17:28] sub-mod commented on #90
Thanks

[2015-05-20 17:57] #69 closed

[2015-05-20 17:58] goern commented on #94
yeah, in #97 merge message, you can put something like 'closes/fixes #94' so github will do the linking and closing...

[2015-05-20 17:58] #94 closed

[2015-05-21 09:20] ncoghlan commented on #33
Related to this, it would be handy if the Dockerfile advertised which providers it supported. For example (suggested by Vaclav):

    LABEL io.projectatomic.nulecule.providers = "kubernetes,docker,openshift"

[2015-05-21 09:22] ncoghlan opened #107 "Provide a way to list locally available providers"
atomicapp doesn't currently provide a way to easily check which providers are at least nominally available locally. A command like `atomicapp list-providers` could help indicate which provides are installed *and* have their dependencies met (e.g. kubectl CLI for the kubernetes provider).

[2015-05-21 09:26] vpavlin commented on #89
Duplicate of https://github.com/projectatomic/atomicapp/issues/30 ?

[2015-05-21 09:29] goern commented on #30
ja, added params api to #89 and closing this.

[2015-05-21 09:29] #30 closed

[2015-05-21 10:04] goern commented on #95
see also https://github.com/openshift/origin/issues/2406

[2015-05-21 12:23] LalatenduMohanty commented on #33
+1 to the idea.

[2015-05-21 12:39] vpavlin opened #114 "Label all artifacts for kubernetes and openshift"
Kubernetes (and through that also openshift) has ability to label pods, services and RCs. If we label all of them with something like `nulecule-$app_id`, we can use that for `stop` feature and instead callinf `kubectl delete -f` for every single artifact, we can just call `kubectl delete rc,services,pods -l name=nulecule-$app_id`

[2015-05-21 12:45] #91 closed

[2015-05-21 12:46] #98 closed

[2015-05-21 12:57] #48 closed

[2015-05-21 14:10] goern commented on #114
+1

[2015-05-21 14:16] aweiteka commented on #114
Sounds good. So I understand, you're proposing using this is as a convention that atomicapp will rely on? Or will atomicapp add the label at runtime?

[2015-05-21 14:18] goern commented on #114
@aweiteka the last.

[2015-05-21 14:29] #40 closed

[2015-05-21 14:36] aweiteka commented on #114
+1

[2015-05-21 14:40] goern opened #116 "make Atomicapp comply to Nulecule 0.0.2"
esp. implement https://github.com/projectatomic/nulecule/commit/75d2c94c26686f624e5e72e5bf6b01a02131ab7c

[2015-05-21 15:36] ingvagabund opened #117 "non-executable-script constants.py 0644L /usr/bin/env"
Hi,

there are some *.py files that has '#!/usr/bin/env python' as the first line but are not executable. They should be make executable or the line removed. List:

atomicapp/constants.py
atomicapp/generator/core.py
atomicapp/params.py
atomicapp/utils.py
atomicapp/plugin.py
atomicapp/cli/main.py
atomicapp/generator/api.py
atomicapp/install.py
atomicapp/create.py
atomicapp/run.py

Cheers
Jan

[2015-05-21 16:05] #33 closed

[2015-05-21 17:33] #117 closed

[2015-05-22 11:47] goern opened #119 "prevent atomicapp from running the same image twice at the same time"
We should not run twice, at lease when we merge the REST API feature it will break as port 5000 may be bound by another instance of atomicapp.

[2015-05-22 15:45] aweiteka commented on #68
@whitel if there's no reproducer can we close this?

[2015-05-22 15:56] whitel commented on #68
Sure, might have been a "point in time" bug anyway. We can just see if it crops up again. Just keep an eye out for "if answers file changes, do the newly gen'd kube files reflect the change, particularly for $image"

[2015-05-22 15:56] #68 closed

[2015-05-24 15:54] sub-mod opened #120 "Unable to install aweiteka/guestbook-app"
Hi @aweiteka
I am unable to install the gustbook-app from past 2 days. IS there any changes which i should be aware of ?

atomicapp -v install aweiteka/guestbook-app:latest
2015-05-24 21:12:56,227 - atomicapp.install - INFO - App name is aweiteka/guestbook-app:latest, will be populated to None
2015-05-24 21:12:56,227 - atomicapp.context - INFO - Ctx status updated :aweiteka/guestbook-app:latestloa

[2015-05-24 16:02] sub-mod commented on #120
I resolved this issue:
The problem was when switching networks, docker does not notice when the contents of /etc/resolv.conf change. I had to disconnect from VPN and ensure i had few entries in resolv.conf file.

[2015-05-25 11:00] tkdchen opened #121 "error when run helloapache"
I use vagrant to build a clean machine to try installation of helloapache. Unfortunately, ran into this error.

OS: CentOS 7.1
Both `atomic` and `kubernetes` are installed and all `kubernetes` services start

[code]

[2015-05-25 12:11] sub-mod opened #122 "support kubernetes namespaces via answers.file"
support kubernetes namespaces via answers.file
so that when create artifacts via kubectl command --namespace <namespace> argument can be used to create artifacts within a namespace.
@vpavlin

[2015-05-25 12:17] vpavlin commented on #119
It's a bit confusing from the summary - how does the word "image" relates to this? Otherwise - any ideas how to solve it? Some lock file?

[2015-05-25 13:39] sub-mod commented on #122
https://github.com/sub-mod/atomicapp/commit/8841c5358fcc1b42786a14d2e26d5a7023ea34d4

[2015-05-25 18:57] #120 closed

[2015-05-25 18:58] goern commented on #121
pls check that the helloapache pod does not exists (maybe due to a previous run?). `kubectl get pods` and `kubectl get services` is your friend.

[2015-05-25 19:01] vpavlin commented on #121
This will be fixed by #124 - kubectl command is run twice by provider

[2015-05-26 07:57] goern commented on #121
merged #124 and fixed #121

[2015-05-26 07:57] #121 closed

[2015-05-26 08:12] goern opened #125 "How to use the OpenShift3 provider"
write up a short how to use it...

[2015-05-26 10:59] goern commented on #59
ja, seems to be a generalization of #75

[2015-05-26 18:04] aweiteka commented on #72
blocked by #123

[2015-05-26 18:05] #116 closed

[2015-05-26 18:18] goern commented on #125
fixed by merge of #127

[2015-05-26 18:18] #125 closed

[2015-05-26 19:03] #72 closed

[2015-05-27 12:26] aweiteka commented on #107
We *should* be failing gracefully if the provider is not available. See https://github.com/projectatomic/atomicapp/pull/86

[2015-05-27 12:45] aweiteka opened #131 "Support running kubernetes from OpenShift template"
Extend kubernetes provider so it could run an unaltered OpenShift template via inherit.

[code]

[2015-05-28 12:12] goern opened #134 "refactor logging"
Let's refactor out logging, so that logging will append to console and to context.globalCtx. REST API will provide a new /log showing the log.

[2015-05-28 12:57] goern opened #135 "implement STOP for OpenShift provider"
see https://trello.com/c/k14cmfdj

[2015-05-28 17:42] nzwulfin opened #136 "Running second app in home directory attempts to run wrong app"
Platform: Fedora 22 Atomic 22.17

Testing `atomic run projectatomic/helloapache` from Docker Hub, I had issues running a second app after a successful run.  I removed the helloapache pod using kubectl.

A subsequent run of `atomic run projectatomic/guestbookgo-app` scheduled the 'helloapache' app instead of the 'guestbookgo-app'.

I was running in the 'fedora' home dir, and the artifacts from the

[2015-05-28 18:42] jzb opened #137 "AGPL?"
Looking over the repo, I noticed we have gone with the AGPLv3 - which seems an odd, odd choice for something we'd want others to adopt. Can we have a discussion about a more liberal license for this? At least GPL rather than AGPL. Would anyone even be offering Atomic App as a service?

[2015-05-28 18:45] goern commented on #137
I am open to anything that keeps our investment into this piece of open source software open and available to us.

[2015-05-28 23:09] jasonbrooks commented on #137
It seems that most/many of the other projects in this org are using LGPL.

[2015-06-01 16:20] markllama opened #139 "Allow caller to provide host location of kubectl"
As an atomicapp user I would like to be able to provide the host location of the kubectl binary
  So that I can use a non-standard or development version of kubectl when testing or
  when running in the Kubernetes Vagrant/Virtualbox build/test environment.

Examples:

````atomic run [mynulecule] --kubectl=/home/user/kubernetes/cluster/kubectl.sh````

or

````KUBECTL=/home/user/kubernetes/cluster/k

[2015-06-01 19:28] markllama commented on #139
I looked at how the providers are currently structured and realized that I'd need a more generic value for CLI input: ````--provider-cli````. This is appropriate for docker (````docker````), kubernetes (````kubectl````) and OpenShift (````osc````).

atomic run [my atomicapp] --provider-cli=/my/path/to/kubectl [args...]

For the environment variable, each provider will need to set its own variable

[2015-06-01 19:54] markllama commented on #139
It appears that one cannot run an atomic command with args:

[code]

I need to find out how to pass arguments into an atomic run and/or pass in environment variables.

[2015-06-02 05:48] vpavlin commented on #139
afaik you cannot pass anything through atomic at the moment. There are some pending issues about this for atomic.

Few notest to this:

* `atomicapp` is mostly run in a container thus we need to check whether user provided path prefixed with `/host` or we need to prepend it ourselves
* we could maybe use `answers.conf` for this - at least until we have support for passing env vars through `atomic`

[2015-06-02 06:09] jzb commented on #137
I'd suggest we throw this to atomic-devel and see if there are any objections to LGPL. Note that ASL and other liberal licenses are fairly popular outside our org... while I am good with reciprocal licenses in general, they may hurt us w/adoption. We also need to clarify our contribution policies... that's on me, I'll start working that.

[2015-06-02 12:22] markllama commented on #139
Re "/host".  The user can't see inside the atomicapp.  The user should
always provide the path from the host perspective.  That means the
atomicapp should always add the /host prefix.

I'd been looking at the answers.conf.  I'm trying to learn how CLI
arguments or environment variables get into the answers file and how the
atomicapp extracts and uses them.

I don't think you can avoid CLI argument

[2015-06-03 21:07] aweiteka opened #142 "Don't unpack files to /atomicapp during run"
Based on user feedback, it is unexpected that a bunch of files show up in current working directory when running an atomic app. This includes visible files as well as the hidden `.workdir/` directory. It *is* expected during install. I propose we use a temporary directory like `/tmp` for these things and only write files during install.

[2015-06-03 21:09] aweiteka commented on #142
Related to #136

[2015-06-03 21:15] aweiteka opened #143 "Support kubernetes provider artifacts path"
Kubernetes is able to deploy all of the artifact files if given a path. For example:

[code]

I would expect the atomic app provider to work the same way. This will also reduce developer pain when listing all of the correct paths to files. The template can call `- file://artifacts/kubernetes/` and if all the files are placed there no additional work needs to be done.

[2015-06-03 21:16] aweiteka commented on #143
This is also consistent with [Nulecule spec 0.0.2](https://github.com/projectatomic/nulecule/tree/master/spec/0.0.2#artifacts-object)

[2015-06-04 08:28] vpavlin commented on #142
Seems like we are reverting the decision we made about the `.workdir` some time ago:) Anyway - I think we write only the templated artifacts on run - the rest is written on install. And we cannot prepare artifacts on install as user might want to change answers.

Writing those artifacts in `/tmp is problematic, because the `/tmp` lives in the container thus we would need to mount some directory th

[2015-06-04 09:42] vpavlin opened #145 "Rework how install and run work internally"
__This is a post-Summit problem__

Given an example of wordpress application:
[code]

When `install` is called, atomicapp installs `wordpress-atomicapp` and, loads Nulecule and goes through `graph`. When it finds external dependency it recursively starts installation for this dependency with a destination path `external/<dep-app-id>`. Once the installation of dependency is finished, recursion ends

[2015-06-04 12:06] vpavlin commented on #131
This is a bit problematic - we can do that for simple templates like [1], but it would mean to reimplement generators [2].

Michal Fojtik suggested to use openshift running in Docker container and doing a call like:

[code]

if `osc` is not available.

[1] https://github.com/openshift/origin/blob/master/examples/zookeeper/template.json#L362
[2] https://github.com/openshift/origin/blob/master/examp

[2015-06-04 13:40] goern commented on #137
Thanks!

[2015-06-04 17:20] aweiteka commented on #131
Thoughts/summary:

* We should define generator functions in the Nulecule spec. Not sure how that would be implemented but here's an issue: https://github.com/projectatomic/nulecule/issues/97
* We cannot use osc CLI without an OpenShift server. This defeats the purpose of app portability.
* I think we should support basic openshift templates for now basically pulling out any kube content. It's not

[2015-06-04 19:58] goern commented on #139
see also #59

[2015-06-04 21:15] nzwulfin commented on #142
Based on #136 I did some more digging on containerized atomicapps (the nulecule examples in particular) and came up with a "namespaced" solution with LABELs.

[code]

This block added to helloapache will create a Nulecule/nzwulfin/helloapache structure in the current working directory.  This feels better than have the Dockerfile just drop files in PWD, but could rely just on the atomicapp function

[2015-06-11 08:16] vpavlin opened #147 "Use something else than id to identify RC when stopping app"
Currently Kubernetes provider uses `id` to identify replication controller and fails if not present. Add some other way how to get rc name/id to be able to resize to 0 (to kill the pods) on stop call

[code]

[2015-06-11 12:33] aweiteka opened #148 "Add prompt flag to force prompt for all params"
If no answerfile is provided and there are defaults for params the user has no way to override defaults. Add a `--prompt` option so the user can force prompting for all params, even if defaults are provided.

Related to https://github.com/projectatomic/nulecule/commit/877d4be154601a7fe3705c62faf524b3a32df42a

[2015-06-12 05:29] vpavlin commented on #148
Sadly, we have no way how to that while using container and `atomic` cli (because we cannnot pass any additional arguments through).

OTOH, while useing `atomicapp` directly, there is parameter `--ask` which should do exactly what you are asking for:

[code]

[2015-06-12 13:20] aweiteka commented on #148
Ah, thanks for the reminder. Once we get support in atomic CLI `--ask` will be exposed. Until then we wait.

[2015-06-12 13:20] #148 closed

[2015-06-15 13:57] nzwulfin commented on #142
I've looked at a few more methods to encapsulate an app.  What I've run into is that every method of encapsulation aside from creating some sort of working directory on the host runs into the issue @vpavlin brings up about answer files.

Unless someone knows a better way to inject a single file at run time into an existing container directory.  Everything I tested either happens too late (docker c

[2015-06-15 14:53] vpavlin commented on #142
Random thought & what if..

We will need/have a REST API that will enable us to control atomicapp through this API instead of by running commands. We already know Cockpit will need it, I think Foreman and other management solutions can benefit from it. So what if, once we have that API, we create a client (or add this to `atomic` directly?) which will be able to load `answers.conf` from anywhere a

[2015-06-16 13:55] goern opened #149 "refactor test_path (for binaries) to central config/constants file"
Move definition of search path from https://github.com/markllama/atomicapp/blob/answer-kubectl/atomicapp/providers/kubernetes.py#L51 for example to https://github.com/projectatomic/atomicapp/blob/master/atomicapp/constants.py

Should be done for `os` or `osc` too.

[2015-06-16 14:10] vpavlin commented on #122
@sub-mod I think this was fixed by #123, correct?

[2015-06-16 14:15] sub-mod commented on #122
@vpavlin  yes

[2015-06-16 14:21] #122 closed

[2015-06-16 14:50] vpavlin commented on #149
nope, this is a provider specific information. Constants are global for the whole project

[2015-06-17 06:56] goern opened #154 "review and pin Dockerfile.fedora"
pin the dockerfile to fedora:22 and review it (dnf for yum etc)

[2015-06-17 07:04] goern opened #155 "keep version info in one location"
cant we read what we need at https://github.com/projectatomic/atomicapp/blob/master/setup.py#L44 from https://github.com/projectatomic/atomicapp/blob/master/atomicapp/constants.py#L26 ?

[2015-06-17 07:22] goern commented on #20
this seems to be implemented by now, @jstrachan could you please check `atomic install` should dwym.

[2015-06-17 07:24] goern commented on #18
@jstrachan pls check if this is correctly implemented...

[2015-06-17 07:28] goern commented on #107
I think #86 implements this (in a different but good way) the use case is like `atomic run <someatomicapp>` and if a provider is not implemented (eg no artifacts for openshift are provided by someatomicapp's vendor), than `atomic run` should fail gracefully. A list of supported providers is highly depending on the vendor of the atomic app as he may or may not provide artifacts.

[2015-06-17 07:28] #107 closed

[2015-06-17 07:28] goern commented on #14
This seems to be a job for DevAssistant...

[2015-06-17 07:28] #14 closed

[2015-06-17 07:30] goern commented on #8
done by using openshift client config file and point to it using `answers.conf`

[2015-06-17 07:30] #8 closed

[2015-06-17 07:46] goern opened #157 "change and document REST API"
once #89 is implemented and released (incl. update of the doc) we need to document the new default behavior (provide a REST API) and update the Dockerfile of atomicapp to run with the daemon enabeled

This issue is blocked by #89

[2015-06-17 09:22] goern opened #158 "use an Atomic App as a dependency of an OpenShift application"
As a Developer
I want to deploy an Atomic App
so that it can be referenced and used by any other application of an OpenShift project.

Using this use cases, we will enable OpenShift developers to base there projects on a vendor provided Atomic App. Example: We are developing a web service that depends on elastic search, elastic search was provided by an ISV and deployed. The elastic search service

[2015-06-17 11:08] aweiteka commented on #149
Close this then?

[2015-06-17 11:12] aweiteka commented on #139
Resolved by #146

[2015-06-17 11:12] #139 closed

[2015-06-17 11:15] goern commented on #149
ja.

[2015-06-17 11:15] #149 closed

[2015-06-17 12:57] markllama opened #159 "Atomicapp image "LABEL INSTALL" should prepare to run rather than unpack"
The current behavior of "atomic install" with an atomicapp image is to unpack the atomicapp information into the current working directory.

Rather, INSTALL should prepare the container to run on the host, requesting and importing any necessary inputs (creating an answers.conf _inside_ the container.

Then RUN would execute the atomicapp using that configuration.

It is possible that this conflict

[2015-06-18 16:42] nzwulfin commented on #142
I do like the idea of an API, but I think the nothing installed locally other than `/usr/bin/atomic` is something to preserve. FYI, This is a bit of a long read.

To that end, I'm proposing something I'll leave to the team to determine if it's brilliant or crazy :8ball: I'm putting some on the end admin to maintain a local container and the spec for the atomicapp container has to be fairly strict.

[2015-06-18 16:45] nzwulfin commented on #142
pinging @markllama as this may have relevance to https://github.com/projectatomic/atomicapp/issues/159

[2015-06-19 08:06] goern commented on #137
@jzb thanks for confirming the feasibility of the change with rfontana!

[2015-06-19 14:09] markllama commented on #142
There's a lot here to like. Without fully understanding the implications yet, I have a couple of impressions.

I like the standardization of patterns, and the ONBUILD which makes creating custom atomicapps easier and clearer.

I recognize the need to embed configs by adding a layer but it really tastes bad to me.  Lacking a better mechanism it will have to do.

I think I want to lay out an workflo

[2015-06-19 17:47] aweiteka commented on #142
@nzwulfin really interesting. Thanks for taking the time to spell this out.

[2015-06-22 14:19] goern opened #162 "check for spelling"
please ensure that human readable title is always "Atomic App" and machine readable is "atomicapp"

[2015-06-22 14:50] #137 closed

[2015-06-25 16:11] sub-mod opened #163 "Unable to install/run apps"
I am using the latest code.
I am unable to install any apps. I get the below error. Has anyone come across this issue.
@goern @aweiteka @vpavlin  ?

atomicapp install projectatomic/helloapache
2015-06-25 01:01:49,139 - atomicapp.install - INFO - App name is projectatomic/helloapache, will be populated to None
latest: Pulling from docker.io/projectatomic/helloapache
6941bfcbbfca: Already exists
414

[2015-07-01 11:08] vpavlin commented on #163
@sub-mod Can you run the `projectatomic/helloapache` like this

[code]

and see if `/application-entity` contains appropriate files.

This sort of suggests you might have Docker broken on your host

[code]

[2015-07-02 11:45] sub-mod commented on #163
I had to downgrade my docker to get this working
It works now with docker 1.6  but doesnt work with docker 1.7

[2015-07-02 13:33] goern commented on #163
What is your OS? And how did you install docker 1.7?

[2015-07-02 13:40] sub-mod commented on #163
F22 , yum install docker , then yum update docker.

[2015-07-03 12:38] goern opened #165 "do we need `--net=host` ?"
The Dockerfiles contain `--net=host`, do we need that or is it just left over from some reorg done by commit db2eeab6038b22f9c01d1515ec15cc2e7d6dce28 ?

[2015-07-03 13:48] aweiteka commented on #165
I found we needed this to support making calls to docker. I'm not clear on the technical reason but it failed without it.

[2015-07-03 13:59] goern commented on #165
oh, so communication to docker is not don via `/run/docker.sock` ?

[2015-07-03 15:00] goern opened #166 "write unit test for runargs feature"
Hi there, just a quick _feeling_ OPT3 seems to be a security issue, what if I put `goern/trojan-image` in there?

[2015-07-10 14:52] aweiteka opened #170 "PROPOSAL: Ansible provider"
I'm beginning to understand the use case for an ansible provider: I want to bundle my playbook as a parameterized atomic app. The params I have are in the ansible hosts file. Run `ansible-playbook -i path/to/inventory/file path/to/playbook [optional-args]`. Implementation seems quite straightforward except for the provider optional args.

Other considerations:
I want the ansible client added to th

[2015-07-10 20:27] aweiteka opened #171 "Add --provider CLI option"
Add a `-p|--provider <provider>` option so the user can choose the provider. This would override the provider list in the answerfile.

[2015-07-13 18:58] aweiteka commented on #170
To be consistent with other providers implementation should assume provider tool installed on host and uses host SSH keys, DNS and inventory files. This simplifies implementation.

[2015-07-14 13:56] aweiteka opened #172 "PROPOSAL: run provider client as another container"
Currently we rely on the host having the provider installed as installed software. There is a move to run these CLI clients as containers. Since we don't want to ship all providers in the atomic app itself it would be ideal to execute the provider call as an atomic run call. This requires two things:

1. A library of supported providers is available to call.
1. Update the providers to call atomic

[2015-07-14 14:46] whitel commented on #172
+1

[2015-07-15 14:47] sub-mod opened #174 "Atomicapp image fails with 1.7.0 : client and server don't have same version (client : 1.19, server: 1.18)"
If you have created a atomicapp image recently .
It will download docker 1.7.0 and it gives the below error.
I have tried to overcome that issue by putting docker-1.6.0 in yum command  for now.
@goern @aweiteka @vpavlin

 /home/development/atomicapp-run/atomicapp.sh -v --answers=/home/development/atomic_jsonbrooks/nulecule/examples/tmp/answers.conf run submod/guestbookphp-app
2015-07-15 14:19:19,4

[2015-07-15 15:06] vpavlin commented on #174
The simple fix would be to not only mount `docker.sock` but also `/usr/bin/docker`

[2015-07-15 15:34] vpavlin commented on #174
Or...
[code]

we can use `/host/usr/bin/docker` instead

[2015-07-15 21:15] aweiteka commented on #174
@vpavlin that approach would be consistent with the other providers. Is it the safest approach?

[2015-07-15 21:17] aweiteka commented on #163
@sub-mod is this the same issue as #174? If so can we close this?

[2015-07-16 06:35] sub-mod commented on #163
I am closing this issue because i dont see this error anymore and I can't figure out why it happened.

[2015-07-16 06:35] #163 closed

[2015-07-16 07:45] goern commented on #174
+1 for /host/usr/bin/docker, lets consider it a feature: Atomic App provider use the binary interface provided by the host on which `atomic {install|run}` is executed

[2015-07-16 11:11] vpavlin commented on #174
It's not only about provider. This is more about the "packaging" - the problem raises when Atomic App tries to unpack external dependencies. But anyway - as long as we rely on `/host` being available it's safe.

[2015-07-16 19:50] sub-mod opened #177 "Update All app images in atomicapp dockerhub repo"
Since the Dockerfile LABELS have changed
Kindly update all apps in the dockerhub.
Also change atomicapp:dev and atomicapp:latest

@goern
needed for https://github.com/cockpit-project/cockpit/pull/2474

[2015-07-17 08:15] vpavlin commented on #177
All Docker Hub repos related to Atomic App are no linked and will be rebuilt on every projectatomic/atomicapp build.

[2015-07-17 11:34] vpavlin commented on #49
Atomic App is now packaged as RPM for Fedora https://admin.fedoraproject.org/pkgdb/package/atomicapp/

[2015-07-17 11:54] LalatenduMohanty commented on #49
Very nice!

[2015-07-17 14:03] vpavlin commented on #177
Although we have triggeres set, all teh app images depend on :0.1.1 tag of atomicapp image so this will be really fixed after we release new version (and update examples)

[2015-07-17 14:34] bexelbie opened #178 "answers.conf.sample should offer choices of providers and provide more information"
Can we add comments to the answers.conf sample to provide context for the answers and to alert users to the presence of more than 1 provider?  I realize they could read the Nulecule file, but some may not parse exactly what they are reading.

[2015-07-21 10:03] goern opened #181 "atomic stop is broken? or has minimum requirments?"
stopping the helloapache on centos7 gives me:
[code]

[2015-07-21 10:09] vpavlin commented on #181
Atomic App should be ok, but the version of `atomic` might be still missing this https://github.com/projectatomic/atomic/pull/56

[2015-07-21 10:26] goern commented on #181
so using `atomic stop` on the vagrant box that is supposed to help us develop is blocked by https://github.com/LalatenduMohanty/centos7-container-app-vagrant-box/issues/43

[2015-07-21 10:46] vpavlin commented on #181
Basically, yes..

[2015-07-21 11:40] LalatenduMohanty commented on #181
Discussion on  upstream releases of atomic is being done here https://github.com/projectatomic/atomic/issues/72

Hopefully we should be install the latest atomic from some repo in the Vgarant box in future

[2015-07-22 07:15] goern commented on #178
+1 good idea!

[2015-07-22 07:28] goern commented on #177
@vpavlin cant we close this? all Nulecule examples have been updated. Autobuild of all the atomicapp and its tag is enabled...

[2015-07-22 07:42] vpavlin commented on #178
`anymarkup` does not support adding comments at the moment. I will file a bug

[2015-07-22 08:40] goern opened #182 "add random part to name of containers"
Containers started by atomicapp should carry unique names. This problem is solved to the OpenShift provider, as OpenShift is responsible for generating the names, same applies for the Kubernetes provider. Using the docker provider, an application packager can choose and name (via `--name` of docker command) and this may lead to name collisions and therefore to containers not starting up as expecte

[2015-07-22 11:55] bexelbie commented on #182
I believe we should add a unique name generator so that the resulting container remains identifiable as part of the application.  Perhaps we could use something where we start the container, get a docker random name and then `docker rename` the container to application-dockername

[2015-07-22 12:28] sub-mod commented on #177
@goern this issue for me to track the pending work for cockpit#2474
The litmus test for closing this issue is when
atomic info projectatomic/helloapache
would look like this
STOP         : docker run -it --rm ${OPT1} --privileged -v `pwd`:/atomicapp -v /run:/run -v /:/host --net=host --name ${NAME} -e NAME=${NAME} -e IMAGE=${IMAGE} ${IMAGE} -v ${OPT2} stop ${OPT3} /atomicapp
RUN          : docker

[2015-07-22 14:27] bexelbie commented on #177
Looks like this can't close until we rev the image.  We last released 0.1.1 in May.  Can we do 0.1.2?

[2015-07-22 15:46] veillard commented on #49
Can we have the spec file in git please ?

[2015-07-22 19:38] aweiteka opened #184 ""Install" UX/workflow"
We've struggled with what it means to "install" an application and it has created some confusion. I was using Brent Baude's [image-scanner](https://github.com/baude/image-scanner) and liked the installation experience.

[code]

Two things I like:

1. The user gets information about what has happened and what to do next. He uses [this script](https://github.com/baude/image-scanner/blob/master/docke

[2015-07-23 06:55] goern commented on #177
sure, if no objections I will tag and build a 0.1.2 today

[2015-07-23 13:05] sub-mod commented on #177
@goern kindly release 0.1.2 with https://github.com/projectatomic/atomicapp/pull/183 as well

[2015-07-23 14:33] goern commented on #177
as we are right in the process of syncing atomicapp releases with the CDK release cycle, please use the `projectatomic/atomicapp:dev` image as that equals the master branch.

[2015-07-23 14:33] #177 closed

[2015-07-23 14:40] aweiteka opened #186 "Non-quiet, non-verbose mode should output pretty strings"
By default atomic app run with no args should output strings for humans that do not have timestamps, log levels, etc. Currently we're getting all INFO logs, which is a lot.

Current output:

[code]

[2015-07-24 12:38] aweiteka commented on #17
Needs some more scoping.

[2015-07-24 12:45] #20 closed

[2015-07-24 12:49] aweiteka commented on #21
We really don't want to re-implement the deployment logic of openshift into kubernetes. OpenShift has this functionality via deployment configs.

[2015-07-24 12:50] goern commented on #21
@jstrachan could you please try to generalize the requirements, so that we can put it in the Nulecule Specification and have it avail as a general feature of the providers (at least Kubernetes, OpenShift). Thx!

[2015-07-24 12:52] goern commented on #41
@tkdchen could you pls check if current status (0.1.1) fixed it?

[2015-07-24 12:53] aweiteka commented on #87
Have a travis, code coverage and landscape.

[2015-07-24 12:53] #87 closed

[2015-07-24 13:07] aweiteka commented on #159
related to #184

[2015-07-24 13:12] aweiteka commented on #162
Mostly complete. Need to review

[2015-07-24 13:12] aweiteka commented on #165
@goern we use the docker API

[2015-07-24 13:19] goern commented on #186
see #134

[2015-07-24 13:19] jstrachan commented on #21
Would things like rolling upgrades and autoscaling just be configured in the openshift template? I guess these things are not relevant to the Nulecule spec; they could be delegated to the OpenShift Template / Kubernetes List?

[2015-07-24 14:18] goern opened #188 "RFE: reuse the patterns and strategies of OpenShift image building"
## Problem
In the future we need to provide Atomic App Docker Base Images not only for CentOS7 (as hosts on [Docker Hub](https://registry.hub.docker.com/u/projectatomic/atomicapp/) by now) but also for RHEL7 and Fedora22.

## Proposal
Maintain a build infrastructure that is similar to the one of OpenShift ([for example the MySQL image](https://github.com/openshift/mysql))

This will give a a easy

[2015-07-24 14:18] goern commented on #154
superseded by #188

[2015-07-24 14:18] #154 closed

[2015-07-24 14:19] #162 closed

[2015-07-24 14:22] goern commented on #21
@jstrachan ja, that I what we think how it should work. if a Nulecule artifacts provides a upgrade strategy, we will deploy it.
Sounds like we could close thin issue?

[2015-07-24 14:28] #21 closed

[2015-07-24 14:36] goern commented on #158
This seems to be a part of https://trello.com/c/IMy4yrtg so I close this issue and let tracking happen on the trello card.

[2015-07-24 14:36] #158 closed

[2015-07-29 11:00] vpavlin commented on #186
Yes..and maybe we should have one parameter which would turn on the output added for cockpit

[2015-07-29 11:21] vpavlin commented on #165
I am not sure about issues with Docker, but there was definitely issue with Kubes without `--net=host`

[2015-07-29 12:47] aweiteka commented on #95
@goern do we want to pull this in to the CDK GA milestone or push it out?

[2015-07-29 12:52] aweiteka commented on #131
@goern is this part of our CDK GA milestone story? I vote 'no' since we have not pulled this in as a primary user story.

[2015-07-29 13:31] goern commented on #131
I see some feature misfit for that, referring to vpavlins comment and dont really see that this is part of the story...

[2015-08-03 11:27] goern commented on #165
so the answer is 'yes, for kubernetes provider'

[2015-08-03 11:27] #165 closed

[2015-08-04 12:58] goern commented on #157
obsoleted, as we dont use the restful api to communicate with cockpit

[2015-08-04 12:58] #157 closed

[2015-08-04 12:59] goern opened #191 "document the communication between Atomic App and Cockpit"

[2015-08-04 13:25] goern commented on #135
Think if we can use the OS tooling rather than atomicapp's?!

[2015-08-04 13:31] aweiteka commented on #135
Proposal

* `STOP` means to stop the deployment but not remove it.
* `UNINSTALL` means remove/delete/cleanup the deployment.

[2015-08-04 13:32] vpavlin commented on #49
@veillard We probably could, but why is that needed? RPM packaging is specific to Fedora/CentOS/RHEL and is not handled by upstream in any way

[2015-08-04 13:34] goern commented on #131
prerequisite: an OpenShift environment that is capable of processing the template inherited with the Atomic App.

[2015-08-04 13:35] vpavlin commented on #166
@sub-mod Have you had a chance to take a look at this?

[2015-08-04 13:37] goern opened #192 "implement params to support xpath-like replacing and non-scalar values"
implement https://github.com/projectatomic/nulecule/issues/70 for Atomic App

[2015-08-04 13:50] aweiteka commented on #184
Related to https://github.com/projectatomic/atomicapp/issues/142

[2015-08-06 11:29] vpavlin commented on #62
Looking at https://github.com/projectatomic/nulecule/tree/master/spec#storageRequirementsObject I am not sure how do we translate this to a real storage. Any more detailed explanation on how to implement this feature?

[2015-08-06 11:49] goern commented on #62
storageRequirements correspond to [Persistent Storage in Kubernetes](https://github.com/GoogleCloudPlatform/kubernetes/blob/release-1.0/docs/design/persistent-storage.md) two steps need to be performed:

0. the application packager has a [storage requirement](https://github.com/GoogleCloudPlatform/kubernetes/blob/release-1.0/docs/design/persistent-storage.md#users-request-storage), this must be tr

[2015-08-06 18:23] jasonbrooks opened #193 "file exists error for /etc/kubernetes when running w/ local docker-based kube setup"
Running the ["Local Docker-based (recommended starting point)"](https://github.com/GoogleCloudPlatform/kubernetes/blob/release-1.0/docs/getting-started-guides/docker.md) method from the upstream project, using [this Vagrantfile](https://gist.github.com/jasonbrooks/2244af4cf9e411ff2116):

[code]
[code]

[2015-08-06 21:17] aweiteka commented on #142
I've been assigned to get this sorted out so I'm firing the conversation back up.

`ONBUILD` makes a lot of sense. Let's do it. I can be done independently, I think. It doesn't address the "How should install vs run work" question.

Here's what I think makes the most sense from an end-user perspective:

* `install` and `run` *unpack* all nulecule artifacts to a temp directory. The tempdir path is

[2015-08-07 08:26] goern opened #194 "atomicapp unable to find Nulecule file"
this is observed here: https://github.com/projectatomic/nulecule/issues/141

[code]

[2015-08-07 12:45] sub-mod commented on #191
In Cockpit a click on deploy button would
1) installs the image via command
ex :  atomic install --opt2="--answers-format=json" submod/guestbookphp-app
The install step would create a answers.conf.sample file which would contain param/values in json format

this json data is shown on the UI for the user to modify/add param_values

2) A second click on deploy button would
first save the json_data s

[2015-08-07 13:04] goern opened #195 "change Atomic App Base Image to use ONBUILD"
transforming https://github.com/projectatomic/atomicapp/issues/142#issuecomment-113213570 into an issue

# Change the atomicapp container to use ONBUILD and standard locations

The atomicapp container currently uses /application-entity as the runtime location. Downstream containers add application information and artifacts in their Dockerfiles. That location is modifiable by changing where applica

[2015-08-07 13:06] goern commented on #142
pretty much in line with https://github.com/projectatomic/nulecule/issues/139

re ONBUILD +1 I transformed that into #195

[2015-08-07 13:14] aweiteka commented on #195
Reference work from @nzwulfin:
 https://github.com/nzwulfin/atomicapp/tree/onbuild
https://github.com/nzwulfin/nulecule/tree/onbuild

[2015-08-07 13:16] aweiteka commented on #195
Thanks for writing this up. One note: this may break all images build from atomicapp image. We have no way to contact people who are downstream. Probably best to just do it since it's early in the project.

[2015-08-07 13:24] LalatenduMohanty opened #196 "After uninstalling hellopache , kubectl output shows it is still running"
Steps to Reproduce:
* atomic run projectatomic/helloapache
* kubectl get pod helloapache
* atomic uninstall projectatomic/helloapache
* kubectl get pod helloapache

At the last step, I dont expect it would show that the application is still running

[code]

[2015-08-07 13:36] goern commented on #191
will this be part of the cockpit users guide? could you pls write a little about the messages that will be exchanged, how they will be exchanged, where they are defined? what we should not do in the future, which components of cockpit have been coupled to atomic app.

[2015-08-07 17:46] aweiteka opened #198 "OpenShift provider cannot find config"
When running atomicapp from a cloud VM as non-root my OpenShift config is in `/home/cloud-user/.kube/config`. The openshift provider fails with cannot find openshift config. I can provide the openshift config file path in the answers.conf but it must be prepended by `/host/` since we're running in a container. The end-user doesn't know this. Ideally the openshift provider "just works" but if it's

[2015-08-07 21:05] aweiteka opened #201 "Strip whitespace with docker provider"
@jasonbrooks found an issue where if the docker provider artifact run line has two whitespaces it fails. Fix cmd `subprocess.check_call(cmd)` in `provider/docker.py`. This should be super easy I just couldn't get to it.

[2015-08-08 02:22] aweiteka commented on #194
This might have been introduced in docker 1.7, now shipping in fedora. Centos is still on docker 1.6.

@dustymabe was looking at the docker cp cmd. Is this the same error you were seeing?

[2015-08-08 02:40] aweiteka commented on #195
I'm confused about `/atomicapp` vs `/application-entity`. It appears the *working* directory is /atomicapp. But then the actual working directory is /atomicapp/.workdir/...

/application-entity is just where downstream projects put their stuff but it's installed to /atomicapp. Can't the working directory just be a tmpdir?

We need to get this sorted out in relation to what it means to install some

[2015-08-08 03:02] aweiteka commented on #193
We check for `/etc/kubernetes`, but if we're in a container and that file is not found we create `/host/etc/kubernetes`, which is the default kube config dir bindmounted from the host.

@jasonbrooks it doesn't look like you're running from the vagrant box. Do you have an /etc/kubernetes dir on your host or in the vagrant box?

[2015-08-08 03:20] aweiteka commented on #178
+1. On a related note, I would like to rely less on the conf file. See #171

If no answer file and multiple providers, prompt user. For non-interactive use where there are no params user can pass in `--provider <provider>`

All this is easier with atomic CLI when we get [this patch](https://github.com/projectatomic/atomic/pull/110) in to append arbitrary opts.

[2015-08-10 02:19] aweiteka commented on #142
With the ability to append args in atomic CLI (see [PR#110](https://github.com/projectatomic/atomic/pull/110)) we can consider a more streamlined approach that doesn't use install at all. The user only needs to run, stop and update applications. Here are the use cases:

* How do I run this application?
  * Append `-h|--help`
  * Example: `atomic run <some/app> -h`
* I want to run this application

[2015-08-10 14:51] navidshaikh opened #203 "Fix pep8 warnings for codebase"
If ran pep8 coding guidelines checker on code-base, it throws a bunch of warnings.
Idea here is to fix those warnings and have code compliant with pep8 coding guidelines.

[2015-08-10 15:24] vpavlin commented on #119
I'd probably use this: https://pypi.python.org/pypi/lockfile but that would bring another dependency. Any objections, suggestions?:)

[2015-08-10 15:35] aweiteka commented on #203
@navidshaikh nice. We should get a PEP8 check in the Travis job.

[2015-08-10 15:46] navidshaikh commented on #203
@aweiteka : Yes, a gate for PEP8 check should help.

[2015-08-10 16:00] jasonbrooks commented on #193
I'm running from a default centos 7 vagrant box, the Vagrantfile is linked above. There's no /etc/kubernetes in there, because I'm running everything in containers, w/ the project's local Docker-based installation method.

[2015-08-10 16:03] jasonbrooks commented on #142
I think this is much clearer.

[2015-08-10 20:51] dustymabe commented on #142
I like this better than what it was. I think there can be some more clarification though.

**This:**
* I want to download a sample answerfile before I run the app, download to current working directory.
    * Append `--write-answers <path> --dry-run`.
    * Example: `atomic run <some/app> --write-answers .`

**Should probably be this:**
* I want to create a sample answerfile by interacting with th

[2015-08-10 22:05] dustymabe opened #205 "atomicapp can't cp files out - fedora docker-1.7.1-7.gitd5a81b3.fc22.x86_64"
atomicapp depends on functionality that was broken in docker-1.7.1-7.gitd5a81b3.fc22.x86_64 in Fedora. There is a [bug](https://bugzilla.redhat.com/show_bug.cgi?id=1252168) for this.

Here is a run of atomicapp where it fails:

[code]

[2015-08-11 08:15] #203 closed

[2015-08-11 08:31] stefwalter commented on #142
@sub-mod CC

Could you guys ensure that this new scheme has a version exclusion gate? So that the caller can provide an option like ```--version-required=2``` so that the caller can specify that it expects to interact with a meta container that has the specific version of the nulecule code?

Otherwise each time you rewrite everything over again ... code has no idea how to deal with it. Usually we

[2015-08-11 11:35] navidshaikh commented on #147
Referencing resources in k8s differs from apiVersion `v1beta1` to `v1`.
Latest one uses `metadata.name` field to reference the resources while earlier apiVersion uses `id` field.

Proposing look up in order `metadata.name` and then `id`. The later (`id`) will be looked up in absence of `metadata.name` which means k8s artifacts are of `v1beta1`.

This should also be in sync with support for populat

[2015-08-11 11:58] vpavlin commented on #147
I agree with the proposed order.

What do you mean by  _in sync with support for populating fields_ ?

[2015-08-11 13:50] goern opened #208 "provide 0.1.2 release/tag of Atomic App on docker hub"
due to the cockpit dependencies we need to provide a release on docker hub, rebuild all nulecule examples and keep the interfaces on the 0.1.1 level.

[2015-08-11 14:08] goern opened #209 "add ATOMICAPPVERSION to docker container image"
add a LABEL io.projectatomic.nulecule.atomicappversion x.y.z to the Atomic App base image.

[2015-08-11 14:56] sub-mod commented on #208
CC @sub-mod @stefwalter
0.1.2 release a baseline for cockpit + nulecule

[2015-08-11 14:59] aweiteka commented on #194
Can we confirm this is a dupe of #205 ?

[2015-08-11 16:43] sub-mod commented on #205
facing issues with docker 1.7.x from long time
atomicapp doesnt work with 1.7.1
faced another issue some time back https://github.com/projectatomic/atomicapp/issues/174

[2015-08-11 16:43] sub-mod commented on #194
facing issues with docker 1.7.x from long time
atomicapp doesnt work with 1.7.1
faced another issue some time back https://github.com/projectatomic/atomicapp/issues/174

[2015-08-11 16:57] ncoghlan commented on #142
I'd never properly understood the install vs run distinction, so +1 for removing the need for it entirely.

Also +1 for @dustymabe's suggestion of a separate command for downloading the files without running anything - I'd suggest "atomic download" or "atomic fetch" over "atomic getfiles", but the key is making it a separate verb rather than a --dry-run modifier on "atomic run".

[2015-08-11 16:58] sub-mod commented on #209
CC @sub-mod @stefwalter
https://github.com/projectatomic/atomicapp/pull/210

[2015-08-11 18:12] aweiteka commented on #142
I agree with the separate verb. One issue is from an atomic CLI perspective, [these are the LABELs](https://github.com/projectatomic/ContainerApplicationGenericLabels) we have available to us.

help |	Command to run the help command of the image
--- | ---
run |	Command to run the image
uninstall |	Command to uninstall the image
install |	Command to install the image
stop |	Command to execute befor

[2015-08-11 18:18] sub-mod commented on #142
@aweiteka I suggest keeping the verbs install run etc in atomicapp
and exploring the opt1, opt2, opt3 options available in atomic command to support adding more sub-commands for install/run in atomicapp
for ex:
atomic install --opt3="--getfiles" IMAGE
becomes
atomicapp install --getfiles IMAGE

[2015-08-11 21:16] dustymabe commented on #142
@ncoghlan I like `fetch` as well. `getfiles` was only because I couldn't think of something better.

[2015-08-11 21:18] dustymabe commented on #194
@aweiteka looks like the same issue as #205 to me. If we want to reference the upstream bug here and close #205 as a dup then that is fine with me.

[2015-08-12 09:38] goern opened #211 "check that Nulecule Spec Examples still work"
check that https://github.com/projectatomic/nulecule/pull/143 does not unveil errors in LABEL parsing within atomicapp.

[2015-08-12 09:45] vpavlin commented on #142
Reading through this I am getting a bit confused. Do I understand it correctly from @aweiteka's and @dustymabe's suggestions that we are getting rid of `install`? Because `install` is currently where `answers.conf.sample` is created, thus there is no reason to do `atomicapp run --dry-run` as `install` does not run anything anyway...

`install` was intended as a preparation step where all dependenc

[2015-08-12 12:28] navidshaikh opened #212 "Issue with multiple tiers app k8s artifacts processing"
Multiple tier app:
App having more than one tier for eg: db tier, web tier, app tier.

Kubernetes resources (pods, rc and services) manifests are overridden while processing the manifests for a multiple tier app.

So the last kubernetes artifact per type (pod/rc/services) described in Nulecule file is the one which is deployed while the earlier manifests data is lost.

Example:
Atomic App: <https:

[2015-08-12 14:07] nzwulfin commented on #142
I'm of the opinion that we leave `install` in place and not overload `run` with a lot of extra options.  While `install` may not be the best verb, it will be more difficult to get a new LABEL to the container spec if we are the only users of the LABEL.  There also seems to be consensus that `--dry-run` actually creating an object that the user is expected to interact with isn't an expected result

[2015-08-12 16:17] goern commented on #209
solved by #210

[2015-08-12 16:17] #209 closed

[2015-08-12 16:18] goern commented on #178
@vpavlin could you link to the anymarkup issue?

[2015-08-13 02:38] ncoghlan commented on #142
"install" inherently means mutating the host system to me. What command do I run to fetch all the artifacts *without* affecting the host system?

[2015-08-13 07:20] #201 closed

[2015-08-13 07:38] navidshaikh commented on #147
@vpavlin :

We are populating `self.namespace` from the k8s manifests processed.

For `v1beta1` namespace can be accessed as `namespace` while for `v1` it is accessed as `metadata.namespace`.

So we need to provision populating namespace field based on the apiVersion in the manifest being processed.

On that note, should we migrate completely to `v1` apis for k8s?

@aweiteka @goern @vpavlin : thou

[2015-08-13 08:15] goern commented on #147
ja, we should do that, v1 of kubes should be a requirement.

[2015-08-13 12:31] nzwulfin commented on #142
I'm not sure I get the use case for fetching all the artfacts without the
intention of "mutating" some host.  Also, which host are we discussing when
talking about containers, the atomic host, the resulting container "host"?

Today there's no projects I'm aware of that provides non- image artifacts,
and that means we've got an uphill battle to add a new label to the generic
spec just for our sensi

[2015-08-13 13:23] ggallen commented on #174
I see the same problem with the latest rpms on CentOS.

[root@dhcp-41-86 atomic-test]# rpm -qa | grep kub
kubernetes-node-1.0.0-0.8.gitb2dafda.el7.x86_64
kubernetes-master-1.0.0-0.8.gitb2dafda.el7.x86_64
kubernetes-1.0.0-0.8.gitb2dafda.el7.x86_64
[root@dhcp-41-86 atomic-test]# rpm -qa | grep atom
atomicapp-0.1.1-1.el7.noarch
atomic-1.0-108.el7.centos.x86_64
[root@dhcp-41-86 atomic-test]# rpm -qa |

[2015-08-13 13:26] vpavlin commented on #119
Fixed by #207

[2015-08-13 13:26] #119 closed

[2015-08-13 15:26] kbsingh commented on #194
Hitting the same thing with a completely updated centos7 system :

Status: Image is up to date for docker.io/projectatomic/helloapache:latest
2015-08-13 15:24:04,125 - atomicapp.nulecule_base - DEBUG - {u'provider': u'kubernetes'}
2015-08-13 15:24:04,125 - atomicapp.install - DEBUG - Creating a container with name helloapache-RbEucP
c382e1db75b57ef9ab60f8b2be55900a8ddad984a4891520fc8a9d47c664df12

[2015-08-13 17:03] jasonbrooks commented on #147
+1 to making kube v1 a requirement

[2015-08-13 17:14] jasonbrooks commented on #194
I see the same thing as @kbsingh -- I am able to run the helloapache app w/ 1.7.1, but I must first atomic install, and then atomic run works. I ran it w/ another VM w/ Docker version 1.6.2, build ba1f6c3/1.6.2, and that works w/o the install step.

[2015-08-13 18:08] sub-mod commented on #194
@kbsingh @jasonbrooks fyi... in f22 there is a new rpm available which works with atomicapp

[2015-08-14 13:06] aweiteka commented on #142
We *could* propose another [LABEL](https://github.com/projectatomic/ContainerApplicationGenericLabels) specified for this purpose but I'm not convinced it's the right thing to do.

The "host" in question is the one initiating the action, the workstation or server that kicks off the command. Depending on the deployment target, the end-user may explicitly *not* want to alter their workstation. Rathe

[2015-08-14 17:14] #194 closed

[2015-08-14 19:37] dustymabe opened #217 "atomicapp 0.1.2 labels are broken"
Looks like the labeling with 0.1.2 is not working. When I `install` I get no artifacts and when I `run` I get a broken container:

[code]

[2015-08-14 20:29] aweiteka commented on #217
@sub-mod what was the motivation for this change? https://github.com/projectatomic/atomicapp/commit/7f7217b8f4965473371ba66ee639393bee0d3603

I don't understand the need to escape these and put in brackets? Should be like this:

[code]

[2015-08-15 08:21] sub-mod commented on #217
@aweiteka i didnot make this below change
# it's a good practice to have all labels in one layer
LABEL io.projectatomic.nulecule.atomicappversion 0.1.2 \
      RUN  "docker run -it --rm \${OPT1} --privileged -v `pwd`:/atomicapp -v /run:/run -v /:/host --net=host --name \${NAME} -e NAME=\${NAME} -e IMAGE=\${IMAGE} \${IMAGE} -v \${OPT2} run \${OPT3} /atomicapp" \
      STOP "docker run -it --rm \${O

[2015-08-15 08:22] sub-mod commented on #217
@aweiteka my changes were related to having \${OPT1} in LABELs

[2015-08-16 18:41] LalatenduMohanty commented on #217
I think I am also seeing the issue.
* I have rebuilt  the nulecule examples  images based on Atomic App 0.1.2 i.e. using patch https://github.com/projectatomic/nulecule/pull/148
* Used a script build all the images https://github.com/LalatenduMohanty/nulecule-utils/blob/master/atomicapp-builder.sh

[code]

[2015-08-17 10:25] goern commented on #217
seems like multi linke LABELs using \ is proken

[2015-08-17 10:40] #208 closed

[2015-08-17 15:31] #217 closed

[2015-08-17 18:18] aweiteka opened #220 "Nulecule file not found"
Current error with 0.1.3: Nulecule cannot be found because it's trying to cp from container. I'm confused about why we do so much passing of files and containers around.

Running from **within** the projectatomic/atomicapp container with a Nulecule in `/atomicapp`, why are we trying to pull down the projectatomic/atomicapp container?

I confirmed I have [this patch](https://github.com/projectatomi

[2015-08-18 12:05] navidshaikh commented on #147
@vpavlin : I meant about processing `namespace` field from manifest. For `v1beta1` APIs `namespace` field is again at the root level while for `v1` or `v1beta3` the field reside at `metadata.namespace`. However I could not find parsing of manifests for `namespace` field rather we are processing the `namespace` field from config.

[2015-08-18 12:06] navidshaikh commented on #147
@vpavlin @goern @aweiteka , others : Can you please review the patch ?

[2015-08-18 12:58] LalatenduMohanty commented on #147
@navidshaikh after moving to v1 APIs is it backward compatible to older APIs?

[2015-08-18 13:06] navidshaikh commented on #147
@LalatenduMohanty : Yes, one can still use manifests of `v1beta1` and the `stop` / resize of app should work. The movement to `v1` API should be separate PR.

[2015-08-18 13:48] LalatenduMohanty commented on #147
@navidshaikh thanks. I thought this is the PR to move to V1.

[2015-08-18 17:51] #198 closed

[2015-08-20 12:18] vpavlin commented on #172
@aweiteka by library you meen a list of images in Docker Hub which represent specific providers?

[2015-08-20 12:18] vpavlin commented on #41
@tkdchen ping?

[2015-08-20 12:30] aweiteka commented on #172
@vpavlin yes, that was the thought. A set of images in `<some_registry>`. I think it's just a matter of time before clients (openshift, heat, kube, etc) will be containerized by default.

[2015-08-20 13:08] aweiteka opened #222 "Handling OpenShift templates"
OpenShift templates can be instantiated two ways for different use cases.

1. `oc create -f <template>`: this uploads the template to openshift. This might be an end-user or it might be an admin pre-loading templates for all users by passing in `-n openshift`. This does not actually create any resources; just makes the app template available for parameterized instantiation. Creating an app from a

[2015-08-20 18:03] goern commented on #172
so we wait a little before client containers do appear and in the meantime we spec out how that could be used with atomicapp?

[2015-08-21 20:37] aweiteka opened #223 "Need docs"
I suspect one of the reasons atomicapp is confusing to people is we don't have docs. Needed:

1. Create a `docs` directory in this repo
1. Create initial docs
1. Require each PR to contribute to docs

[2015-08-23 23:04] charliedrage commented on #223
Despite projectatomic/nulecule being a spec repo, it has examples specific to the python implementation.

As a newcomer it's confusing that I have to look projectatomic/nulecule at the same time as atomicapp. Could we have examples in this repo too?

[2015-08-24 07:24] bexelbie commented on #223
One idea would be to merge the two repos.  If this is a reference implementation, it could live with the spec.

If we don't do that, we need to decide what an example in both repos actually looks like/means.

[2015-08-24 07:26] goern commented on #223
in any way we (maintainers) need to be more careful about the PR we merge and try to work with the contributors to increase the PRs we get.

[2015-08-24 07:30] goern commented on #223
@bexelbie I would continue with the strict separation of SPEC and REFIMPL, as we have one fast moving repo and one that is basically unchanged since half a year.

[2015-08-24 09:59] bexelbie commented on #223
@goern that is fine with me, however we should think about how to address this from a usability perspective as pointed out by @charliedrage

[2015-08-24 19:04] charliedrage opened #225 "License inconsistencies."
CONTRIBUTING.md mentions: gpl-3.txt
License on README.md mentions lgpl-3.0.txt

Wouldn't it be easier to simply have a file named LICENSE similar to normal Github conventions on other repos?

[2015-08-24 19:27] goern commented on #225
Well, to put a work under the GNU LGPL you need to have two files: lgpl.txt and gpl.txt, Atomic App is licensed under the GNU LGPL, CONTRIBUTING carries a reference to 'how to put a copyright notice on your file' and that is described in detail in the gpl.txt file. its not inconsistent, just complicated :/

The LICENSE file github provides is exactly the same as lgpl-3.0.txt, therefor it reference

[2015-08-24 19:27] #225 closed

[2015-08-24 19:38] charliedrage opened #226 "No lockfile installation on python setup.py install"
lockfile is not installed by default when running
[code]
in the default dir

see pull #227 for fix as well as changes to Dockerfile / versioning conventions

[2015-08-25 07:46] ingvagabund opened #228 "Missing atomicapp-?.?-py?.?.egg-info"
When building atomicapp-0.1.3 in Fedora, I am getting the following error:
RPM build errors:
     File not found: /builddir/build/BUILDROOT/atomicapp-0.1.3-1.fc24.noarch/usr/lib/python2.7/site-packages/atomicapp-?.?-py?.?.egg-info

With atomicapp-0.1.1 there was no such error. Atomicapp-0.1.2 suffers the same error.

[2015-08-25 14:46] ggallen commented on #220
OK, since projectatomic/helloapache example is failing #152 appears to be resolved, I am now blocked by this issue....

[2015-08-25 16:15] charliedrage opened #230 "Docker.fedora fails to build"
[code]

[2015-08-25 16:33] charliedrage opened #231 "Docker.rhel fails to build"
[code]

[2015-08-25 18:00] jasonbrooks commented on #223
I too have been confused about the atomicapp examples living in nulecule, rather than in atomicapp.

[2015-08-26 10:39] vpavlin commented on #223
I understand the confusion. On the other hand, we need to have some examples in the spec repo so that people can easily find it. Any suggestions how to distinguish what qualifies for the spec example and what is better for implementation example?

[2015-08-26 10:47] bexelbie commented on #223
@vpavlin I feel like the differentiation is this.  Examples that strictly follow the spec belong in Nulecule.  Examples that use a non-spec extension belong in the implementation repo.

If atomicapp is never going to vary from the spec, we need to think about why it is separate from the spec.  I respect @goern's assertion that we shouldn't combine a fast moving implementation with the slower chang

[2015-08-26 10:57] vpavlin commented on #223
I actually agree with @goern that as long as the spec is not represented by code (instead of text) and as long as we expect other implementations, Nulecule and Atomic App should be kept separately.

OTOH, I agree with you that if the examples don't comply to the spec, they shouldn't live in a spec repo but rather in a Nulecule-examples repo. Maybe this is where we should introduce new rule to a co

[2015-08-26 11:24] vpavlin commented on #231
Did you use subscribed RHEL7 machine for the build? Otherwise the subscription manager will fail..

[2015-08-26 11:33] #230 closed

[2015-08-26 12:44] #211 closed

[2015-08-26 13:14] dustymabe commented on #142
So are we still going to unpack files to the current working directory? I often do `atomic run helloapache` followed by `atomic run <something else>`. If you do that and everything unpacks to the current directory then things get confusing quickly.

We could still detect if answers.conf exists in the current directory and use it, but other than that put everything in the temp directory.

[2015-08-26 13:33] #226 closed

[2015-08-26 14:24] charliedrage commented on #231
@vpavlin you're right. it's related to that. yum will not pull without the subscription.

closing this issue.

[2015-08-26 14:24] #231 closed

[2015-08-26 15:34] charliedrage commented on #228
@ingvagabund are you able to post the specific build command you used? when you say build do you mean the docker build? or python setup.py install ?

[2015-08-26 15:39] charliedrage commented on #205
Seems that this is fixed in Docker 1.8 (which was released 15 days ago, ironically on the same day as the bug report).

Should we wait until Docker is updated on atomic host or implement a temporary patch?

[2015-08-26 18:32] aweiteka commented on #142
@dustymabe right, we don't want to unpack to current workdir unless the user specifies that directory, overriding the tmpdir.

Sounds like we're on the same page.

[2015-08-26 21:24] ingvagabund commented on #228
%{__python2} setup.py install --skip-build --root %{buildroot}

[2015-08-26 21:25] ingvagabund commented on #228
http://pkgs.fedoraproject.org/cgit/atomicapp.git/tree/atomicapp.spec, line 31

[2015-08-27 06:05] sub-mod commented on #205
@charliedrage this issue was fixed in 1.7.1-8 as a patch
but imho it is better to use 1.8

[2015-08-27 07:09] vpavlin commented on #142
So are we going to mount `/tmp` and create/find a specific directory there?

[2015-08-27 07:21] coolsvap opened #236 "Update tox.ini to execute the pep8 tests"
Currently if i do tox -e pep8 it does not run and fails to create the test env. Need to update the tox.ini and add test-requirements for flake8

[2015-08-27 12:54] goern commented on #228
@ingvagabund pls update the version included in the spec file to 0.1.3

[2015-08-27 12:57] goern opened #238 "remove shebang?"
@vpavlin could you have a look at http://pkgs.fedoraproject.org/cgit/atomicapp.git/tree/remove-shebang-from-nonexecutable-scripts.patch and figure out why we dont integrate it in here?

[2015-08-27 13:13] ingvagabund commented on #228
Updated. The link stays the same.
Spec: http://pkgs.fedoraproject.org/cgit/atomicapp.git/tree/atomicapp.spec
Koji build: http://koji.fedoraproject.org/koji/taskinfo?taskID=10855005
build.log: https://kojipkgs.fedoraproject.org//work/tasks/5006/10855006/build.log

[2015-08-27 13:28] dustymabe commented on #196
I think `stop` is the one that will remove the running pods.
https://github.com/projectatomic/ContainerApplicationGenericLabels#overview

[2015-08-27 15:00] charliedrage commented on #196
@dustymabe

Seems that it still doesn't remove it. Although I typed it _after_ running atomic uninstall.

Could it be a bug that if you have already uninstalled it and atomic cannot find the image that it will not continue to go and remove it?

(uninstalled before hand)
[code]

[2015-08-27 15:13] dustymabe commented on #196
@charliedrage yeah this flow might be broken. I think stop is broken anyway. This bug
https://github.com/projectatomic/nulecule/issues/157 is opened against nulecule but should probably be opened against atomicapp. I am going to look into it today and move it if necessary.

[2015-08-27 16:47] dustymabe commented on #223
+1 to keeping them separate as we really want the spec to be adopted by the masses and it has a better chance of doing that if there isn't one company/interested party tied to it. In the end if the spec was widely adopted but our implementation of it wasn't then I would still consider it a win.

I think the examples should live in the atomicapp repo and there should simply be a pointer to them fro

[2015-08-27 16:49] bexelbie commented on #223
@dustymabe so no examples at all in the nulecule repo?  Not even compliant ones?

[2015-08-27 19:29] charliedrage commented on #223
I agree with @dustymabe is that in order for our spec to be more widely use it should be open to interpretation as to what language / implementation to use. With examples to atomicapp already in the Nulecule spec it may give bias as to what implementation to use rather than thinking of ones own. Personally, I would like to see something in Go and Rust also gain momentum.

The `README.md` of projec

[2015-08-27 19:32] dustymabe commented on #223
@charliedrage very well said.

[2015-08-27 20:01] goern commented on #223
@charliedrage aint the only implementation specific references in the nulecule spec examples to `FROM` lines of the Dockerfiles and the directory layout? If we want to get rid of these, we need to provide a better "getting started with the spec's usage" chapter and completely loose the link to a reference implementation. I dont see the advantage of that. We need to educate people how to use the sp

[2015-08-28 06:36] navidshaikh commented on #228
I am not really sure if its among accepted practice but modifying egg-info section in `%files` as
[code]
gave me a successful build <http://cbs.centos.org/koji/taskinfo?taskID=29266>

[2015-08-28 07:22] #236 closed

[2015-08-28 09:44] coolsvap opened #239 "Pep8 ignore list can be updated"
Three pep8 rules can actually be removed from the ignore list,

E226: missing whitespace around arithmetic operator, currently not applicable to any code base but certainly improves code visibility
E302: expected 2 blank lines, currently it is not consistent in code base, removing it from ignore list makes it consistent
E41: Seems to be a typo, did not find any information about it in [1]

[1] htt

[2015-08-28 10:18] #239 closed

[2015-08-28 12:16] navidshaikh opened #242 "[docs] Broken link for providers.md in README.md"
Section https://github.com/projectatomic/atomicapp#providers has broken link to detailed Providers section.

[2015-08-28 12:34] #242 closed

[2015-08-28 12:35] navidshaikh commented on #147
should this be closed now?

[2015-08-28 15:10] goern opened #244 "merge #233 breaks stuff"
just to have the link to the debugging output in #233

[2015-08-28 15:19] goern commented on #147
which PR closes this? #221 ?

[2015-08-28 15:26] navidshaikh commented on #147
Correct! <https://github.com/projectatomic/atomicapp/pull/221>

[2015-08-28 18:20] dustymabe commented on #205
This should no longer be an issue since cb0625b. I think this can be closed.

[2015-08-28 18:31] dustymabe commented on #181
A lot has changed since this was opened `atomic` is at `1.1` in fedora and I no longer see this problem. I do see another problem which I have raised but I think we can probably close this issue.

[2015-08-28 18:40] dustymabe commented on #196
Ok the issue presented in https://github.com/projectatomic/nulecule/issues/157 is actually a bug in atomic cli: https://github.com/projectatomic/atomic/issues/137. This issue should be closed.

^^ @goern @aweiteka

[2015-08-28 19:36] dustymabe commented on #228
@ingvagabund looks like the files included in @navidshaikh's rpm are:

[code]

Does that mean `%{python2_sitelib}/atomicapp-?.?.?-py?.?.egg-info` should work?

[2015-08-28 19:56] goern commented on #205
thx dusty@

[2015-08-28 19:56] #205 closed

[2015-08-28 20:03] goern opened #247 "identify non python dependencies"
we need to identify all non python dependencies we have, like atomic, docker, ... so that we can align with the releases by CentOS, RHEL and Fedora.

[2015-08-28 20:30] dustymabe opened #248 "atomicapp always tries to pull images - even if they are already local"
In `nulecule_base.py` we check to see if an image is local using `docker images -q $name`. If an image is returned then no attempt is made to pull the image from a registry. Unfortunately unless the name of the image that we pass in is the full name (including registry) of the image then `docker images -q` returns nothing and we will always attempt to download the new image.

In the following case

[2015-08-29 02:36] ncoghlan commented on #142
On 27 August 2015 at 17:09, Vaclav Pavlin <notifications@github.com> wrote:

In trying to get the Pulp local demo playing nice with host-owned
directories, I'm honestly starting to think the better option is to
automatically create a data container that exports the necessary volumes,
and link the volumes from there. That leaves the host system clean, and
gets you away from an SELinux nightmare.

R

[2015-08-29 08:18] ingvagabund commented on #228
That is true. atomicapp-0.1.1 generated atomicapp-0.1-py2.7.egg-info directory. atomicapp-0.1.3 now generates atomicapp-0.1.9-py2.7.egg-info directory. Which I did not noticed and I was listing all generated files. Thanks @navidshaikh. [1] states "*.egg-info files or directories" are supposed to be included. It does not state any limitation on the regular expression.

@dustymabe Should not be atom

[2015-08-31 14:25] vpavlin commented on #248
@rhatdan Any idea if there is a way how to get a full name of the image? (Well, other then guessing or grepping the full image list)

[2015-08-31 14:31] #196 closed

[2015-08-31 14:33] vpavlin commented on #181
I agree this issue is fixed (though there are new issues in the way:) )

[2015-08-31 14:33] #181 closed

[2015-08-31 16:32] dustymabe commented on #228
@ingvagabund This is because in 0.1.3 the value was hardcoded [1] and it was wrong. It has since been fixed.

https://github.com/projectatomic/atomicapp/blob/0.1.3/setup.py#L44

[2015-08-31 16:43] ingvagabund commented on #228
Thanks everyone.

[2015-08-31 16:43] #228 closed

[2015-08-31 16:54] dustymabe commented on #136
@nzwulfin Can you verify that #207 fixed this issue for you and close out this issue if so?

[2015-08-31 17:57] goern commented on #244
closed by merge #246

[2015-08-31 17:57] #244 closed

[2015-08-31 18:03] goern commented on #222
I would say we focus on use case 2. given the vision of Nulecule to configure and deploy applications, the first use cases feels like out of scope. Acknowledging that there may be the need to deploy a template to be used as such, we should push this back and *invent a mechanism to deploy unprocessed artifacts to a provider*.

[2015-08-31 18:11] dustymabe commented on #174
I don't know if using the host `docker` is going to be sufficient. I tried to do this by adding a `RUN ln -s /host/usr/bin/docker /usr/bin/docker` in the Dockerfile deleting docker from the list of rpms that gets included. I end up with this inside the container:

[code]

I worked around this by modifying `LD_LIBRARY_PATH`:

[code]

and.. it works. This is on a F22 host with a centos based atomica

[2015-08-31 18:45] dustymabe commented on #195
@vpavlin ^^

[2015-08-31 20:01] charliedrage opened #250 "debian dockerfile support"
Support for building an atomicapp Debian docker image

[2015-08-31 20:07] dustymabe commented on #136
@nzwulfin nevermind. Looks like your issue really had nothing to do with concurrently running atomic but rather running two different atomicapps back to back without switching your working dir. I think #142 is the real answer here.

[2015-08-31 20:15] charliedrage opened #251 "odd more information guide linking. merge into atomicapp/docs?"
If you click on the *Atomic App Getting started Guide* within the `README.md` it takes you to the page on *projectatomic.io* which is almost identical to the `README.md` of atomicapp.

Once there you have to click on *Nulecule getting started guide* to finally get to the page for more information.

Wanted to open this issue for discussion. Do we simply update the README.md with the corresponding l

[2015-09-01 07:11] navidshaikh opened #252 "Add a `USER` in atomicapp image"
If no user is set in image the default user is `root`, IMO we need to configure user other than `root`. I propose we use user `atomicapp`.

[2015-09-01 07:16] goern commented on #252
ja, we should think about it, open a feature request via an issue, give a short rational why we should do that. (maybe) sync on what `atomic` guys think about it, figure out if we have a std used for that on RHEL and CentOS, if not figure out how to propose a std used for Atomic App on RHEL and CentOS. ... please, thanks!

[2015-09-01 07:31] goern commented on #251
From my point of view the flow should be more like [Nulecule getting started](https://github.com/projectatomic/nulecule/blob/master/docs/getting-started.md) and later on get practical with [Atomic App getting started](http://www.projectatomic.io/docs/atomicapp/) and we should link again aarons blog post.

All docs should be hosted on projectatomic.io and READMEs on repos should point that containi

[2015-09-01 07:36] vpavlin commented on #252
How can non-root user run docker commands? (Especially from a container withou being able to run it with `sudo`)

[2015-09-01 07:44] vpavlin commented on #195
Problems with ONBUILD approach, which I already stated earlier, are that

1. You will get random stuff from current directory (or any directory you point docker build at) into the image.
2. We would need to standardise `./artifacts` directory name (which we wanted to avoid, IIRC)

@aweiteka Working directory for `install` is `/atomicapp` - i.e. to unpack files from container. Working directory for

[2015-09-01 07:51] goern commented on #252
ja, could involve a pretty deep chain of changes/proposals....

[2015-09-01 08:13] bexelbie commented on #251
I agree that the docs need a presence on projectatomic.io, however I don't think the sources should live there.  I am concerned that if we put the sources in the website we 1) limit the number of commiters artificially and 2) make it even easier to do commits without docs.

Therefore I would propose that we leave the docs in the source repos and point to them from projectatomic.io.  For now they a

[2015-09-01 08:17] goern commented on #251
maybe we can consolidate all the developer facing howto docs in `docs/` (of atomicapp and nulecule) and shorten the readme, and push from `docs/` to projectatomic.io/....

[2015-09-01 08:29] bexelbie commented on #251
@goern I was thinking along those lines as well.  @jzb and crew will need to decide how rebuilds of projectatomic.io should be managed.  I don't think they have CI on that yet .. but if we did sub-repositories or some other wizadry we could probably make it work without having to increase the number of website committers.  Or we could add some committers to the site who stayed in the docs field on

[2015-09-01 12:03] navidshaikh opened #253 "Unnecessary `.workdir` directories present in each test atomicapp examples"
While running tests, `.workdir` is created in each atomicapp example directory in `tests/cached_nulecules` directory. And it is part of the git repository.

These directories need to be removed and `.gitignore` should be updated accordingly.

[2015-09-01 13:52] #250 closed

[2015-09-01 22:50] nzwulfin commented on #195
@vpavlin  Agree,  the original ONBUILD approach was looking at publishing an atomicapp based container (ISV style) rather than continued and further use by an end-user.  The publisher would need to recognize that everything would get pulled in and have a clean final working directory to build a final container.

As far as the directory structure, I was working off the existing Dockerfiles,  so tho

[2015-09-02 07:23] vpavlin commented on #195
@nzwulfin There is no directory structure defined. I wanted to have a standard directory for artifacts originaly, but @goern and @aweiteka explained it's bad and we should enforce any names apart from `Nulecule`. The spec was change to accommodate this and you now need to specify a full path to artifact in Nulecule file. That's why I am not a big fan of this proposal for using `ONBUILD` for `ADD`i

[2015-09-02 10:35] vpavlin commented on #212
I guess this can be closed

[2015-09-02 10:35] #212 closed

[2015-09-02 19:06] charliedrage opened #256 "atomicapp will ask for missing artifact values when stopping"
While coding the docker undeployment method with `atomicapp stop` I found that atomicapp will invertedly ask for missing artifact parameters depite wanting to remove/stop the container.

Pull #255 is a fix for future provider implementations.

[2015-09-03 04:00] #49 closed

[2015-09-03 07:35] navidshaikh opened #257 "Refactor respective (and add more) tests in separate classes"
Following up from <https://github.com/projectatomic/atomicapp/pull/254#issuecomment-137357932>
creating a new issue.

Separate respective tests and fix the ordering constraints for the present set of tests.

[2015-09-03 09:02] #253 closed

[2015-09-03 09:31] LalatenduMohanty commented on #155
@goern @aweiteka this looks like already fixed. Can we close this?

[2015-09-03 09:40] LalatenduMohanty commented on #147
#221 is merged now, lets close this CC  @navidshaikh @goern @vpavlin

[2015-09-03 09:44] goern commented on #155
no, still not fixed.

[2015-09-03 09:52] LalatenduMohanty commented on #155
@goern more info required. I can try fixing this.

[2015-09-03 09:54] goern commented on #147
fixed by #221

[2015-09-03 09:54] #147 closed

[2015-09-03 12:54] dustymabe commented on #155
@LalatenduMohanty I thihnk @charliedrage had already submitted code that fixed this but it broke something else so he pulled it back out for now. @charliedrage can you confirm and assign this issue to yourself if so?

[2015-09-03 13:30] vpavlin commented on #186
In my opinion, we should add second logging handler which will log to a file. This one can have level set to INFO and thus produce valuable information for development and debugging.

Second part of this would be to introduce new argument (`--machine-readable`?) which would turn the machine readable output on.

That would enable us to keep the output clear for normal user but still provide an easy

[2015-09-03 14:24] charliedrage commented on #186
+1 for another argument. or even if it's -v (verbose) which would be the machine readable logging and then -vv (very verbose) for all that nitty gritty dev logging.

[2015-09-03 19:28] #171 closed

[2015-09-03 19:31] goern commented on #256
hmm why aint this closed by #255 ? github? hello?

[2015-09-03 19:31] #256 closed

[2015-09-04 06:51] vpavlin commented on #238
Because then this https://github.com/projectatomic/atomicapp#developers wouldn't work. OTOH it could probably be easily fixed by changing

[code]

to

[code]

[2015-09-04 16:37] charliedrage opened #259 "atomicapp run gives entire config, atomicapp stop ignores some config files"
I'm finding that when running atomicapp run it provides:

[code]

However, when you run atomicapp stop it only provides the parameters:
[code]

Thus, when trying:
[code]

in `providers/docker.py` or `providers/kubernetes.py` results in only the default name.

[2015-09-07 08:51] #238 closed

[2015-09-07 10:01] vpavlin commented on #247
### AtomicApp Core:
* Docker

### Providers
* Docker Provider
  * docker installed in the container
* Kubernetes Provider
  * kubectl either in container or in the `/host`
  * `/etc/kubernetes` either in container or in the `/host`
* OpenShift Provider
  * `oc` either in container oth in the `/host`
  * OpenShift config specified in the `answers.conf`

[2015-09-09 12:18] vpavlin opened #262 "Create nswpan provider"
systemd added support for nspawn config files in 226 release (currently only in Fedora Rawhide). These files could be used as artifacts and serve as a base for nspawn providers.

systemd is also able to pull and import images from Docker registries thus we can still rely on Docker as transport layers

References:
* http://lists.freedesktop.org/archives/systemd-devel/2015-September/034177.html
* ht

[2015-09-09 12:44] charliedrage commented on #259
closed. #260 fixes this :-)

[2015-09-09 12:44] #259 closed

[2015-09-09 18:17] charliedrage opened #264 "PROPOSAL: atomicapp stop method to docker provider && changes to atomicapp naming conventions"
See _PULL REQUEST_ for awesomeness!: #263

This PR implements atomicapp stop to the `docker.py` provider as well as propose changes to atomicapp deployment naming conventions.

# Problem statement
Currently, you cannot perform `atomicapp stop` to Docker containers deployed by atomicapp. In order for atomicapp to detect what has or hasn't been deployed, I am proposing a change to the __CONTAINER__

[2015-09-09 23:07] dustymabe commented on #264
Tested this out and things seem to work (at least on the surface). I was able to run helloapache and also change the namespace and port and start another instance of helloapache.

A couple of things that may or may not be related to this:

1. If I run `atomicapp -v stop --provider=docker projectatomic/helloapache` then it still downloads all of the artifacts to the current directory. If we need th

[2015-09-09 23:19] charliedrage commented on #264
@dustymabe

Thanks for the feedback! Here are my thoughts:

1. Because the name of the container may be in the artifacts file (and since we don't have a local build yet: `atomicapp install .`) it relates to point 2 of the change. Should we discourage having names within the artifacts and only keep it in the namespace?

2. Yup. It's normal for now until @aweiteka proposal for adding uninstall is ad

[2015-09-10 07:27] goern opened #265 "[PROPOSAL] implement docker-compose provider"
source: [Container-tools] Minutes from Tools Cabal Call Sep 8

   Ratnadeep suggestst to add Docker-compose, which should be simple, and
   also document the process so that others can work on adding providers

   Need to clearly articulate how do do so, that's probably more important
   than adding Docker-compose itself.
   Is the issue about the provider APIs closed ? Should probably go first.

[2015-09-10 07:47] rtnpro commented on #265
Implementing docker-compose should be pretty straigt forward. I see following steps involved:
- Render docker compose YAML file
- Run the rendered docker compose YAML file using docker-compose command
- Using the same docker compose YAML file, stop the services.

As mentioned above, this is more of a reference implementation of a provider, so that we can document the process to create a new provid

[2015-09-10 12:45] stefwalter opened #266 "Allow passing kubeconfig to kubernetes provider"
Real world kuberenetes is configured with authentication, multi-master, and all sorts of pixie dust. The kubernetes provider should accept a kubeconfig parameter in the ```answers.conf``` to which callers can pass a kubeconfig format file (ie: ```~/.kube/config```) so that kubectl running under atomicapp can find and authenticate against kubernetes.

[2015-09-10 12:45] stefwalter commented on #266
https://github.com/projectatomic/atomicapp/blob/master/atomicapp/providers/openshift.py#L58

[2015-09-10 12:54] dustymabe commented on #59
@goern should we close in favor of https://github.com/projectatomic/atomicapp/issues/75

[2015-09-10 12:58] vpavlin commented on #266
The command line option is `--kubeconfig="" ` otherwise the code should be the same as for OpenShift...

Maybe the general option like `providerconfig` in `answers.conf` would make sense

[2015-09-10 17:12] dustymabe commented on #264
@charliedrage

1. I think we should discourage having names within the artifacts. @goern might have a better opinion though.
1. Is uninstall the same thing as remove? I think of uninstall as remove artifacts and images but that doesn't necessarily mean the containers that are no longer running will get cleaned up?
1. Agreed.

[2015-09-11 07:15] vpavlin commented on #264
@dustymabe @charliedrage
1. Yes! I completely agree with discouraging using `--name`, BUT at the same time I would like to strongly discourage us from changing the name if it's already there. I'd like to see a warning saying something like: "Don't use --name, you fool!" :) And maybe even explaining why is it bad, but we definitely shouldn't touch the names which are defined. Here is why...

[code]

[2015-09-11 14:15] charliedrage commented on #264
@vpavlin you're right, but at the same time isn't linking currently discouraged due to atomicapp not handling artifact ordering and the reason for @rtnpro 's Docker compose request?

[2015-09-11 14:40] vpavlin commented on #264
Atomic App does the ordering although not explicitly.

1. go through `graph`
2. is the component external?
  1. create new atomic app, go to 1.
  2. return
3. if the component is not external, run provider

Ordering is there - containers are started as specified in graph and artifacts. But, there is an information disconnection between components.

So linking is not discouraged, it's just very, ve

[2015-09-11 15:56] vpavlin opened #269 "Add "How to test" to Contribution guide"

[2015-09-11 16:03] vpavlin opened #270 "Update test-requirements.txt"
I assume `test-requirements.txt` should cover all what is needed to test Atomic App, however if I look at `.travis.yaml` few deps are missing in `test-requirements.txt`.

[2015-09-11 16:20] charliedrage commented on #264
@vpavlin cleaned up the proposal and PR to match what we discussed here + IRC

[2015-09-14 11:12] #270 closed

[2015-09-14 11:13] #269 closed

[2015-09-15 14:27] charliedrage commented on #262
@vpavlin
Similar to the rkt (coreos rocket) implementation I'm working on. Since currently they do not provide any daemonized support, it's going to be using systemd for running / stopping containers.

[2015-09-16 13:04] cctrieloff commented on #142
For reference:

https://docs.google.com/document/d/17LVMS7vLaLbhfFeVenlcChsGWjBOmw1B44I63j7Sf1k/edit#heading=h.y9ygf9v7vdie

[2015-09-16 13:10] charliedrage commented on #142
@cctrieloff can you make the file public?

[2015-09-16 14:15] vpavlin commented on #145
This is needed for proper `docker-compose` provider

[2015-09-16 15:13] ggallen opened #272 "Example program redis.sh fails with kubernetes provider."
I get the following error when trying to run the redis example program with kubernetes:

    2015-09-16 12:23:10,462 - kubernetes - INFO - Undeploying from Kubernetes
    2015-09-16 12:23:10,462 - kubernetes - DEBUG - /atomicapp/.workdir/redismaster-app/artifacts/kubernetes/redis-master-controller.json
    2015-09-16 12:23:10,463 - kubernetes - DEBUG - /atomicapp/.workdir/redismaster-app/artifacts

[2015-09-16 15:39] vpavlin commented on #272
Not a bug in atomicapp - it's caused by this change https://github.com/projectatomic/nulecule/commit/7224bb82e6638cf50466803601ca3ab79d4248d6

AtomicApp is already fixed IMO, but we need the fixed version to be released..

[2015-09-16 15:46] dustymabe commented on #272
data["id"] was removed by this commit https://github.com/projectatomic/atomicapp/commit/2a0e18c43b891c428d97ff9a2ab543728fcbf0b7

[2015-09-16 15:57] ggallen commented on #272
So how can we get this released?

[2015-09-16 17:14] ggallen opened #273 "Kubernetes pod never leaves pending state when running mariadb app."
This should be easy to reproduce.

1. Start kubernetes services.
2. Run "atomic run projectatomic/mariadb-centos7-atomicapp"

After the run the kuberetes pod never leaves the pending state:

    [root@dhcp-41-217 atomic-test]# kubectl get pods
    NAME      READY     STATUS    RESTARTS   AGE
    mariadb   0/1       Pending   0          14m
    [root@dhcp-41-217 atomic-test]#

There may have been a

[2015-09-16 17:23] dustymabe commented on #273
This is most likely the resource issue. The number in this line
https://github.com/projectatomic/nulecule/blob/master/examples/mariadb-centos7-atomicapp/artifacts/kubernetes/mariadb-pod.yaml#L7 should not be 100 but something like 100m.

[2015-09-16 17:29] ggallen commented on #273
Changing it to 100m did work.

Now how can this get fixed and packaged so I can pick it up?

[2015-09-17 11:38] rtnpro opened #276 "Convert global params in Nulecule to dict from list during loading params"
## Problem
Although the current code base, theoretically, allows handling ``params`` at the root level of a Nulecule file, we do not convert global params list to dict before calling:
https://github.com/projectatomic/atomicapp/blob/master/atomicapp/nulecule_base.py#L193.

As a result call to ``Utils.update`` breaks.

## Solution

Converting global ``params`` to ``dict`` using ``nulecule_base.Nulec

[2015-09-17 14:10] goern commented on #136
@vpavlin ping?!

[2015-09-17 14:13] goern commented on #75
@aweiteka didnt we do that via namespaces?

[2015-09-17 14:14] goern commented on #59
@vpavlin ping?

[2015-09-17 14:14] goern commented on #41
@tkdchen ping?

[2015-09-17 14:15] cctrieloff commented on #22
Cockpit does this for us, that use case should be expanded for this

[2015-09-17 14:37] vpavlin commented on #59
This is fixed by https://github.com/projectatomic/atomicapp/pull/267

[2015-09-17 14:37] #59 closed

[2015-09-17 15:11] charliedrage commented on #264
Merged :tada:

[2015-09-17 15:11] #264 closed

[2015-09-17 19:30] ggallen commented on #273
Any idea when this fix will be generally available?

[2015-09-17 19:32] ggallen commented on #272
Any idea when this fix will be generally available?

[2015-09-18 09:46] #266 closed

[2015-09-18 09:51] #276 closed

[2015-09-18 10:04] goern commented on #273
I'll prepare a Atomic App 0.1.10 release on Monday, therefor hold any further merging of pull requests.

@vpavlin @aweiteka

[2015-09-18 12:05] goern commented on #272
w/ Atomic App 0.1.10 on Monday... ;)

[2015-09-18 16:58] charliedrage commented on #257
Relates to #275

Refractors tests into separate folders + classes. Ex. Gitlab CLI deployment test

[2015-09-18 17:01] charliedrage commented on #222
@aweiteka with #278 as well as the kubernetes config passthrough command, are we safely abelt to implement this now?

[2015-09-18 17:02] charliedrage commented on #220
Are you still blocked @ggallen by this?

[2015-09-18 17:06] charliedrage commented on #170
@aweiteka Similar to openshift / docker compose templates, I'm assuming passing a playbook with http://docs.ansible.com/ansible/docker_module.html added and having atomicapp deploy it?

[2015-09-18 17:09] charliedrage commented on #134
@goern no more REST api due to cockpit integration correct?

[2015-09-18 17:48] vpavlin commented on #134
REST API is still in plan, but I don't think it's high prio right now.

[2015-09-21 23:55] ggallen commented on #220
I do not believe this is blocking me any more.

[2015-09-22 09:15] #273 closed

[2015-09-22 09:15] #272 closed

[2015-09-22 09:16] goern commented on #248
@vpavlin ping

[2015-09-22 09:17] #220 closed

[2015-09-22 13:21] ggallen opened #280 "Missing config file error (~/.kube/config) in 0.1.10."
I am getting the following error whenever I run with 0.1.10:

    2015-09-22 10:19:03,012 - kubernetes - INFO - trying kubectl at /host/usr/bin/kubectl
    2015-09-22 10:19:03,012 - kubernetes - INFO - found kubectl at /host/usr/bin/kubectl
    2015-09-22 10:19:03,012 - atomicapp.utils - INFO - atomicapp.status.error.message=Cannot access configuration file ~/.kube/config. Try adding 'providerconf

[2015-09-22 14:32] aweiteka commented on #280
Sounds like these tests need to gate our commits AND alert us when a new component release breaks our app. The second piece is complex but many dependencies there are.`</yoda_speak>`

[2015-09-22 14:38] vpavlin opened #281 "Don't use sudo in provider"
See: https://github.com/projectatomic/atomicapp/blob/master/atomicapp/providers/docker.py#L66

and

[code]

[2015-09-22 14:42] aweiteka commented on #280
@vpavlin I would avoid saving to pwd if at all possible. People really dislike this experience. If it's a hidden dir and pwd is under source control then they may carelessly commit stuff. There's also the root ownership issue that makes it a pain to clean up.

Could we pass in options to kubectl so it doesn't fail? If we must provide a config file then writing to a tmpdir every time is pretty chea

[2015-09-22 14:46] aweiteka commented on #222
@charliedrage I don't think there was anything blocking this work. It may work as desired. I need to review how things work today with templates and see if it matches use case 2.

[2015-09-22 15:15] vpavlin commented on #280
@aweiteka Although I agree with you, I think we need to solve it systematically - like never writing to $PWD but rather to `/host/tmp` or to specified dir. That said, I think it's safe to write to `$PWD` which will later become writing to `/host/tmp` when we fix that long running issue..

[2015-09-23 07:04] #281 closed

[2015-09-23 07:37] goern opened #285 "document/extend placeholder file handling doc"
origin: #229 file handling doc needs to be written.

[2015-09-23 12:01] TomasTomecek commented on #252
Why?

Since you are accessing docker daemon, you don't have much options here. User namespaces will help here a lot -- `root` in container would become `arbitrary_user_with_no_privileges` on host.

[2015-09-23 12:54] ggallen commented on #280
So it looks like there is a fix for this issue.  When will it be generally available?

[2015-09-23 13:14] goern commented on #280
I hope to find some time to release 0.1.11 tonight if fixed..

[2015-09-23 13:14] aweiteka commented on #252
@TomasTomecek yes, that would be great. Do you have a sense when this feature will land?

This brings up an issue I've been considering: running an atomicapp from within OpenShift will be difficult to test due to root user not being allowed by default. See https://docs.openshift.org/latest/creating_images/guidelines.html#openshift-specific-guidelines  There are some workarounds. We can discuss in

[2015-09-23 13:14] jasonbrooks commented on #280
When we're testing atomicapp & kube, how/what are we generating the .kube/config file?

[2015-09-23 13:33] #280 closed

[2015-09-23 14:08] vpavlin commented on #280
@jasonbrooks We haven't generated it so far, but Cockpit asked for ability to pass config to kubernetes provider. That said kubernetes provider  requires config now and if it's not provided by a user, it will be generated by calling

[code]

and saving the content. That will obviously work only in case kubernetes is accessible without config and will fail in all other cases.

[2015-09-23 15:19] jasonbrooks commented on #280
Great, thanks!

[2015-09-23 18:02] vpavlin commented on #192
I stared looking at this although the format and spec in projectatomic/nulecule#70  is not set in stone yet.. but I ran into a problem even before I really started..

[code]

well, there obviously is a JSON object, but it's not valid because

[code]

notice the `$hostport` variable is not neither `int` nor it is quoted which is unacceptable for the parser:/

That basically means we cannot combine

[2015-09-23 18:08] aweiteka commented on #192
Ugh. Use a substitution mode flag that the developer sets so we know the intent?

[2015-09-23 18:14] vpavlin commented on #192
Notes from irc conversation on #nulecule

[code]

[2015-09-24 08:06] TomasTomecek commented on #252
@aweiteka
Looks like user namespaces could land into 1.9 https://github.com/docker/docker/issues/15187 https://github.com/docker/docker/pull/12648

I didn't know that. I guess that you can use custom build strategy for now.

[2015-09-24 13:50] charliedrage opened #289 "Using the docker python API"
I am opening this issue to have a discussion about the Docker python API (https://github.com/docker/docker-py)

Should we add this as another library to atomicapp, which would make talking to the localhost Docker easier / more programmatic? Or do we stick to the subprocess commands?

This would help #248 #263 (which was previously discussed) and helped #265

[2015-09-24 13:54] dustymabe commented on #289
I would be +1.. but this would be one more external dependency we would carry.

[2015-09-24 14:54] charliedrage commented on #155
@dustymabe yup, I will work on this, previous version borked since I introduced a change to add VERSION to the app directory

[2015-09-24 15:15] goern opened #290 "document the behavior of `atomicapp verbs` and the states an atomicapp may have"
beautify https://etherpad.mozilla.org/QS0TSJaPhY

[2015-09-24 15:54] dustymabe commented on #247
Is this taken care of by @vpavlin's comments? Can this be closed or assigned?

[2015-09-24 16:05] goern commented on #247
ja, DV, could you figure out if we need to track that RH-internal somewhere or just leave that as part of the doc here?

[2015-09-24 20:12] dustymabe commented on #290
I created https://gist.github.com/dustymabe/2b8920b28561871a256e. I will create a secondary proposal for `status` since I think they can be kept separate.

[2015-09-24 20:20] dustymabe opened #291 "Future Feature: atomicapp ps or atomicapp status"
We discussed in a meeting today that it would be nice to have a command to run to view all of the atomicapps that have been deployed in a running system. This could be "discoverable" or it could use a known location for atomicapp artifacts directories (like `/var/atomicapp/` if we chose to use that) to find information about atomicapps from the directories they were launched from and then query th

[2015-09-25 09:56] goern commented on #182
closed by #263

[2015-09-25 09:56] #182 closed

[2015-09-25 23:45] jasonbrooks opened #293 "version 0.1.11 -- Namespace with name default already deployed in Docker"
The "running kube in docker containers" example that I wrote up in [this blog post](http://www.projectatomic.io/blog/2015/08/fun-with-kubenetes-and-atomicapp/) isn't working with the 0.1.11 atomicapp release. It's getting stuck on the part of the app that runs the kube master:

[code]

I'm getting the error below:

[code]
I tried also w/ 0.1.10, and didn't hit this issue w/ that version.

[2015-09-26 13:35] charliedrage commented on #293
Hmm. Odd that it was added 0.1.11 but still works 0.1.10. There was only
one patch between then?

I'll take responsibility for this issue and see what the fix is.

The "running kube in docker containers" example that I wrote up in this
blog post
<http://www.projectatomic.io/blog/2015/08/fun-with-kubenetes-and-atomicapp/>
isn't working with the 0.1.11 atomicapp release. It's getting stuck on the
pa

[2015-09-26 17:22] vpavlin commented on #293
@jasonbrooks Can you please provide `docker ps -a` output?

[2015-09-27 02:59] charliedrage commented on #293
@jasonbrooks
so, the issue is that when deploying multiple docker containers without any names in the docker artifacts, it will use the namespace within `answers.conf`

The docker provider / kubernetes base should determine if multiple artifacts are listed and if so, generate the uuid uniquely for each deployment.

[2015-09-28 16:59] jasonbrooks commented on #293
@vpavlin

[code]

[2015-09-28 21:19] charliedrage opened #294 "Nomad provider"
Nomad was announced today and it looks :sparkles: *awesome* :sparkles: https://www.nomadproject.io/

Let's get this implemented as well.

[2015-09-29 08:14] goern opened #295 "RFE: openshift: automatically create a routeConfig from a prameter"
As a deployment guy,
I want use the OpenShift provider for deployment,
and I want the OpenShift provide to automatically create a OpenShift Route from a parameter
so that the services deployed are reachable via a given (parameterized) FQDN
constraint, mutex: there must be no route config within the set of artifacts

[2015-09-29 08:15] charliedrage commented on #293
@vpavlin
This is a problem with running multiple artifacts in the same folder with the docker provider naming conventions.

Essentially, the way that atomicapp deploys each artifact, it checks `docker ps -a` again every-time, which it shouldn't.

I'll push a PR of this ASAP so the example works again.

[2015-09-29 08:16] goern opened #296 "doc: patterns for using Nulecule Spec"
As an ISV,
I want to package my application according to the Nulecule Spec,
so that it can deploy a 'organization wide' or a 'per team' application.

We need to document these two categories of application packaging pattern. And propose a way how to do it using Nulecule/AtomicApp.

[2015-09-29 09:39] charliedrage opened #297 "answers.conf.sample generated with atomicapp gitlab test"
Whenever 'python -m pytest -vv' is used, answers.conf.sample is created and not destroyed after. Annoyingly, you'll have to remove the file before doing a `git add .`

[code]

[2015-09-29 09:57] charliedrage commented on #297
fixed by #298

[2015-09-29 09:57] #297 closed

[2015-09-29 14:25] aweiteka commented on #191
@sub-mod could you provide an update to this? Since it's a cockpit dependency could you own this task?

[2015-09-29 14:35] aweiteka commented on #166
Closing

[2015-09-29 14:35] #166 closed

[2015-09-29 14:38] navidshaikh commented on #114
I can take this, please assign.

[2015-09-29 14:45] aweiteka commented on #75
@vpavlin please reference your provider config work.

[2015-09-29 14:47] #75 closed

[2015-09-29 14:47] vpavlin commented on #75
Closed by #267

[2015-09-30 09:32] goern commented on #174
proposed solution to this issue it to let atomicapp execution gracefully die and make a 'please update' statement to the user/deployment.

[2015-10-01 08:19] goern opened #301 "write a doc on how to write a provider"
Publish a documentation on how to wirte an Atomic App provider (for example for docker-compose). It should be part of this repository and be published on projectatomic.io/blog

[2015-10-01 08:24] charliedrage commented on #293
@jasonbrooks just opened a PR for this fix. :+1: simple fix

[2015-10-07 16:53] #293 closed

[2015-10-08 15:37] dustymabe opened #306 "atomicapp install prompts user for answers to questions"
This shouldn't happen. It is related to a change made in 931740f.

[2015-10-08 15:47] dustymabe commented on #306
Just for reference this happens with atomicapp 0.1.11. You can see this by simply typing `atomic install projectatomic/mariadb-centos7-atomicapp` and seeing that you get prompted.

[2015-10-09 12:37] #306 closed

[2015-10-09 20:05] dustymabe commented on #290
This has been documented.. I have opened a PR but we will not merge until after beta-3.

[2015-10-09 20:07] dustymabe commented on #142
I think this will be taken care of by PR #278. It should be merge shortly and we can confirm before beta-3.

[2015-10-09 20:07] dustymabe commented on #136
I think this will be taken care of by PR #278. It should be merge shortly and we can confirm before beta-3.

[2015-10-12 08:22] rtnpro opened #309 "Refactor atomicapp command line arguments"
# Issues
1. ``dry-run`` does not make much sense when used with ``install`` command.
1. ``-a``/``--answers`` does not make sense in case of installing an application, but only during, ``run``. It also does not make much sense in case of ``stop``, as ``stop`` should reuse configuration used during ``run``.

# Proposed solution
1. ``dry-run`` argument can be moved from ``atomicapp`` command to ``run

[2015-10-12 09:01] rtnpro opened #310 "Saving atomicapp run config for reuse during stop"
# Problem statement

Currently, whenever we try to run a nulecule application using atomicapp, it tries to read configuration data from ``answers.conf`` if specified/available. During run, when it discovers, params with missing values, it asks the users for data, and runs the nulecule application. But, it does not save the data asked from the user for reuse during ``stop``. So, ``stop`` command fo

[2015-10-12 10:21] rtnpro commented on #193
@aweiteka @jasonbrooks would exposing ``/etc/kubernetes`` from the kubernetes container to the host solve this problem? Or, do you see room for some more elegant solution?

[2015-10-12 12:49] vpavlin commented on #309
1. `dry-run` for install was added quite late and it had a reason, though I am not sure what that was and I can't find the issue where it was requested. But I agree, the main value dry-run has is for `run` and `stop`.
2. This is related to https://github.com/projectatomic/atomicapp/pull/278#discussion_r41630905 - currently, yes, answers are not useful for install. I agree we can move it to `run` s

[2015-10-12 12:51] vpavlin commented on #310
I am definitely in favour of saving the data provided by user by default - `answers.conf.gen` ?

But I don't really understand how would `.atomicapprc` file work. Where would it be written?

[2015-10-12 13:04] rtnpro commented on #310
@vpavlin ``answers.conf.gen`` sounds good to me. I was planning on saving ``.atomicapprc`` in the current app directory, with other metadata (I don't know what) in addition to ``answers`` data.

[2015-10-12 13:44] dustymabe commented on #310
`answers.conf.gen` or `answers.conf.lastrun` sounds good to me. I think it would also be useful to have a file that contained some "state" information in it. My initial thought on state information is that it would simply hold the name of the last command that was run.. i.e 'fetch, install, run, stop, uninstall'.

[2015-10-12 14:02] rtnpro commented on #310
@dustymabe

Merlin's beard! Those were the extra metadata: state, etc in ``.atomicapprc`` in addition to ``answers`` data.

[2015-10-12 14:08] dustymabe commented on #310
ok. I don't like `.atomicapprc` for a name though. To me an *rc* file is one that a user modifies to adjust behavior of the application but the application itself never modifies the file. Think `.vimrc`, does vim ever modify the contents?

[2015-10-12 14:15] vpavlin commented on #310
Yeah, it should definitely be named differently: http://stackoverflow.com/questions/11030552/what-does-rc-mean-in-dot-files :)

Something like `.atomicapp/rundata`?

[2015-10-12 15:08] sub-mod opened #311 "atomicapp unable to check symblink location /host/bin/oc"
when running atomic run APP command below code doesnot check if oc is symbolic link
https://github.com/projectatomic/atomicapp/blob/master/atomicapp/providers/openshift.py#L47
It only checks if it is file
Need to implement a custom method where we check for symblinks too
[code]

[code]

[2015-10-13 09:25] sub-mod commented on #311
needed for https://github.com/cockpit-project/cockpit/pull/2921

[2015-10-13 13:08] charliedrage commented on #310
I agree with @vpavlin, have something within .atomicapp for the current user. Would be nice and tidy to keep track of all data there.

Now, should we use a YAML or JSON structure within it? I assume YAML since that's what most of us favor right now.

In the future, I would like to also see .atomicapp/config so we can override any default installation values (ex. always using docker as a provider,

[2015-10-13 14:37] charliedrage commented on #247
@veillard ping

Do we need to update anything upstream / RH-internal for atomicapp requirements?

Have added PR #313 for documentation.

[2015-10-13 17:23] rtnpro commented on #310
@charliedrage :+1:

[2015-10-14 08:28] sub-mod commented on #311
fixed in https://github.com/projectatomic/atomicapp/pull/312

[2015-10-14 08:28] #311 closed

[2015-10-14 10:50] sub-mod commented on #311
@goern @vpavlin fyi

[2015-10-14 13:36] dustymabe opened #317 "change 'APP' variable for passing information from CLI to Nulecule Base"
It has different meanings at different times and I feel like `APP` doesn't correctly reflect what it could be. From one of the descriptions for one of the args:
[code]

All caps also indicates to me that it's a constant.. when it really isn't.

[2015-10-15 09:10] vpavlin opened #319 "Remove running components if one component fails"
In case you have f.e. 3 components and 2 start successfully and one fails you are in a weird state where you cannot run again.

This should be quite easy after #278 is merged.

[2015-10-15 11:51] goern opened #320 "setup Continous Integration Test for Atomic App and it's Uber-Example"
Set up an end to end integration test:
1. spin up a new ADB VM
2. atomic install wordpress
3. put an answers.conf in place
4. atomic run wordpress
5. use curl to check if wordpress install wizard is available

If tests fail, send notification to #nulecule on freenode.

[2015-10-15 12:07] aweiteka commented on #320
Would this be the vagrant box? The automation I'm familiar with typically runs on openstack. An AWS/GCE provider might be the best env to test vagrant boxes.

[2015-10-15 12:23] goern commented on #320
ja, thats `vagrant init atomicapp/dev && vagrant up`

[2015-10-15 13:07] vpavlin commented on #320
CentOS CI runs on bare metal, so vagrant should be ok...basically what @goern described is

[code]

[2015-10-15 13:16] aweiteka opened #321 "OpenShift Integration support"
To make atomicapp work on OpenShift we need to change the way remote atomic apps are pulled in. This primarily means eliminating calls to docker, replaced by a call `oc new-app`. See high-level proposal image.

![](https://docs.google.com/drawings/d/13mfTkxv_M3jM6WMsgpJtoKkX4nuVuTPcPSfsebN3qKA/pub?w=884&h=320)

[2015-10-15 14:30] charliedrage opened #323 "Issue with mariadb test, not running dryrun in external artifact"
When running the test, seems that we are first getting an invalid artifact file, then when running the external artifact --dryrun isn't initializing.

[code]

[2015-10-15 15:20] charliedrage opened #325 "Docker stop issue && missing Nulecule file"
[code]

--dry-run does not work either

[code]

[2015-10-15 16:16] dustymabe commented on #325
@charliedrage this is because 'stop' is assuming that you are passing to it a directory where all of the unpacked files are for the Atomic App.

We should probably allow this as well as it is what I used in the past because I didn't know you could pass a directory.

Maybe: `if APP matches an image name, then check cwd to see if unpacked files live there and use them`

[2015-10-15 19:07] charliedrage commented on #325
@dustymabe One of the PR's is suggesting that we pass along a .gen or an .atomicapp/gen file with an array / list of all deployed applications. If/when we do that, we wouldn't require to pass the __dir__ correct?

[2015-10-15 20:06] #289 closed

[2015-10-15 20:06] charliedrage commented on #289
Going to close this for now and re-open a later date. At the moment there is not enough complexity yet to warrant using the Docker python API.

[2015-10-16 02:22] dustymabe commented on #325
I think the idea is that the variables from the last time the app was run will exist in a .gen file and then stop will see that and use it to determine what it needs to stop. You would still need to pass it a directory (or use the cwd) so the .gen file could be found.

[2015-10-16 04:34] coolsvap opened #326 "pep8 error in atomic/install.py"
pep8 fails with following error

pep8 runtests: commands[0] | flake8
./atomicapp/install.py:149:14: W503 line break before binary operator
ERROR: InvocationError: '/home/skulkarn/Code/atomicapp/.tox/pep8/bin/flake8'

[2015-10-16 07:23] #326 closed

[2015-10-16 14:32] charliedrage opened #331 "Different set of config data passed from NuleculeBase config to providers."
atomicapp master:
[code]

[2015-10-16 14:55] dustymabe opened #332 "Should ordering matter for options?"
We have had discussion about our strict ordering for optional arguments: i.e. if it is a global option then it must go before the "verb", if it is a specific option then it must go after the verb. Some of us would rather not have ordering for options, which we think is reasonable as long as the number of global arguments doesn't get to be too many.

Let's revisit this after beta3.

[2015-10-16 15:04] dustymabe commented on #331
@rtnpro - I'm interested in your take on this.

[2015-10-16 15:11] charliedrage commented on #331
__UPDATE__

Seems it was a testing error for configuration. Either way, still want to discuss whether we want to pass the entire configuration to provider.

[2015-10-16 15:12] dustymabe commented on #310
instead of `.gen` what do you think about `.lastrun` ?

[2015-10-16 15:26] rtnpro commented on #331
@charliedrage
Can we use ``get_context()`` to supply normalized config data to a provider?
Usage: https://github.com/projectatomic/atomicapp/blob/cdk2-beta3-rc1/atomicapp/nulecule/base.py#L276
Code: https://github.com/projectatomic/atomicapp/blob/cdk2-beta3-rc1/atomicapp/nulecule/lib.py#L49

Will the above solve this issue?

[2015-10-16 15:33] charliedrage commented on #331
@rtnpro Yup, that will.

We will however have to change the Nulecule spec to conform to this. We should label this issue for **after** GA / Beta-3.

[2015-10-16 15:33] rtnpro commented on #331
Agreed :+1:

[2015-10-16 16:30] charliedrage opened #337 "Not failing if provider config isn't provided."
Used projectatomic/helloapache and removed the Docker provider from `Nulecule` as well as the artifact.

Weirdly, this doesn't cause cdk2-beta3-rc1 to fail.

[code]

[code]

And nothing deployed ^^

As you can see, it *warns* you saying that providerconfig is not found, however, it does *not* fail. In comparison to atomicapp 1.11.

We *may* have to change how

[code]

works

[2015-10-19 13:46] charliedrage commented on #337
ping @rtnpro

[2015-10-19 14:46] charliedrage opened #339 "dry-run on kubernetes provider does not work"
[code]

__UPDATE__:

Actually, --dry-run on *anything* with `stop` doesn't work.
try `atomicapp -v --dry-run stop --provider=docker tests/units/cli/test_examples/helloapache`

[2015-10-19 15:10] charliedrage commented on #339
Okay, looks like I found what the issue was

[code]

incoming PR!

[2015-10-19 16:29] charliedrage commented on #323
Fixed by #329

[2015-10-19 16:29] #323 closed

[2015-10-19 16:31] charliedrage commented on #247
Requirement docs are merged, I believe that this issue is completed? Should this be closed?

[2015-10-20 11:08] kadel commented on #172
Wouldn't it be better to use providers API directly (if they have one) instead of relying on CLI clients?

[2015-10-20 11:54] rtnpro commented on #248
Fixed in https://github.com/projectatomic/atomicapp/tree/cdk2-beta3-rc1

[2015-10-20 11:54] rtnpro commented on #248
@dustymabe can you close this?

[2015-10-20 11:55] rtnpro commented on #145
Fixed in https://github.com/projectatomic/atomicapp/tree/cdk2-beta3-rc1

[2015-10-20 12:04] dustymabe commented on #248
Will close once code is merged to master.

[2015-10-20 12:43] rtnpro commented on #337
@charliedrage
I was looking at the code in the master branch, and seems like it's not supposed to break if provider config is missing. The issue here, if I am correct, is that nulecule ran instead of missing artifact files for provider, without throwing any error, right?

[2015-10-20 12:57] charliedrage commented on #337
Hey @rtnpro
It actually does break in the master branch and brings up a ProviderException error. Although it may have been a bug that was inherently a feature in the master branch >.>

Yup. The issue is that despite the docker artifacts being completely missing (or vice-versa if the kubernetes artifacts are missing) it won't throw any errors.

[2015-10-20 13:01] charliedrage commented on #339
fixed by #340

[2015-10-20 13:01] #339 closed

[2015-10-20 13:01] charliedrage commented on #325
I believe this bug is a combination of #340 and #337

[2015-10-20 13:26] aweiteka commented on #172
Yes, I think that would be a valid approach. The biggest issue might be tracking the API version.

I don't think the containerized client would be too hard to implement. If we provide a config key to specify the client image we could simply run the container. We would need to consider how provider artifacts are passed into the container.

[2015-10-20 20:25] dustymabe opened #347 "do we still need to generate kubeconfig files"
We started generating a kube config file for https://github.com/projectatomic/atomicapp/issues/280 because it looks like kubernetes would complain if ~/.kube/config didn't exist. It no longer complains about this (in latest kubernetes in Fedora and CentOS). Should we drop this error prone behavior?

Here is some audit output from me running kubectl get pods on my machine:
[code]

As you can see no

[2015-10-20 20:26] dustymabe commented on #347
@vpavlin Since you implemented #280 ^^

[2015-10-21 02:25] dustymabe commented on #247
I think this is done @goern ?

[2015-10-21 02:30] dustymabe commented on #192
@vpavlin is this done?

[2015-10-21 02:33] dustymabe commented on #135
@aweiteka you are still assigned to this issue. Does this issue change with the new information around our openshift strategy?

[2015-10-21 12:58] aweiteka commented on #172
@kadel I think you're right about the API in the near-term, especially for openshift since we currently don't have a model to run "sidecar" images in pods. I closed #336.

[2015-10-21 13:32] aweiteka commented on #321
Checklist:

- [ ] auto-detect openshift provider #346
- [x] add LABELs #334
- [ ] run as non-root (scope ASAP--openshift cannot run a container as root)
- [ ] enable client commands inside atomicapp container #336

[2015-10-21 14:46] goern commented on #247
closed by #313

[2015-10-21 14:47] goern commented on #247
closed by #313

[2015-10-21 14:47] #247 closed

[2015-10-21 14:49] aweiteka commented on #321
This work is to enable "phase 0"/PoC. Limitations:

- no support for remote apps or cascading nulecules
- no support for passing in params

We need to scope phase 1 to address these items for the MVP.

[2015-10-21 15:12] aweiteka commented on #135
@dustymabe see comment in #200

[2015-10-21 15:15] dustymabe commented on #135
@aweiteka ok, so should we close this issue for now and re-open later?

[2015-10-21 15:17] aweiteka commented on #135
Yes.

[2015-10-21 15:17] #135 closed

[2015-10-21 15:56] dustymabe opened #349 "Validation of Nulecule files within Atomic App"
Right now we don't validate that Nulecule files match the spec when we start an Atomic App. We should start validating them which will cause app devs to catch problems faster and consumers to detect corruption faster.

There is already a [nulecule validator](https://github.com/tradej/nulecule_validator) that exists that was written for Dev Assistant. We can leverage this and create a library out o

[2015-10-21 16:01] vpavlin commented on #192
I'll push my code tomorrow - it's not done yet, but it would be good if someone else can pick that up

[2015-10-21 18:06] dustymabe commented on #142
This is done by 7d4dbab. Will close once beta3 branch is merged to master.

[2015-10-22 13:00] rtnpro commented on #325
I think this should be fixed now.

[2015-10-22 13:07] charliedrage commented on #325
@rtnpro I think so too. I'll close once cdk2-beta3-rc1 is merged.

[2015-10-22 13:59] dustymabe commented on #143
Assigning to @rtnpro.

[2015-10-22 16:46] chipironcin opened #354 "Wrong autogenerated provider.config"
I have kubernetes installed.
I have my kubernetes cluster configuration in `~/.kube/config`
I have a Nulecule and ancillary files for my application.
I have an `answers.conf` file where I specify the provider should be kubernetes and the config file should be `~/.kube/config`
`atomicapp -a answers.conf run .` works
It creates a `provider.config` file
Doing `atomicapp -a answers.conf stop .` will t

[2015-10-22 18:30] dustymabe commented on #354
hi @chipironcin. so unfortunately you have confused the provider config with the answers.conf file. The answers.conf file is there to supply answers to questions that may be asked interactively to the user during deployment as well as to provide a few other config variables for atomicapp itself.

For supplying your own kubernetes config to kube then you should use the `providerconfig` variable wit

[2015-10-22 18:35] dustymabe commented on #354
@chipironcin can you give an absolute path to your provider config rather than the one with the `~` and see if that works.

[2015-10-22 19:33] dustymabe commented on #192
Assigning to @charliedrage. @vpavlin, once you push your code he will pick it up and run with it. He may have some questions along the way.

[2015-10-24 16:50] dustymabe commented on #347
Fixed by #348

[2015-10-24 16:50] #347 closed

[2015-10-26 09:29] chipironcin commented on #354
Let me try, thanks for reading this @dustymabe

[2015-10-26 12:50] chipironcin commented on #354
It do the same. It reads my /home/user/.kube/config file, deploy the application succesfully but creates a bad provider.conf. Then trying to stop I got the error:
[code]

Generated provider.conf and /home/user/.kube/config are not the same, althought it contains user, password, account, etc
Something to do with:
  - certificate-authority-data
  - client-certificate-data
  - client-key-data

[2015-10-26 13:52] charliedrage commented on #337
Closing. Thanks @rtnpro for the fix!

[2015-10-26 13:52] #337 closed

[2015-10-26 13:53] charliedrage commented on #325
Closing this since both issues have been fixed :)

[2015-10-26 13:53] #325 closed

[2015-10-26 13:55] cdrage opened #357 "Mesos provider?"
Has anyone had any experience with Mesos know if it's a viable provider compatible with `atomicapp`?

[2015-10-26 14:03] markllama opened #358 "Only one openshift template artifact processed"
When running an app with the OpenShift provider, if the app has more than one artifact (template), then only one is executed.

Debug logs indicate both are _processed_ but only a single __oc__ command is executed and only the components defined in them are created.

When the containers defined are combined in a single template, then the entire app is created.  If the containers are defined in two

[2015-10-26 14:04] markllama commented on #358
Note that both templates are "processed" but only the results from the second template are noted in the output from the oc command at the bottom.

[code]

[2015-10-26 14:07] markllama commented on #358
When the two templates are executed separately as __oc create -f <template_file>__ they successfully run the combined application, binding the mlb service to the database.

_NOTE:_ the autogenerated access variables must be provided explicitly

[2015-10-26 14:15] kadel commented on #357
Mesos has a little different architecture then other schedulers, so you need another scheduler (framework) on top of Mesos.
Probably most used one for scheduling Docker containers, and one I have experience with is [Marathon](https://mesosphere.github.io/marathon/).

Marathon has REST API, so it should not be hard to write provider for atomicapp.
I have plans to look into that, and start working o

[2015-10-26 14:17] vpavlin commented on #95
I'd like to raise the priority of this as I got couple of requests for AWS provider at LinuxCon and at Docker Meetup.

[2015-10-26 14:36] markllama commented on #358
This results in a working app: Note parameters provided to both so that generated parameters match.

# Create Database App
[code]

# Create MLB web app

[code]

[2015-10-26 16:58] dustymabe commented on #193
@rtnpro I don't think it is possible to bind mount a file that is inside the container to the host (or at least I don't think it is normally done with the docker cli).

@jasonbrooks this is an issue we are going to have to look at more deeply I am going to push this to the next milestone if that is ok.

[2015-10-27 17:07] charliedrage opened #363 "Weird error when running --dry-run on cdk2-beta3-rc1"
When not using the `cwd` it  errors out when running `atomicapp -v --dryrun run`

See below:

[code]

If I cd into the helloapache dir in `/var/lib/atomicapp` it works:

[code]

[2015-10-27 17:40] jasonbrooks commented on #193
I just tried this again, and got a different, but similar error. Creating `/etc/kubernetes` in my host (the VM configured w/ the vagrantfile above) allowed the process to continue. It's not a priority that this work, more a question of should this / why doesn't this work.

Does atomicapp have to run on a machine w/ an `/etc/kubernetes`? I've been running it on my kube master always, but have assum

[2015-10-27 17:54] dustymabe commented on #363
Looks like `load_from_path` in atomicapp/nulecule/base.py:107 is returning None for this case.. Should we be returning a blank nulecule object?

[2015-10-27 17:56] dustymabe commented on #193
@jasonbrooks right. I'll try to figure out why it's needed (or even if it's really needed) and get back to you.

[2015-10-27 18:36] dustymabe commented on #174
Fixed by #361.. Marking as done and will close when beta3 branch is merged.

[2015-10-27 18:38] dustymabe commented on #143
Fixed by #353. Marking as done.. Will close once beta3 branch is merged.

[2015-10-28 13:22] charliedrage commented on #363
I believe so. I'll assign this to moi and look into it.

[2015-10-28 13:49] dustymabe commented on #354
hey @chipironcin, i'm looking at this today. We recently deleted the code that creates a provider config as we don't think it's necessary anymore (kubectl doesn't complain if one doesn't exist). In the mean time if you want to stop by #nulecule on freenode we can chat about it as well.

[2015-10-28 16:30] rtnpro commented on #363
@charliedrage @dustymabe

I believe that we can just throw a ``NuleculeException`` when ``not os.path.exists(nulecule_path)``. If ``nulecule_path`` exists, we can just safely pass ``dryrun`` value to subsequent calls and let the underlying calls take care of ``dryrun``.

[2015-10-29 17:34] aweiteka commented on #321
Basic openshift `oc new-app <atomicapp_image>` is in origin 1.0.7.

[2015-10-29 18:49] aweiteka commented on #252
This has become a requirement for OpenShift running atomicapp natively. Here's how I think we can make this work:

1. Add `USER atomicapp` (or whatever--OpenShift prefers numbered users. See [documentation](https://docs.openshift.org/latest/creating_images/guidelines.html#openshift-specific-guidelines))
1. When running in OpenShift it will run as that user
1. Add docker run option `--user=root` to

[2015-11-02 15:54] dustymabe commented on #192
Implemented in https://github.com/projectatomic/atomicapp/pull/366. Marking as done for now.

[2015-11-02 16:15] LalatenduMohanty opened #371 "Not able to run atomicapp without python-setuptools"
I installed atomicapp (from epel-testing repo) and it did not run without python-setuptools. The details are at https://gist.github.com/LalatenduMohanty/9815537a243cd8fa2740

So I think we should add python-setuptools to the requirements.txt

[2015-11-02 21:02] dustymabe commented on #193
So I now understand this problem more. Basically our code that creates the symlink will try to create the symlink twice. In the code before we get into the place where it tries to create the symlink it basically looks something like this:

[code]

If there are multiple kube artifacts then this code gets run twice and `os.path.exists` will still return false if the path exists but is a broken symbo

[2015-11-02 21:03] dustymabe commented on #193
Note this will be handled by https://github.com/projectatomic/atomicapp/pull/368

[2015-11-02 21:15] dustymabe commented on #193
actually I take it back.. the right approach is just to not create the symlink in the first place if the target doesn't exist.

[2015-11-02 23:48] dustymabe commented on #354
@chipironcin can you try this with the `projectatomic/atomicapp:dev` container? this container uses the code from the new branch that we have that does not generate a provider config as we don't feel it is needed anymore. Also what platform are you running on so I can try to simulate the same setup?

[2015-11-03 17:58] #136 closed

[2015-11-03 17:58] #142 closed

[2015-11-03 17:58] #174 closed

[2015-11-04 00:50] dustymabe commented on #248
d172671 was merged to master in 90a1e94

[2015-11-04 00:50] #248 closed

[2015-11-04 00:50] dustymabe commented on #192
3a80dad merged to master in 90a1e94

[2015-11-04 00:50] #192 closed

[2015-11-04 00:51] dustymabe commented on #145
This work has been merged to master in 90a1e94

[2015-11-04 00:51] #145 closed

[2015-11-04 00:52] dustymabe commented on #143
f27123e merged to master in 90a1e94

[2015-11-04 00:52] #143 closed

[2015-11-04 00:52] dustymabe commented on #193
fixed in #368

[2015-11-04 00:52] #193 closed

[2015-11-04 07:15] kanarip commented on #62
[OpenShift specifies an attribute "volumeMounts"](https://github.com/projectatomic/atomicapp/blob/master/tests/units/cli/test_examples/wordpress-centos7-atomicapp/artifacts/openshift/pod.yaml#L25) to a container, which seems very much like what we need.

[2015-11-04 08:53] goern commented on #62
ja, OpenShift (more precisely Kubernetes) has a two fold concept:
1. there is a Persistent Volume Claim, that claim is issued by the application and can be generated out of a Nulecule file by atomicapp's openshift provider
2. that claim must be satisfied by a Persistent Volume, which is configured/provisioned by the platform administrator

Both must match, so a claim for 512Mi will be satisfied by

[2015-11-04 13:57] aweiteka commented on #321
@dustymabe the remaining items are these from above in priority order.

1. enable client commands inside atomicapp container via [API](https://docs.openshift.org/latest/rest_api/openshift_v1.html)
1. remote apps need to be called with `oc new-app <remote_nulecle_image>`, not docker.

[2015-11-04 16:40] chipironcin commented on #354
I think that would have solved the problem from root :)
I was using a specific version of `projectatomic/atomicapp` (last available, I think 0.1.3) because I had problems using `projectatomic/atomicapp:dev`
I was running it on Amazon EC2 Ubuntu instance.
As this has been solved  by not creating a provider config file, I think I can close this issue :)

Thanks for you support!

[2015-11-04 16:40] #354 closed

[2015-11-04 16:47] sub-mod commented on #332
+1
strict ordering add restrictions in atomic command
better to remove them

[2015-11-04 17:59] charliedrage opened #375 "Does not grab answers.conf info if working outside of answers.conf directory"
[code]

See line:
[code]

HOWEVER. When you run this in the same directory that it's installed, it's successful in finding it:
[code]

[2015-11-04 19:16] charliedrage commented on #375
__UPDATE__: Clarified that this is actually a _feature_ of atomicapp rather than a bug. A default provider should be provider in an answers.conf file in the same directory or --provider=docker passed.

[2015-11-04 19:25] #375 closed

[2015-11-05 15:08] dustymabe commented on #354
Thanks @chipironcin, let us know if you hit any other bugs!

[2015-11-06 20:35] cdrage opened #378 "You should be able to provide a default provider within Nulecule"
An issue that we're facing is that there is no way to assign a default provider __outside__ of the answers.conf.

If an Atomic App is packaged with only a Docker provider, by running `atomic run cdrage/testimage` the container by default will try to run k8s if no `answers.conf` is provided.

I propose we add (somewhere) to the Nulecule graph a default provider.

[code]

[2015-11-06 20:40] charliedrage commented on #363
Hey @rtnpro @dustymabe

In order for --dry-run to function correctly it must be passed the directory that is being analyzed.

I'll submit a PR in regards to erroring out and asking the user to provide the directory.

However, as per earlier discussion, should we be __deprecating__ `atomicapp -v --dry-run install projectatomic/helloapache`? Thoughts @rtnpro @vpavlin ?

[2015-11-06 22:32] dustymabe commented on #378
seems reasonable. @vpavlin @goern ^^

[2015-11-07 19:58] vpavlin commented on #378
IMO this should be added as a top level key - it is a "whole app" configuration. So something like:

[code]

Or we just create another section like `metadata`

[code]

Also, this is probably a spec change rather then just extension for Atomic App, so it should be a Nulecule repo issue:)

And last thing - provider choice is mostly on the user who deploys the app, not on the developer. If the app co

[2015-11-07 22:22] charliedrage commented on #378
@vpavlin I totally agree in regards to the provider choice being able to select a default. If there is only __one__ provider it should default to it, or if there are two providers that aren't k8s, then it should default to at least one of them.

[2015-11-07 22:24] cdrage opened #380 "If there's only one provider, provided, we should default to it."
^^

If we have only a _docker_ provider in the `/artifacts/` folder, we should default to it while deploying.

[2015-11-09 13:54] dustymabe opened #384 "0.2.1 - providing absolute path to answers.conf doesn't work"
We don't adjust for if we are running in a container or not.. We need to add /host on to the path if it is an absolute path.

[2015-11-09 13:56] dustymabe commented on #384
I am working on a PR for this.

[2015-11-09 16:30] rtnpro opened #385 "answers.conf.gen not getting all of the answers in it"
@dustymabe reported this, need to reproduce it.

[2015-11-09 18:43] vpavlin commented on #378
Can we also try to figure out which providers are available in the user's environment rather than hardcode this into an app?

[2015-11-09 18:54] aweiteka commented on #378
I agree this should be a global config, not in the graph. I would suggest it land in the metadata section, not as a first level item.

@vpavlin we have a start towards auto-detection in #346

[2015-11-09 19:01] dustymabe commented on #385
Basically it looks like the interactive user provided answers don't get propagated into the generated answer file if an answers.conf file is provided on the command line:

[code]

At this point provide username, password, and dbname. App will then be up and running. Notice that `answers.conf.gen` is pretty much the exact same as `answers.conf`, which means the interactive answers didn't make it in

[2015-11-09 19:17] #363 closed

[2015-11-09 21:55] #384 closed

[2015-11-10 14:37] rtnpro opened #389 "Stopping on Docker provider should remove the containers"
# Issue

Currently, stopping a Nulecule application on Docker provider just stops the running containers. If you have named your containers, an attempt to run the Nulecule application, for the second time, will fail because the names of the containers to be run will collide with the stopped containers from the previous run.

# Solution
Instead of just stopping the Docker containers, we should also

[2015-11-10 14:42] dustymabe commented on #389
So one thing about this is that we are planning to make other steps in the future (see https://github.com/dustymabe/atomicapp/commit/bacf8ac3eb0fdee7462199887bec3b5f74411312). I think the action of removing the containers would be part of another step (not stop).

Another thing is that we should really re-evaluate having "named" containers. If we need named containers for docker links then we coul

[2015-11-10 14:49] #385 closed

[2015-11-10 14:50] rtnpro commented on #389
Yes, cleaning up containers should go to a different step, and that's in our roadmap. However, this issue leaves the current user experience using Docker provider poor.

The main culprit for this issue is sharing to use hard coded names for docker linking. We have discussed in the past about some way to generate run time data when deploying artifacts, in this case, container ID, name, etc. This wo

[2015-11-10 14:54] dustymabe commented on #389
@rtnpro I'd say for now let's concentrate on beta3 testing/bugfix and revisit this subject next week. Sound reasonable?

[2015-11-10 15:50] rtnpro commented on #389
@dustymabe yeah!

[2015-11-10 17:50] charliedrage opened #390 "What's the need for the docker daemon / dependency?"
Been messing around with implementing an alpinelinux Dockerfile for reducing the atomicapp image size.

What's the need for the docker daemon running in our container / the entire package. Ideally, we only need the Docker binary for communication with the docker socket on the host.

My proposal is changing installing via yum/apt-get/etc. in favor of simply grabbing the binary.

[code]

Instead of:

[2015-11-10 22:13] aweiteka opened #391 "Extend tests for OpenShift provider"
We need provider tests and corresponding examples.

[2015-11-11 20:12] dustymabe commented on #390
So you are right in that we don't need all of the junk that the docker rpm brings in. Basically it brings in everything you need to run docker, but we only need to make client calls. If we want to continue having the docker client in the atomicapp base container then we would need to not install the deps.

- For now we can install the rpm with no deps (pending testing)
- In the future we can use d

[2015-11-11 20:13] dustymabe commented on #390
Either way, though, pulling the binary from something other than an rpm isn't going to be acceptable.

[2015-11-11 22:08] charliedrage commented on #390
Ah, I see the reasoning behind that, closing this issue ^^. Will make a case for Alpine linux later however since it comes down a 70mb docker image instead of 300+ (in the case of our Fedora image).

[2015-11-11 22:08] #390 closed

[2015-11-12 15:00] rtnpro opened #396 "Disable option to stop from a Nulecule image name"
In our new workflow, it does not make sense to stop a Nulecule application by it's container image name, neither does the code support that. All, we need to do is update the ``help`` doc for ``app_spec`` for stop command.

[2015-11-12 22:19] cdrage opened #397 "Changing namespace format to namespace_IMAGENAME_hashvalue"
When deploying an atomicapp it's namespace is commonly used as `default`. From our use cases as well as multiple examples that have appeared, many users are encountering  the issue of "this namespace is already in use" when deploying another example without a configured answers.conf file.

@dustymabe and I encountered these issues recently when working on a multi-inherited Nuleculized application.

[2015-11-12 22:50] dustymabe commented on #397
@charliedrage To be clear we are only talking about doing this if the user didn't provide "--name" in the docker run command. We can't change that right now because of docker links.

I like `NAMESPACE_IMAGENAME_HASHVALUE`. I don't know if I like making `atomicapp` the default namespace though. I like keeping it set as `default`, but I also like some indication that this is an atomicapp. Perhaps we

[2015-11-13 15:25] charliedrage opened #398 "Nested atomicapp applications error on the same namespace"
This semi-relates to issue #397

When using:
 - The Docker provider
 - A `atomicapp` container with inherited / nested `atomicapp` application
 - and.. all namespaces are default / not assigned

You encounter an error where you're unable to deploy the second inherited `atomicapp` application, ending up with a `this namespace is already in use` error.

This is due to the fact that you cannot assign

[2015-11-17 11:38] rtnpro opened #400 "Bring back install to destination from Nulecule metadata"
# Problem statement

Let's say, I have a local library of Nulecule apps, cloned from https://github.com/projectatomic/nulecule-library. I'd like to install/run an application from the library in my current working directory or workspace. I would not like to manually copy the metadata to my destination directory in order to use it.

[2015-11-17 14:49] dustymabe commented on #400
That would also require us to "know" a location of locally cached apps and automatically look for them. There is just too much magic involved with "detecting" what a user passed and what they actually mean from it.

Right now the user either passes the name of a container image where the metadata exists or a path to a directory where the metadata already exists (the target directory for the applic

[2015-11-17 16:20] charliedrage commented on #397
@dustymabe
only [a-zA-Z0-9][a-zA-Z0-9_.-] are only allowed in the image name.

For example, if we have centos/httpd:latest. What should we convert it as, centos-httpd-latest, centos.httpd.latest?

[2015-11-17 16:26] dustymabe commented on #397
I would go with dashes

[2015-11-18 15:32] charliedrage opened #407 "[epic milestone] Switching to provider's API rather than direct command line."
So we're changing Openshift from running the command to communicating to the API #321.

We are also adding Mesos that's _also_ talking via the API #392

We should do the same with __Docker__ as well as __Kubernetes__. Sure, it'll add a lot more dependencies, but this gives us *a lot* more freedom for manipulation as well as error-checking / testing.

[2015-11-18 16:04] markllama opened #408 "[RFE] Auto-generate parameter values"
As an atomicapp developer
I would like to be able to define some parameters which are autogenerated from a pattern
So that I can avoid having to provide values which are only used to connect two containers.

Example:

When creating internal only databases, the database server and consumer must agree on username/password or client/server certificates, but the precise values are unimportant because

[2015-11-18 16:21] luebken opened #409 "Error when starting the helloapache app"
I've build a simple atomic app from `nulecule-library/helloapache`
[code]
When I start atomic via the `projectatomic/atomicapp` image and started it and get this error:
[code]

when I sh into the image to start docker directly I get:
[code]
the version:
[code]

[2015-11-18 16:23] dustymabe commented on #409
@luebken Are you on Fedora 23? This may be your issue: https://bugzilla.redhat.com/show_bug.cgi?id=1278984

[2015-11-18 17:56] luebken commented on #409
No I'm on a Mac. ;-)

[2015-11-18 17:59] luebken commented on #409
And I get the impression that this whole setup is not working on a Mac. When I go down the `pip install` route described [here](https://github.com/projectatomic/atomicapp#install-this-project) I lots of errors.

[2015-11-18 18:54] dustymabe commented on #409
hi @luebken. are you trying to run directly on a mac or inside of a linux virtual machine? We have a vagrant virtualbox box that you can use on a mac if you'd rather try that: https://github.com/projectatomic/adb-atomic-developer-bundle

also, dropb by #nulecule on freenode if you have questions

[2015-11-18 19:44] luebken commented on #409
@dustymabe thanks for the pointer. I was trying directly on a Mac with docker-machine and virtualbox. I guess for now a pointer in the [readme](https://github.com/projectatomic/atomicapp/blob/master/README.md) would be great.

As a total Python noob I made some changes and got it running: https://github.com/luebken/atomicapp/tree/mac-fix

Note: This branch is just for documenting my changes it is

[2015-11-18 20:07] kanarip commented on #408
@markllama absolutely +1.

Asking for input on passwords to be used for a variety of service account credentials is cumbersome for the user, and potentially prohibitively expensive.

One case in point is my lather-rinse-repeat development Makefile, in which my run target specifically [sets all passwords to the same value](https://github.com/kanarip/kolab-atomicapp/blob/0d6f0a7209dbfd20d9d8ae9b32fe

[2015-11-19 13:55] aweiteka commented on #407
+1

[2015-11-19 14:19] aweiteka commented on #378
From an end-user perspective I think this scenario validates this as long as we can override the default via answers/cli opt.

1. I have a system that supports multiple providers, say kubernetes and Docker. I'm trying out a new application to play with it. I want the lowest barrier to get it running (hello, world). The quickstart docs suggest I can "just run it." I will rely on the default provide

[2015-11-19 17:25] rtnpro commented on #407
:+1: @charliedrage, as I had already worked with ``docker-py`` in the past, I will start with migrating the ``docker`` provider to use ``docker`` API.

[2015-11-20 14:38] kadel commented on #378
How about if we just say that first provider in ` io.projectatomic.nulecule.providers` label is default provider? This way we don't need another configuration option.

[2015-11-20 14:42] vpavlin commented on #378
@kadel I think this splits metadata into 2 locations, which doesn't sound right to me. Also there have been some requests on being able to use Nulecule as a tar ball instead of Docker image and if somebody decides to do that, he would lose the ability to specify default provider

[2015-11-23 14:38] rtnpro commented on #409
I think it will be great if we could add some file ``~/.atomicapprc`` where the user can configure how atomicapp runs, e.g., override values in ``contants.py``.

@dustymabe what do you think?

[2015-11-24 01:24] cdrage opened #417 "Is printStatus even used anymore for Cockpit?"
ping @sub-mod

Is `printStatus` in `Utils.py` even used anymore for Cockpit?

After a search I found no usage of the function...

[code]

Or did we break it in the new refactor?

[2015-11-24 13:33] dharmit commented on #398
I hit this issue on `0.2.1`.

[2015-11-24 14:56] dustymabe commented on #417
@cdrage most likely we broke it in the refactor. I'll let him comment as well though

[2015-11-24 15:02] dustymabe commented on #409
@rtnpro on initial thought it seems reasonable, but when you think about the fact that we mostly run things in a container this could be kind of hard to pull off and get it right.

[2015-11-24 15:29] cdrage opened #419 "OS X support"
This relates to issue #409

We should support native OS X integration. One of the main points being that:

- /var/lib/atomicapp dir should not be used
- Docker is located at /usr/local/docker rather than /usr/bin/docker

[2015-11-24 15:30] cdrage commented on #409
Hi @luebken

I've opened up another issue (#419) in order to discuss OS X compatibility.

[2015-11-24 17:14] dustymabe commented on #409
Closing this issue

[2015-11-24 17:14] #409 closed

[2015-11-24 21:08] cdrage opened #421 "Should the Docker provider remove the deployed containers on failure?"
When deploying using the Docker provider, you may run into the issues of a container already being deployed on a current port.

Unfortunatley, even if it fails, the containers you deployed up until that point are lingering on.

Should the Docker provider go through all the deployed containers thus far and remove them? Or is this too dangerous?

[2015-11-24 21:14] dustymabe commented on #421
we will be adding some tooling around "removing" containers sometime soon as part of https://github.com/projectatomic/atomicapp/pull/308 .. Let's revisit after we have the full lifecyle in place..

We may decide that if a part of it fails then it is reasonable to have the user do a *clean* or equivalent before they start to run it again.

[2015-11-25 13:38] rtnpro commented on #421
It's a generic problem, and not just for Docker. As we had already discussed in the past, IIRC, deployments should be atomic. If the deployment of a component fails, we should rollback the deployment of any other deployed component.

[2015-11-25 13:40] dustymabe commented on #301
This is taken care of by https://github.com/projectatomic/atomicapp/pull/383.

[2015-11-25 13:40] #301 closed

[2015-11-25 13:40] dustymabe commented on #301
@rtnpro do you want to make a blog post for projectatomic.io ?

[2015-11-25 13:43] dustymabe commented on #310
Done in 3c549b7

[2015-11-25 13:43] #310 closed

[2015-11-25 13:44] dustymabe commented on #317
Done in 19e78d5

[2015-11-25 13:44] #317 closed

[2015-11-25 13:45] rtnpro opened #423 "Refactor ANSWERS to improve support for nested Nulecule applications"
Work on https://github.com/projectatomic/nulecule/issues/187.

[ ] - Implement a POC refactor
[ ] - Review workflow and get feedback
[ ] - Implement final version
[ ] - Add tests
[ ] - Merge for release

[2015-11-25 13:45] dustymabe commented on #421
@cdrage this is also #319

[2015-11-25 13:49] dustymabe commented on #396
This depends on our integration with atomic cli work. It won't take long to implement. Let's revisit this in a week or two.

[2015-11-25 13:55] rtnpro commented on #380
:+1:

[2015-11-25 13:57] rtnpro commented on #378
@vpavlin

we don't need to add another key, as in

[code]

We just need to update Nulecule spec to support params in the root level, to incorporate params in ``general`` section in the Nulecule spec file.

[2015-11-25 14:00] dustymabe commented on #309
@rtnpro considering #332 should we keep this open?

[2015-11-25 14:02] cdrage commented on #423
This will fix #398 right?

[2015-11-25 14:04] cdrage commented on #378
@rtnpro

Could you post in https://github.com/projectatomic/nulecule/issues/184 about your proposal?

[2015-11-25 14:06] dustymabe commented on #41
timeout... closing issue

[2015-11-25 14:06] dustymabe commented on #155
@cdrage did you fix this already?

[2015-11-25 14:08] dustymabe commented on #17
@aweiteka @goern is this still something we want?

[2015-11-25 14:08] cdrage commented on #155
@dustymabe I tried when I first started work on Atomic App. But it's not really needed anymore since everything is in constants.py

[2015-11-25 14:11] dustymabe commented on #257
@cdrage @rtnpro @navidshaikh what is the status of this?

[2015-11-25 14:15] cdrage commented on #257
@dustymabe It's done, we separated the respective tests to different folders and added a multitude of new tests.

[2015-11-25 14:15] #257 closed

[2015-11-25 14:15] dustymabe commented on #172
If we are moving to using the providers APIs rather than using the CLI then we should be able to close this: https://github.com/projectatomic/atomicapp/issues/407

For openshift provider I think we have PR already: https://github.com/projectatomic/atomicapp/pull/420

@aweiteka should we close this?

[2015-11-25 14:23] aweiteka commented on #391
Should land here: https://github.com/projectatomic/atomicapp/pull/420

[2015-11-25 14:26] aweiteka commented on #296
Consider landing here: https://github.com/projectatomic/container-best-practices

[2015-11-25 14:28] dustymabe commented on #295
We don't know if this is needed to make the initial openshift integration work, but if it is we need it for GA.

[2015-11-25 14:29] dustymabe commented on #252
needed for openshift work

[2015-11-25 14:30] aweiteka commented on #223
Technically this issue is resolved based on the initial list. Now we need *comprehensive* docs and *good* docs. :)

[2015-11-25 14:31] dustymabe commented on #191
timeout.. closing

[2015-11-25 14:31] #191 closed

[2015-11-25 14:33] cdrage commented on #186
Duplicate of #134.

Working on this in PR #415

[2015-11-25 14:33] #186 closed

[2015-11-25 14:33] aweiteka commented on #155
I think close this.

[2015-11-25 14:35] dustymabe commented on #19
looks like this may be taken care of by the work done by #290

[2015-11-25 14:48] dustymabe commented on #421
Ok let's get it in for GA then

[2015-11-25 16:19] dustymabe commented on #398
@cdrage I thought we talked about the implementation for this.. If we are deploying two instances of the same application:

* instance of exampleapp (nulecule) - with namespace "default"
    - appa (nulecule)
        + image1
        + appaa (nulecule)
            - image2
    - appb (nulecule)
        + image3
        + image4
* instance of exampleapp (nulecule) - with namespace "default1"
    -

[2015-11-25 16:29] #155 closed

[2015-11-25 16:41] cdrage commented on #398
@dustymabe

Yes, you're right, we should do it along those lines (especially for the Docker provider).

I was a tad confused with https://github.com/projectatomic/nulecule/issues/187 and @rtnpro proposal. But his one has to do more with namespacing in the answers.conf.

The docker provider should detect if it is an inherited application and act accordingly with naming the Docker containers.

[2015-11-25 17:37] dharmit commented on #294
:+1: me interested in this when it makes sense to add this.

[2015-11-25 17:39] dustymabe commented on #294
@dharmit probably in late January or early February. In the mean time if you want to pick up any issues marked as CDK2 - GA that would be great!

[2015-11-29 10:27] goern opened #425 "[epic] let atomicapp modify provider configs"
# Problem Statement
While deploying OpenShift configuration, it may be required to modify OpenShift's Security Context Constraints. This cant be done via `oc create` or some equivalent REST API call. Additionally there is no syntax within a Nulecule file to declare these SCC. See [Grant Access to the Privileged SCC](https://docs.openshift.com/enterprise/3.1/admin_guide/manage_scc.html#grant-access

[2015-11-30 10:29] rtnpro commented on #332
After doing quite some study (dnf, git commands), and going through argparse, [click](http://click.pocoo.org/5/): a python library for creating command line interfaces, I find that there's no need to fix the issue, as is.

Reasons are:
- Taking as example,  ``git`` CLI. It has multiple command groups, with options at the global level and and at the command group level. It does not let you mix and

[2015-11-30 14:49] aweiteka commented on #295
It's not a blocker to GA but a good feature.

[2015-11-30 19:12] dustymabe commented on #184
As part of the merge 7d4dbab we no longer unpack in cwd and we also give the user a message about where the installed files are that he/she can use that directory to manage the application. Closing this.

[2015-11-30 19:12] #184 closed

[2015-11-30 19:14] dustymabe commented on #223
Several things here:

1 - as @aweiteka pointed out the initial list has been done
2 - the examples have been broken out into nulecule-library github repo

we still need more docs and an uber example but that will come. Closing this issue

[2015-11-30 19:14] #223 closed

[2015-11-30 19:19] dustymabe commented on #285
This should be pretty easy.. All we need to do is update https://github.com/projectatomic/atomicapp/blob/master/docs/file_handling.md to be accurate with current architecture.

[2015-11-30 20:21] dustymabe commented on #309
Closing in favor of the work we are doing in #332.

[2015-11-30 20:21] #309 closed

[2015-11-30 20:26] dustymabe opened #428 "openshift: remove running components if one component fails"
Child issue of #319 for the openshift provider.

[2015-11-30 20:28] dustymabe opened #429 "kubernetes: remove running components if one component fails"
Child issue of #319 for the kubernetes provider.

[2015-11-30 20:28] dustymabe commented on #319
So this will require us to implement for each provider. Let's itemize those here:

- [ ] Docker provider.. Documented by #421
- [ ] Kubernetes provider.. Documented by #429
- [ ] Openshift provider.. Documented by #428

[2015-11-30 20:30] dustymabe commented on #319
@kadel do you want to take a look at #428 and #429. Maybe work with charlie on the work he is doing for #421.

Perhaps one way to do this would be to run "stop" but don't report any errors? I'm not sure.

[2015-12-01 12:27] kadel commented on #319
@dustymabe sure, I will look into that.

[2015-12-01 14:45] dustymabe commented on #331
@cdrage @rtnpro has the goal of this issue changed at all. I know there is https://github.com/projectatomic/atomicapp/issues/423 which might affect this.

[2015-12-01 14:55] dustymabe commented on #358
@kadel, do you mind looking at  this one too?

[2015-12-01 15:01] dustymabe commented on #396
Taking this for now as I need to make a decision on this with regards to atomic CLI + atomicapp for GA.

[2015-12-01 15:11] kadel commented on #358
yep, I have plans to look into this also.
I expect that we want to do this with openshift provider that uses api, right?
I have to dig deeper to openshift api, and find how to process templates with parameters.

[2015-12-01 15:41] dustymabe commented on #358
thanks!

[2015-12-01 16:59] aweiteka opened #430 "Unattended use case broken due to docker TTY option"
Executing `atomic run <atomicapp>` in a Jenkins job fails with `cannot enable tty mode on non tty input`. The unattended use case is important so we need to figure out a way to account for this requirement.

**Output**

[code]

[2015-12-01 17:00] cdrage commented on #430
Errr.

What type of Jenkins build are you using? Docker Jenkins slaves / libvirt ? It could be because it's trying to run docker-in-docker

[2015-12-01 17:22] dustymabe commented on #430
seems to work fine for the gate job we have been using.. probably need to understand the environment more so we can fix it.

[2015-12-01 17:37] aweiteka commented on #430
I'm not sure. I can find out. I know it's not docker-in-docker.

The point is if you're running a script and the host has `requiretty` in `/etc/sudoers` then you're going to be blocked. Maybe I misunderstand something.

[2015-12-02 16:44] cdrage opened #432 "Fix cockpit integration"
The introduction of our re-factor, broke cockpit integration with logging.

Cockpit uses `atomic` directly. See: https://github.com/cockpit-project/cockpit/blob/master/pkg/kubernetes/nulecule.js

Let's fix this before GA :+1:

[2015-12-03 03:42] dustymabe commented on #430
are these tests running via ssh? if so can you try to add the `-t`option to the ssh command to `Force pseudo-tty allocation`.

[2015-12-03 07:27] dharmit opened #433 "atomicapp install failing with 0.2.3"
0.2.2
[code]

0.2.3
[code]

WRT the error `Error response from daemon: Could not find the file /application-entity in container 35c2d605d4b4edaf4c91b9045d3261f0e01351274360c56c466428f96fe45842`:

[code]

Not sure if I am missing something or I need to RTFM. But thought I'd report here.

[2015-12-03 12:30] goern commented on #432
+1 fix it, cockpit is an important part of the story

[2015-12-03 12:32] goern opened #434 "set up integration test for atomicapp and cockpit"
Set up some centos based CI so that we can ensure to not break any cockpit workflows.

@stefwalter

[2015-12-03 14:16] dustymabe commented on #433
Will look at this today. Thanks for the report.

[2015-12-03 14:18] dustymabe commented on #397
cdrage is this fixed now with #422?

[2015-12-03 14:31] cdrage commented on #397
Yup. Thought that this would close automatically with the merge comment ^^ Closin'.

[2015-12-03 14:31] #397 closed

[2015-12-03 15:34] cdrage commented on #433
I'm unable to replicate the actual bug, is there any way possible that the /tmp dir is populating incorrect information? Could you clean the atomicapp tmp folder and see what happens?

[code]

[2015-12-03 16:06] cdrage commented on #331
@dustymabe With the persistent storage implementation we will need a way to pass persistent storage information to the provider (if we go the way of having a `def persistent_storage` function within the provider and the provider handling it). So yes, this still needs to be implemented.

[2015-12-03 23:29] cdrage opened #435 "Inherited app doesn't beautifully error out."
Found that when inheriting an application and (by accident) applying the name wrong under `source:` in the `Nulecule` file I get this nasty error output:

[code]

Let's beautify it.

[2015-12-03 23:33] cdrage opened #436 "Cannot use "external" with "file://""
Don't know if I'm doing something wrong here, but shouldn't this work?

[code]

blocking #398

[2015-12-04 15:16] goern commented on #436
This looks like you are hitting a limitation of atomicapp. The N.Spec defines that a URL should be the value of a source attribute, but atomicapp assumes that this is not a URL but a docker registry/repo/image string.

see https://github.com/projectatomic/atomicapp/blob/359ee4e914ea8b88c24a1b10fa74b0187a30ca34/atomicapp/nulecule/container.py#L50

[2015-12-04 17:14] cdrage opened #437 "Support file:// for source inheritence."
At the moment we use `docker://` for specifying inherited applications for Atomic App. In the future we should support `file://`, `https://`, `ssh://`, etc.

[2015-12-04 17:23] goern commented on #437
so what you say is "Atomic App shall comply to Nulecule Specification 0.0.2 section http://www.projectatomic.io/nulecule/spec/0.0.2/index.html#graphObject" ? ;)

[2015-12-04 17:24] cdrage commented on #437
@goern Yes sir!

We'll need to apply this to all URL's in the source :)

[2015-12-04 17:26] cdrage opened #438 "Atomic App does not fail on missing artifacts."
Specify your artifact in Nulecule and forget to add the actual artifact and you'll be pushing a blank artifact file to OpenShift / Kubernetes!

[code]

We should cleanly error out on this.

[2015-12-06 17:45] dustymabe opened #441 "Not detecting error from docker pull"
It appears the code continues on and does not error out when `docker pull` fails. From the code below we do still get an error but it should have stopped at the `docker pull`.

[code]

[2015-12-07 02:39] dharmit commented on #433
It works now. I faced this issue two days in a row before I reported it here. Closing it as it's no longer an issue.

[2015-12-07 02:39] #433 closed

[2015-12-07 11:56] stefwalter commented on #434
CC @sub-mod

[2015-12-07 19:26] cdrage commented on #378
timeout... ping @rtnpro

[2015-12-07 23:15] #332 closed

[2015-12-08 06:40] sub-mod commented on #432
depends on https://github.com/projectatomic/atomicapp/pull/415

[2015-12-08 07:10] vpavlin commented on #378
@rtnpro You are right

[2015-12-08 07:35] vpavlin commented on #438
I agree, we should check file existance

[2015-12-08 15:41] aweiteka opened #444 "Create asciinema screencast"
I think a screencast would help tell the story of Atomic App. Consider the simple https://asciinema.org/ tool to host one.

[2015-12-08 15:58] dustymabe commented on #444
Another tool which I have used before is https://github.com/theonewolf/TermRecord.

It makes a standalone html file that can be used to playback screencast.

[2015-12-08 16:12] dustymabe opened #445 "Use docker api rather than docker binary"
part of #407

will allow us to stop embedding docker binary inside our containers.

[2015-12-08 16:15] dustymabe opened #446 "Use kubernetes api rather than kubectl command"
part of #407.

Will allow us to not require kubectl to be installed on the host.

[2015-12-08 16:16] dustymabe commented on #407
- [ ] openshift #321
- [ ] mesos #392
- [ ] docker #445
- [ ] kubernetes #446

[2015-12-08 18:06] kadel commented on #358
@markllama I have been working on openshift provider that is using OpenShift api - https://github.com/projectatomic/atomicapp/pull/420

I have been testing templates on your example. With that new provider it should be working ;-)
I just had to add parameters to Nulecule and artifacts (see https://github.com/kadel/openshift3mlbparks/commit/0a0c89ceba94b2ad1b999970590d92471fe5c8a4)

Only problem wi

[2015-12-08 19:53] #380 closed

[2015-12-08 21:19] dustymabe commented on #332
Specifically this merged commit allow for options to go anywhere on the command line: 52bae87

[2015-12-09 15:27] cdrage opened #447 "Pass root answers.conf to inherited applications."
As per @vpavlin 's comment on https://github.com/projectatomic/nulecule/issues/185

We should be passing the root answers.conf to all inherited applications

Specifically, this line of code:

https://github.com/projectatomic/atomicapp/blob/master/atomicapp/nulecule/base.py#L313

Thus when deploying an inherited application, instead of using the default namespace (currently just `default`) we will

[2015-12-09 17:40] kadel commented on #319
I have been thinking about this a little bit.
One way how I would solve this is checking [here](https://github.com/projectatomic/atomicapp/blob/6b8eea7f17d9ab7cbe693a12629183c3d6dee3ca/atomicapp/nulecule/base.py#L264) if `provider.deploy()` didn't failed , either by making `deploy()` returning some value, or making sure provider always raises exception when something is wrong, and catching it here

[2015-12-09 20:45] dustymabe commented on #389
talked with rtnpro today. we agreed that this should/could be handled by another command rather than stop.

[2015-12-10 14:00] dustymabe opened #448 "Support for external applications to satisfy dependencies"
If a user wants to use an externally provided database, such as one set up by their IT or a hosted solution such as a cloud service offered by AWS, then we should enable them to plug that information in. This would involve not starting the related container and passing the **endpoint**/**credentials** information into the other containers appropriately.

[2015-12-10 14:56] goern commented on #448
This should be a generalized pattern a la OpenShift https://docs.openshift.com/enterprise/3.0/dev_guide/integrating_external_services.html#external-saas-provider

[2015-12-10 21:26] dustymabe commented on #448
Thanks for the link. I guess what we need to figure out how to do is allow for the pieces of the Nulecule application be specified by the user as external and generate the appropriate json/yaml accordingly.

[2015-12-11 11:00] goern commented on #448
I would be very happy with that approach, maybe an external service is a requirement?

[2015-12-11 22:03] dustymabe opened #451 "add options for verifying tls for providers api endpoints"
we need the ability for a user to disable tls verification: `providertlsverify=False`

also need the option to be able to pass in a path to a cafile `providercafile=file`

This information can then easily be passed in to the requests api: `requests.get(url,verify=False)` or `requests.get(url,verify=cafile)`.

[2015-12-14 14:32] rtnpro commented on #389
@dustymabe I am implementing ``clean`` command for it, ok?

[2015-12-14 14:47] cdrage opened #452 "Kubernetes undeployment should *only* scale to 0."
As brought up in comments in here: https://github.com/projectatomic/atomicapp/pull/392/files by @kadel we should be scaling kubernetes down to 0 rather than deleting https://github.com/projectatomic/atomicapp/blob/master/atomicapp/providers/kubernetes.py#L203 as per the current container lifecycle (`stop` reduces to 0 / stops the container rather than explicitly deletes in openshift and docker pro

[2015-12-14 21:20] dustymabe commented on #321
This efforts here are largely accomplished in the open pull request #454.

There are a few items that re left un-settled:

- Support for nesting of nulecule applications (can't yet point to another nulecule)
- Support for passing in an answers.conf file

[2015-12-15 06:13] rtnpro commented on #421
This issue should be renamed to ``Atomic deployments``, I think :)

[2015-12-15 11:10] kadel opened #458 "Implement stop for OpenShift API provider"
Implement stop for OpenShift provider from PR #420

[2015-12-15 11:12] kadel opened #459 "Add unit tests for OpenShift API provider"
Add unit tests for OpenShift provider from PR #420

[2015-12-15 12:27] kadel commented on #358
I think we can close this. This should be fixed in new OpenShift provider.

[2015-12-15 14:14] dustymabe commented on #358
@markllama Do you possibly have time to verify this is fixed?

[2015-12-15 14:32] dustymabe commented on #391
@aweiteka did you mean unit tests?

[2015-12-15 14:44] aweiteka commented on #391
@dustymabe yes, unit tests, now tracked in issue #459

[2015-12-15 14:44] dustymabe commented on #391
Closing in favor of #459

[2015-12-15 14:44] #391 closed

[2015-12-15 20:31] dustymabe commented on #252
Closing.. Not needed for now. The openshift integration work done in #454 doesn't require this.

[2015-12-15 20:31] #252 closed

[2015-12-15 20:43] dustymabe opened #461 "native openshift: support for nested nulecule applications"
Currently nested nulecule applications won't work when running `oc new-app` because the pod that runs the atomicapp code doesn't have access to the docker daemon so it can't pull down other containers. I'm not sure of the best way to solve this right now but we need to support running nested nulecules via `oc new-app`.

[2015-12-15 20:50] dustymabe opened #462 "native openshift: support for passing in answers.conf"
Right now not sure of the way we are going to pass in answers when someone runs `oc new-app <IMAGE>`. Figuring this out might not involve code work but certainly will need some docs so opening an issue to track it is fair.

[2015-12-15 20:51] dustymabe commented on #321
Closing this issue. The remaining items are:

- Support for nesting of nulecule applications: https://github.com/projectatomic/atomicapp/issues/461
- Support for passing in an answers.conf file: https://github.com/projectatomic/atomicapp/issues/462

[2015-12-15 20:51] dustymabe commented on #321
The bulk of this work was done in #454.

[2015-12-15 20:51] #321 closed

[2015-12-16 13:21] rtnpro commented on #459
@kadel I am assigning it to myself.

[2015-12-16 16:54] #357 closed

[2015-12-18 05:04] dustymabe opened #467 "Add ability to just grab answers.conf from app"
For Atomic CLI I can easily envision people living completely in the following few actions for now:

- request and get answers.conf file -> extraced to current working dir
- edit answers.conf file
- run app and provide answers.conf
- stop app

We need to provide them a way to just grab an answers.conf file without having to do a full install/unpack.

[2015-12-18 15:29] dustymabe commented on #358
ETIMEOUT.. @kadel do you mind trying this exact problem and verify it is fixed and then close this issue?

[2015-12-18 15:31] dustymabe commented on #389
We had to re-open because of issues with stop on docker provider. see comments in #457 for details.

[2015-12-18 15:32] dustymabe commented on #295
@kadel, while you are deep in the openshift space I'm going to assign this to you. We can't re-assign accordingly if we need to.

[2015-12-18 16:10] ncdc commented on #18
If the pod's container expects to use the environment variables for the services that Kube/OpenShift automatically inject into the pod/container, then yes, you must create the services first before creating the pods. But it's probably better to have the pod look up the service via DNS. For example, if you have a service called "mysql", the pod can just refer to it via the DNS name "mysql", and it

[2015-12-18 16:15] dustymabe commented on #18
Another note here.. In the future we are considering making two different passes over the artifacts. One of them deploys services/rcs etc... And the next pass scales the rcs up from 0 to N.

@ncdc would this approach work for that first "non-DNS" case? Since the pods haven't been created yet, because they are scaled down to 0, will they finally have the env vars once they are created after scaling

[2015-12-18 16:18] ncdc commented on #18
Yes, env vars are injected when pods are created

[2015-12-18 19:50] dustymabe commented on #18
I think this will be taken care of a future restructure we are planning to do where we do a first pass to create services/rcs/dcs and then another pass to scale up the rcs/dcs. In this case the pods won't get created until the rc/dc gets scaled from 0 to N and they will get created with the appropriate environment variables.

[2015-12-18 22:34] cdrage opened #470 "add `atomicapp init` command"
We should have a template file `atomicapp init command?` with a basic example. Similar to how say Nomad or Kubernetes does theres.

[2015-12-18 22:37] cdrage opened #471 "Updated docs / list of current functions from Nulecule specification"
We should have a README or current functions that are implemented by Atomic App from the Nulecule spec. Or a basic overview.

At the moment it's frustrating that we have to go to the Nulecule repo to figure out how to use Atomic App.

[2015-12-21 14:19] #400 closed

[2015-12-21 15:52] aweiteka commented on #462
The pattern to inject local files, available today, is to use [secrets](https://docs.openshift.org/latest/dev_guide/secrets.html). This mounts a local file into a pod.

[code]

So the question then is how to generate the answerfile in the first place. This is a general problem not specific to atomicapp. I have an application with a complex config file ([example](https://github.com/docker/distribut